<div class="dialog">
  <button
    class="button-close-dialog"
    (click)="closeDialog(false)">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.765 21.765" class="button-close-dialog__icon">
      <g transform="translate(0 -0.001)">
        <g transform="translate(0 0.001)">
          <path class="a" d="M12.084,10.883l9.431-9.431a.85.85,0,0,0-1.2-1.2L10.882,9.681,1.451.25a.85.85,0,0,0-1.2,1.2L9.68,10.883.249,20.314a.85.85,0,0,0,1.2,1.2l9.431-9.431,9.431,9.431a.85.85,0,0,0,1.2-1.2Z" transform="translate(0 -0.001)"/>
        </g>
      </g>
    </svg>
  </button>
  <h2 class="dialog__title">Was möchtest du mit deinem <br> Dokument machen?</h2>
  <div class="button-wrapper">
    <button
      class="button-wrapper__item button-wrapper__item_rename"
      (click)="sheetSelect('rename')">
      <span class="button-wrapper__text">Umbenennen</span>
    </button>
    <a
      [href]="data"
      target="_blank"
      class="button-wrapper__item button-wrapper__item_open"
      (click)="sheetSelect('OPEN DOCUMENT')">
      <span class="button-wrapper__text">Vorschau</span>
    </a>
    <button
      class="button-wrapper__item button-wrapper__item_remove"
      (click)="sheetSelect('remove')">
      <span class="button-wrapper__text">Löschen</span>
    </button>
  </div>
</div>
