@import "../../theme/variables.scss";
.categorie-header{
    padding-top:85px;
    margin-bottom:40px;
}
.categorie-wrapper{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    position: relative;
}

.categorie-icon{
    width:80px;
    height:80px;
    border-radius:50px;
    background-color:$primary;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right:25px;
    &__image{
        height:40px;
    }
}
.categorie-detail{
    display: flex;
    align-items: center;
    &__label{
        color:$blue;
        font-family: $gb;
        font-size: 30px;
        margin-right:50px;
    }
    &__back{
        background-color:transparent;
        margin-right:50px;
    }
    &__next{
        background-color: transparent;
    }
}
.categorie-edit-status{
    display: flex;
    align-items:center;
    position: absolute;
    right:0;
    top:50%;
    transform: translate(0, -50%);
    &__icon{
        background-color:$yellow;
        width:50px;
        height:50px;
        border-radius:50%;
        display:flex;
        align-items:center;
        justify-content: center;
        margin-right:40px;
    }
    &__image{
        height:25px;
    }
}
.categorie-close-button{
    background-color: transparent;
    width:25px;
    height:25px;
    &__icon{
        height:100%;
        fill:$black;
    }
}
/* = MEDIA = */
@media screen and (max-width:1500px){
    .categorie-header{
        padding-right:100px;
        padding-left:100px;
    }
}

@media screen and (max-width:992px){
    .categorie-header{
        padding-right:75px;
        padding-left:75px;

    }
    .categorie-icon{
        width:50px;
        height:50px;
        &__image{
            height:30px;
        }
    }
    .categorie-detail{
        &__label{
            font-size: 20px;
        }
    }
    .categorie-edit-status{
        &__icon{
            height:35px;
            width:35px;
        }
        &__image{
            height:20px;
        }
    }
    .categorie-close-button{
        width:20px;
        height:20px;
    }
}
@media screen and (max-width:768px){
    .categorie-header{
        padding-right:0;
        padding-left:0;
        position: relative;
        padding-top: 40px;
        z-index: 1;
        background-color:#F0F0F0;
        margin-bottom:25px;
        border-bottom-left-radius: 50px;
        &::before{
            content:'';
            position: absolute;
            left:0;
            top:0;
            width:100%;
            height:145px;
            background-color: $primary;
            border-bottom-left-radius: 50px;
        }
    }
    .categorie-wrapper{
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .categorie-icon{
        margin:0;
        width:inherit;
        height:inherit;
        border-radius:0;
        order: -2;
        &__image{
            height:75px;
            opacity: .5;
        }
    }
    .categorie-detail{
        width:100%;
        padding:45px 0 25px 0;
        justify-content: space-between;
        &__label{
          margin:0;
          width:150px;
        }
    }
    .categorie-edit-status{
        position: inherit;
        right:inherit;
        top:inherit;
        transform: inherit;
        order: -1;
        &__icon{
            height: 45px;
            width:45px;
            margin-right:30px;
        }
        &__image{
            height:25px;
        }
    }
}
@media screen and (max-width:667px){}
@media screen and (max-width:640px){}
@media screen and (max-width:568px){}
@media screen and (max-width:480px){
     .categorie-detail{
        &__label{
          font-size: 16px;
        }
        &__back{
            margin-right:40px;
        }
    }
    .categorie-edit-status{
        &__icon{
            height: 40px;
            width:40px;
            margin-right:20px;
        }
        &__image{
            height:20px;
        }
    }
}
@media screen and (max-width:414px){}
@media screen and (max-width:375px){}
@media screen and (max-width:360px){}
@media screen and (max-width:320px){}
/* = MEDIA END = */