@import "../../theme/variables.scss";
.category-header{
    padding-top:60px;
}
.category-header-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}
.tab-navigation{
    margin-bottom:65px;
    display: flex;
    justify-content: space-between;
    &__button{
        display: flex;
        align-items:center;
        width:160px;
        background-color:transparent;
        padding-bottom:10px;
        border-bottom:2px solid transparent;
        &:hover{
            border-color:#BDE8E3;
        }
        &.active{
            border-color:$primary;
            touch-action: none;
            .tab-navigation__icon{
                path{
                    fill:#989898;
                }
            }
        }
    }
    &__icon{
        width:32px;
        margin-right:15px;
        flex-shrink: 0;
        path{
            fill:$primary;
        }
    }
    &__text{
        text-align: left;
        font-size: 17px;
        font-family: $workSansRegular;
    }
}
.category-image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    height: 265px;
}
.category-image_mobile{
    display: none;
}
.category-detail{
    position: relative;
}
.category-detail_show-image{
    height: 260px;
    margin-bottom: 25px;
}
.category-detail-info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    &__icon{
        width:80px;
        height:80px;
        border-radius:50px;
        background-color:$primary;
        display: flex;
        align-items:center;
        justify-content: center;
        margin-right:25px;
    }
    &__image{
        height:40px;
    }
    &__label{
        color:$blue;
        font-family: $workSansBold;
        font-size: 30px;
        position: relative;
        z-index: 1;
    }
}
// MOBILE NAVIGATION
.mobile-category-header{
    position: fixed;
    z-index: 10;
    left: 0;
    top:-100%;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back-button{
    position: absolute;
    left:10px;
    top:20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
}
.back-button__icon{
    fill: #ffffff;
    height: 14px;
    margin-right: 5px;
}
.back-button__label{
    color: #ffffff;
    font-size: 12px;
}
.mobile-navigation{
    padding: 0 7px;
    justify-content: space-between;
    margin-bottom: 10px;
    display: none;
}
.mobile-navigation__button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 3px 6px #00000029;
    position: relative;
    svg{
        fill:#323132;
        height: 14px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.mobile-category-information{
    display: flex;
    align-items:center;
    width: 90%;
    justify-content: center;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    &__icon{
        height:55px;
        margin-right:20px;
    }
    &__label{
        color: #FFFFFF;
        font-size:20px;
        font-family: $workSansSemiBold;
        width:130px;
        line-height: 1.25;
    }
}
@keyframes jumpDown {
        50%{
            top: -75%;
            opacity: .5; 
        }
        100%{
            top: 0;
            opacity: 1;
        }
    }
/* = MEDIA = */

@media screen and (max-width:1500px){
    .category-header{
        padding-left:5vw;
        padding-top:40px;
    }
    .tab-navigation{
        &__button{
            width:135px;
        }
        &__icon{
            width:25px;
            margin-right:10px;
        }
        &__text{
            font-size: 15px;
        }
    }
    .category-detail{
        &__icon{
            width:70px;
            height:70px;
        }
        &__image{
            height:40px;
        }
        &__label{
            font-size: 22px;
        }
    }
}
@media screen and (max-width:1300px) {
    .category-detail-info{
        &__icon{
            width:60px;
            height:60px;
            margin-right:10px;
        }
        &__image{
            height:30px;
        }
        &__label{
            font-size: 25px;
        }
    }
    .category-image{
        height: 250px
    }
}
@media screen and (max-width:1200px){
    .tab-navigation{
        &__button{
            width:120px;
            padding-bottom:10px;
        }
        &__icon{
            width:20px;
            margin-right: 5px;
        }
        &__name{
            font-size: 14px;
        }
    }
}
@media screen and (max-width:992px){
    .tab-navigation{
        flex-wrap:wrap;
        justify-content: space-between;
        margin-bottom: 30px;
        &__button{
            width:30%;
            padding-bottom:5px;
            margin-bottom:10px;
            border-width:1px;
            &:last-child{
                margin-bottom:0;
            }
        }
    }
    .category-detail-info{
        &__label{
            font-size: 20px;
        }
    }
    .category-detail_show-image{
        height: 210px;
    }
    .category-image{
        height: 150px;
    }
}
@media screen and (max-width:768px){
    .category-image{
        height: inherit;
        width: 80%;
        max-width: 300px;
    }
    .tab-navigation{
        display: none;
    }
    .category-header{
        position: relative;
        padding:0;
        padding-top: 100px;
        &:before{
            content: '';
            width:100%;
            height: 100px;
            background-image: url('../../../assets/image/profile-navigation/1.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center bottom;
            position: absolute;
            left: 0;
            top: -100%;
            opacity: 0;
            animation: jumpDown 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            animation-fill-mode: forwards;
        }
        .container{
            padding: 0;
            max-width: 100%;
            width: 100%;
        }
    }
    .mobile-category-header{
        animation: jumpDown 1.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-fill-mode: forwards;
        width: 100%;
        height:100px;
        margin-bottom: 10px;
        background-image: url('../../../assets/image/profile-navigation/2.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }
    // NEW STYLES
    .mobile-navigation{
        display: flex;
    }
    .category-detail_show-image{
        height: auto;
        margin-top: 15px;
        margin-bottom: 0;
    }
    .category-detail{
        display: flex;
        justify-content: center;
    }
    .category-detail-info{
        display: none;
    }
    .category-image{
        position: inherit;
        left: inherit;
        top: inherit;
        transform: translate(0,0);
    }
    .category-image_desktop{
        display: none;
    }
    .category-image_mobile{
        display: block;
    }
}
@media screen and (max-width:667px){}
@media screen and (max-width:640px){}
@media screen and (max-width:568px){}
@media screen and (max-width:480px){}
@media screen and (max-width:414px){}
@media screen and (max-width:375px){}
@media screen and (max-width:360px){
    .mobile-category-information{
        &__icon{
            height:40px;
        }
        &__label{
            font-size: 17px;
            width:115px;
        }
    }
}
@media screen and (max-width:320px){}
/* = MEDIA END = */