<div class="categorie-header">
  <div class="container">
    <div class="categorie-wrapper">
      <div class="categorie-icon">
        <img
          [src]="iconCategory"
          class="categorie-icon__image">
      </div>
      <div class="categorie-detail">
        <p class="categorie-detail__label">{{ nameCategory }}</p>
        <div class="categorie-detail__navigation">
          <button class="categorie-detail__back">
            <img src="../assets/image/back.svg">
          </button>
          <button
            class="categorie-detail__next"
            (click)="nextCategory()">
            <img src="../assets/image/next.svg">
          </button>
        </div>
      </div>
      <div class="categorie-edit-status">
        <div class="categorie-edit-status__icon">
          <img
            src="../assets/image/profile/pencil.svg"
            class="categorie-edit-status__image">
        </div>
        <button
          class="categorie-close-button"
          (click)="closeCategory()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.765 21.765" class="categorie-close-button__icon">
            <g transform="translate(0 -0.001)">
              <g transform="translate(0 0.001)">
                <path class="a" d="M12.084,10.883l9.431-9.431a.85.85,0,0,0-1.2-1.2L10.882,9.681,1.451.25a.85.85,0,0,0-1.2,1.2L9.68,10.883.249,20.314a.85.85,0,0,0,1.2,1.2l9.431-9.431,9.431,9.431a.85.85,0,0,0,1.2-1.2Z" transform="translate(0 -0.001)"/>
              </g>
            </g>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
