
<section
  class="agb">
  <div class="agb-header">
    <h2 class="agb-header__title">AgB'S</h2>
    <button
      class="close-dialog-button"
      (click)="closeDialog()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.765 21.765" class="close-dialog-button__icon">
        <g transform="translate(0 -0.001)">
          <g transform="translate(0 0.001)">
            <path class="a" d="M12.084,10.883l9.431-9.431a.85.85,0,0,0-1.2-1.2L10.882,9.681,1.451.25a.85.85,0,0,0-1.2,1.2L9.68,10.883.249,20.314a.85.85,0,0,0,1.2,1.2l9.431-9.431,9.431,9.431a.85.85,0,0,0,1.2-1.2Z" transform="translate(0 -0.001)"/>
          </g>
        </g>
      </svg>
    </button>
  </div>
  <div class="agb-body">
    <div class="info-wrapper">
      <h2 class="info-wrapper__title">Präambel</h2>
      <p class="info-wrapper__text">
        Diese Allgemeinen Nutzungsbedingungen der Beint GmbH (im Folgenden „BEINT“) gelten vorbehaltlich individueller anderslautender Abreden aus- schließlich für jede vertragliche Vereinbarung oder Nutzung, die auf Grundlage der auf www.beint.de oder auf anderen Websites, die diese Nutzungsbedin- gungen enthalten, angebotenen Dienste (im Folgenden „Dienstleistungen“) erfolgt. Entgegenstehende oder von diesen Allgemeinen Bedingungen abwei- chende Allgemeinen Geschäftsbedingungen des Kunden, Nutzers, Bewerbers oder Vertragspartners (im Folgenden „Nutzer“) gelten nicht, es sei denn, die BEINT hat ihrer Geltung ausdrücklich schriftlich zugestimmt. Diese Allgemei- nen Bedingungen gelten auch dann, wenn BEINT in Kenntnis entgegenste- hender oder von den Allgemeinen Nutzungsbedingungen abweichenden Be- dingungen des Nutzers die Leistung an den Nutzer vorbehaltlos ausführt.
      </p>
      <h2 class="info-wrapper__title">
        1. Vertragsgegenstand
      </h2>
      <p class="info-wrapper__text">
        a. BEINT will es den Nutzern seiner Internetplattform ermöglichen, elektroni- sche Bewerbungsunterlagen in digitaler Form (z.B. als pdf-File) zielgerichtet einem bestimmten Stellenanbieter (im Folgenden „Arbeitgeber“) zuleiten zu lassen.
      </p>
      <h2 class="info-wrapper__title">3. Benachrichtigungen an den Nutzer</h2>
      <p class="info-wrapper__text">
        a. Der Nutzer kann in den Account-Einstellungen die Zusendung von Be- nachrichtigungen durch BEINT ermöglichen oder verbieten. Voreingestellt ist die Zusendung von Benachrichtigungen möglich. Neben Informationen zu laufenden Bewerbungsverfahren werden auch E-Mail-Newsletter versandt.
      </p>
      <p class="info-wrapper__text">
        b. Der Nutzer kann dem Erhalt aller Benachrichtigungen jederzeit gebühren- frei widersprechen.
      </p>
      <h2 class="info-wrapper__title">4. Rechte und Pflichten des Nutzers</h2>
      <p class="info-wrapper__text">
        a. Der Nutzer erhält das nicht ausschließliche, auf die Nutzungszeit bzw. Vertragslaufzeit beschränkte Recht, auf die Softwarefunktionalitäten via Inter- net zuzugreifen. Darüber hinausgehende Rechte erhält der Nutzer nicht. b. Der Nutzer sichert zu, dass alle von ihm angegebenen Daten wahr und vollständig sind. Der Nutzer ist verpflichtet, die Daten hinsichtlich aller von ihm genutzten Dienstleistungen während der gesamten Vertragslaufzeit wahr und vollständig zu halten. Falls sich jegliche der angegebenen Daten ändern, muss der Nutzer diese Daten unverzüglich anpassen und korrigieren. Falls Sie unvollständige oder falsche Angaben machen, hat BEINT das Recht, den Account des Nutzers und den Zugang zu allein Plattformen der BEINT vo- rübergehend oder dauerhaft zu sperren und/oder das Vertragsverhältnis zu beenden.
      </p>
      <p class="info-wrapper__text">
        c. Der Nutzer sichert zu, dass er das 16. Lebensjahr vollendet hat. d. Jeder Nutzer darf nur einen Account erstellen. Der Account ist nicht übertragbar.
      </p>
      <p class="info-wrapper__text">
        b. Durch Anlegen eines Nutzerprofils kommt der Vertrag zur Nutzung zwi- schen dem Nutzer und BEINT wie folgt zu Stande: Die Möglichkeit zur Nutzung der auf den BEINT-Websites angebotenen Anwendungen stellt kein Angebot, sondern nur eine Aufforderung zur Abgabe eines Angebots dar. Durch die Anmeldung gibt der Nutzer ein Angebot zum Abschluss des Vertrages über die Nutzung von Dienstleistungen ab. BEINT nimmt dieses Angebot des Nutzers durch Bereitstellung der entsprechenden Dienste an. Erst durch diese Annah- e. me kommt der Vertrag zwischen dem Nutzer und BEINT zustande. BEINT ist · nicht zum Vertragsschluss verpflichtet. Bei Inanspruchnahme von entgeltlichen Leistungen akzeptiert der Nutzer die damit verbundene Zahlungsverpflichtung durch Klicken auf das in diesem Fall angebotene Bestätigungsfeld.
      </p>
      <p class="info-wrapper__text">
        c. Es ist nicht zulässig, die Dienstleistungen auf andere Weise kommerziell zu nutzen, z. B. um die Dienstleistungen eines Unternehmens zu bewerben. Die diesen Nutzungsbedingungen unterstehenden Dienstleistungen sind nur für die individuelle Arbeitssuche natürlicher Personen als Angestellte oder · Freiberufler vorgesehen.
      </p>
      <h2 class="info-wrapper__title">2. Datennutzung durch BEINT/Datenschutz</h2>
      <p class="info-wrapper__text">
        a. Die von dem Nutzer z.B. durch Eintragung in die Profilmaske an BEINT übermittelten personenbezogenen Daten werden auf von BEINT bereitgestell- ten Speichermedien gespeichert und an Mitarbeiter suchende Unternehmen weitergeleitet. Diese Daten sind somit für Arbeitgeber und BEINT einzusehen und unbeschränkt zu nutzen.
      </p>
      <p class="info-wrapper__text">
        b. Innerhalb des Nutzer-Accounts speichert BEINT die Bewerbungen des Nutzers (einschließlich der jeweiligen Anhänge wie Lebenslauf oder Anschrei- ben), in einer Historie, auf die über den Nutzer-Account zugegriffen werden kann.
      </p>
      <p class="info-wrapper__text">
        c. BEINT erwirbt keine Rechte an den vom Kunden im Rahmen der Nutzung der Leistungen gespeicherten Daten (insbesondere personenbezogene Daten Dritter). BEINT ist jedoch berechtigt, diese Daten ausschließlich auf Weisung des Kunden nach Maßgabe der nachfolgenden Bestimmungen und im Rahmen dieses Vertrages zu nutzen.
      </p>
      <p class="info-wrapper__text">
        d. Im Falle der Verarbeitung personenbezogener Daten im Auftrag wird BEINT personenbezogene Daten ausschließlich im Rahmen der getroffenen Vereinbarung und nach Weisung des Kunden erheben, verarbeiten, nutzen oder auf diese zugreifen. Für den Fall der Auftragsdatenverarbeitung gelten die gesondert abzuschließenden Vereinbarungen über die Auftragsverarbeitung ergänzend.
      </p>
      <p class="info-wrapper__text">
        e. Bei der Auftragsverarbeitung ist hinsichtlich personenbezogener Daten grundsätzlich der Kunde für die Einhaltung der Regelungen nach der Daten- schutz-Grundverordnung (DSGVO) verantwortlich. f. Der Nutzer bleibt sowohl im vertragsrechtlichen wie im datenschutz- rechtlichen Sinne „Herr der Daten“. Ob und in welchem Umfang Dritte Daten eingeben oder auf solche zugreifen, bleibt allein in der Disposition des Kunden. Soweit der Kunde Dritte insoweit zur Nutzung von personenbezogenen Daten zulässt, wird der Kunde für eine entsprechende Organisation der Berechti- gungsverwaltung, der Passwortvergabe etc. sorgen.
      </p>
      <p class="info-wrapper__text">
        g. Der Nutzer ist grundsätzlich nicht berechtigt, Zugang zu den Räumlichkei- ten im Rechenzentrum der BEINT zu verlangen, in denen die von ihm genutz- ten Leistungen technisch betrieben werden. Hiervon unberührt bleiben Zutritts- rechte des Kunden nach schriftlicher Anmeldung zur Prüfung der Einhaltung der Erfordernisse gemäß Datenschutz-Grundverordnung.
      </p>
      <p class="info-wrapper__text">
        h. BEINT stellt die technischen und organisatorischen Sicherheitsvorkehrun- gen und Maßnahmen gemäß Art. 32 der Datenschutz-Grundverordnung sicher. i. Bei Beendigung dieses Vertrages ist BEINT nicht weiter berechtigt, die Daten zu nutzen. BEINT wird die Löschung anschließend innerhalb von dreißig Tagen vornehmen soweit nichts anderes vereinbart ist. Die Daten können in einem üblichen Format dem Kunden gegen Kostenerstattung übergeben werden.
      </p>
      <p class="info-wrapper__text">
        j. BEINT kann die Leistungen durch Unterauftragnehmer im In- und Ausland erbringen. Bei Subunternehmern außerhalb des Europäischen Wirtschafts- raums wird ein ausreichendes Datenschutzniveau durch die BEINT sicherge- stellt.
      </p>
      <p class="info-wrapper__text">
        Der Nutzer ist verpflichtet, als Profilbild im Nutzerprofil nur ein solches Foto zu verwenden, auf dem der Nutzer klar und deutlich erkennbar ist. Der Nutzer stellt sicher, dass die öffentliche Wiedergabe des von ihm übermittelten Profil-Fotos auf den BEINT-Websites nach geltendem Recht erlaubt ist. Die Nutzung von Fo- tos oder Abbildungen anderer oder nicht existierender Personen oder an- derer Wesen (Tiere, Fantasiewesen etc.) oder von Logos als Profilbild ist nicht gestattet. zu garantieren und gewährleisten, dass er alle Rechte an den von ihm bereitgestellten Inhalten hat oder über eine Lizenz für die Inhalte verfügt, die erforderlich ist, um BEINT die Rechte gemäß Ziffer 5 einzuräumen, und dass die Inhalte und deren Nutzung durch BEINT nicht gegen gelten- de rechtliche Bestimmungen verstößt und keine geistigen Eigentumsrech- te oder sonstigen Rechte Dritter verletzt.
      </p>
      <p class="info-wrapper__text">Es ist dem Nutzer insbesondere Folgendes untersagt:</p>
      <ul class="list">
        <li class="list-item">Durchführung, Bewerbung und Förderung von Strukturvertriebs-maßnahmen;</li>
        <li class="list-item">
          Verwendung pornografischer, gewaltverherrlichender, missbräuchli-cher, sittenwidriger oder Jugendschutzgesetze verletzende Inhalte oder Bewerbung, Angebot und/oder Vertrieb von pornografischen, gewaltverherrlichenden, missbräuchlichen, sittenwidrigen oder Ju- gendschutzgesetze verletzende Waren oder Dienstleistungen;
        </li>
        <li class="list-item">
          Verwendung von Techniken oder automatisierte andere Dienstleis- tungen, die darauf abzielen oder dazu führen, dass Aktivitäten von Nutzern falsch angezeigt werden, z. B. durch die Verwendung von Bots, Bot-Nets, Scripts, Apps, Plugins, Erweiterungen oder anderen automatisierten Instrumenten, um Inhalte abzuspielen, Nachrichten zu verschicken, Kommentare zu posten oder andere Handlungen auszuführen;
        </li>
        <li class="list-item">
          eine natürliche Person oder ein Unternehmen zu belästigen, zu be- drohen, zu beleidigen oder zu diffamieren, aufgrund von Ge- schlecht, Rasse, Religion oder Überzeugungen zu verunglimpfen oder zu diskriminieren, oder unwahre Behauptungen über eine na- türliche oder juristische Person aufzustellen oder zu verbreiten;
        </li>
        <li class="list-item">
          Verwendung von gesetzlich (z. B. durch das Urheber-, Marken-, Pa- tent-, Geschmacksmuster- oder Gebrauchsmusterrecht) geschütz- ten Inhalten, ohne dazu berechtigt zu sein, oder Bewerbung, Ange- bot und/oder Vertrieb von gesetzlich geschützten Waren oder Dienstleistungen, ebenfalls ohne dazu berechtigt zu sein; oder
        </li>
        <li class="list-item">
          Vornahme oder Förderung wettbewerbswidriger Handlungen, ein- schließlich progressiver Kundenwerbung (wie Ketten-, Schneeball- oder Pyramidensysteme);
        </li>
        <li class="list-item">
          Verbreitung und öffentliche Wiedergabe von Inhalten der BEINT- Websites oder von anderen Nutzern, außer diese Verbreitung und öffentliche Wiedergabe sind durch BEINT vorgesehen oder der an- dere Nutzer hat der Verbreitung und öffentlichen Wiedergabe zuge- stimmt.
        </li>
      </ul>
      <p class="info-wrapper__text">
        f. Persönliche Zugangsdaten (Kennwort und Passwort) dürfen nicht an Dritte weitergegeben werden und sind vor dem Zugriff durch Dritte geschützt aufzubewahren. Sie müssen zur Sicherheit vor der ersten Inbetriebnahme sowie sodann in regelmäßigen Abständen geändert werden. Soweit Anlass zu der Vermutung besteht, dass unberechtigte Personen von den Zugangsdaten Kenntnis erlangt haben, hat der Kunde diese unverzüglich zu ändern. Auf PC, USB-Stick und CD-ROM dürfen sie nur in verschlüsselter Form gespeichert werden.
      </p>
      <p class="info-wrapper__text">
        g. Sollen von BEINT besondere Kategorien personenbezogener Daten im Sinne des Art. 9 Datenschutz-Grundverordnung verarbeitet werden, hat der Nutzer BEINT hierüber unverzüglich schriftlich zu unterrichten.
      </p>
      <p class="info-wrapper__text">
        <strong>Juli 2020 | Seite 1 von 2</strong>
      </p>
      <h1 class="title">Allgemeine Nutzungsbedingungen der Beint GmbH, Lindemannstraße 36, 44137 Dortmund</h1>
      <p class="info-wrapper__text">
        h. Die durch BEINT zu sichernden Daten des Nutzers sind vor der Übermitt- lung durch ihn mit angemessenen Mitteln (z. B. Virenfilter) auf schädliche Komponenten zu überprüfen.
      </p>
      <h2 class="info-wrapper__title">5. Rechte und Pflichten von BEINT</h2>
      <p class="info-wrapper__text">a. BEINT garantiert oder gewährleistet keine minimale Speicherkapazität für zum Nutzeraccount gespeicherter Daten. BEINT behält sich das Recht vor, das Datenvolumen für Datenuploads vorläufig oder dauerhaft zu beschränken, insbesondere wenn dies aus technischen Gründen erforderlich ist, zum Bei- spiel um die Dienstleistung aufrechtzuerhalten oder zu optimieren.</p>
      <p class="info-wrapper__text">
        b. Indem der Nutzer Inhalte auf der Plattform bereitstellt, räumt er BEINT für die Dauer der Vereinbarung eine nicht ausschließliche, räumlich unbegrenzte Lizenz ein, die Inhalte für die Zwecke der Erbringung der Dienstleistungen im Rahmen der Vereinbarung zu nutzen, wozu auch das Recht gehört, die Inhalte zu speichern, zu reproduzieren, zu formatieren, umzuformatieren, technisch zu bearbeiten, zu übertragen, zugänglich zu machen und selbst oder durch Dritte zu analysieren, analysieren zu lassen, statistisch auszuwerten und/oder statis- tisch auswerten zu lassen.
      </p>
      <p class="info-wrapper__text">
        c. BEINT ist ebenfalls nicht verpflichtet Inhalte an Dritte, insbesondere Arbeitgeber weiterzuleiten, sondern ist berechtigt, Bewerbungen vor Weiterlei- tung z.B. auf Konformität mit den Nutzungsbedingungen zu prüfen. d. BEINT übernimmt keine Garantie für die Aktualität, die Korrektheit, die Vollständigkeit, die Verwendbarkeit, oder die Eignung von Inhalten ihrer Platt- formen für einen bestimmten Verwendungszweck. Außerdem übernimmt BEINT keine Garantie für den Abschluss eines Arbeitsvertrages zwischen Personen, die die BEINT-Plattform als Bewerber nutzen, und einem Arbeitge- ber. Die erfolgreiche Vermittlung einer Arbeitsverhältnisses schuldet BEINT nicht.
      </p>
      <p class="info-wrapper__text">
        e. BEINT übernimmt keine Garantie, dass die von ihr angebotenen Dienst- leistungen zu bestimmten Zeiten oder dauerhaft verfügbar sind. Störungen, Unterbrechungen oder mögliche Ausfallzeiten der (Online-)Dienstleistungen können nicht ausgeschlossen werden. Aus technischen oder betrieblichen Gründen kann es zu einer vorübergehend eingeschränkten Verfügbarkeit kommen. Das ist insbesondere im Hinblick auf die Kapazitätsbeschränkungen, die Sicherheit oder Integrität der Datenverarbeitungssysteme oder die Umset- zung technischer Maßnahmen, die für eine ordnungsgemäße oder verbesserte Leistung erforderlich sind, möglich.
      </p>
      <h2 class="info-wrapper__title">6. Haftung</h2>
      <p class="info-wrapper__text">a. In allen Fällen vertraglicher und außervertraglicher Haftung leistet die BEINT Schadensersatz oder Ersatz vergeblicher Aufwendungen nur</p>
      <ul class="list">
        <li class="list-item">beiVorsatzunbeschränkt;</li>
        <li class="list-item">bei grober Fahrlässigkeit nur in Höhe des typischen vorhersehbaren Schadens, der durch die verletzte Pflicht verhindert werden sollte, je- doch unbeschränkt, soweit der Schaden durch gesetzliche Vertreter oder leitende Angestellte der BEINT verursacht wurde;</li>
        <li class="list-item">
          bei einfacher Fahrlässigkeit nur aus Verletzung einer wesentlichen Pflicht, wenn dadurch der Vertragszweck gefährdet ist, nur in Höhe des typischen, vorhersehbaren Schadens, der durch die Pflicht verhin- dert werden sollte, jedoch beschränkt auf 1.000 € pro Schadensfall, insgesamt höchstens 5.000 € aus dem Vertrag;
        </li>
        <li class="list-item">
          unabhängig vom Vorstehenden bei Fehlen einer Beschaffenheit, für die BEINT eine Garantie übernommen hat, entsprechend der Garan- tiebedingungen.
        </li>
      </ul>
      <p class="info-wrapper__text">b. Ansonsten ist die Haftung ausgeschlossen, insbesondere für Datenverlus- te oder Hardwarestörungen, die durch Inkompatibilität der auf dem PC-System des Nutzers vorhandenen Komponenten mit der neuen bzw. zu ändernden Hard- und Software verursacht werden und für Systemstörungen, die durch vorhandene Fehlkonfigurationen oder ältere, störende, nicht vollständig ent- fernte Treiber entstehen können. Dies gilt auch für entgangenen Gewinn und ausgebliebene Einsparungen. Die Haftung für sonstige entfernte Mangelfolge- schäden ist ausgeschlossen. Die Haftung nach den Vorschriften des Produkt- haftungsgesetzes bleibt unberührt.</p>
      <p class="info-wrapper__text">
        c. Für alle Ansprüche gegen die BEINT auf Schadensersatz oder Ersatz vergeblicher Aufwendungen bei vertraglicher und außervertraglicher Haftung gilt – außer in den Fällen unbeschränkter Haftung- eine Verjährungsfrist von einem Jahr. Die Verjährungsfrist beginnt mit dem in § 199 Abs. 2 BGB be- stimmten Zeitpunkt. Sie tritt spätestens mit Ablauf der in § 199 Abs. 3 und 4 BGB bestimmten Höchstfristen ein. Die abweichend geregelte Verjährungsfrist für Ansprüche wegen Sachmängeln bleibt von den Regelungen dieses Absat- zes unberührt. Gleichsam gilt die Verjährungsfrist dieses Absatzes nicht, soweit § 438 Abs. 1 Nr. 2 BGB (Bauwerke und Sachen für Bauwerke) längere Verjährungsfristen vorsieht.
      </p>
      <p class="info-wrapper__text">
        d. Die BEINT haftet bei Verzögerung der Leistung in Fällen des Vorsatzes oder der groben Fahrlässigkeit der BEINT oder eines Vertreters oder Erfül- lungsgehilfen nach den gesetzlichen Bestimmungen. In anderen Fällen der Verzögerung der Leistung wird die Haftung des Lieferanten für den Schadens- ersatz neben der Leistung auf 5 % und für den Schadensersatz statt der Leis- tung auf 10 % des Wertes der Lieferung begrenzt. Weitergehende Ansprüche des Nutzers sind – auch nach Ablauf einer der BEINT etwa gesetzten Frist zur Leistung – ausgeschlossen.
      </p>
      <p class="info-wrapper__text">
        e. Eine Änderung der Beweislast zum Nachteil des Nutzers ist mit den vorstehenden Regelungen nicht verbunden.
      </p>
      <p class="info-wrapper__text">
        f. BEINT kann technisch nicht mit Sicherheit feststellen, ob ein auf den BEINT-Websites registrierter Nutzer tatsächlich diejenige Person darstellt, die der Nutzer vorgibt zu sein. BEINT leistet daher keine Gewähr für die tatsächli- che Identität eines Nutzers.
      </p>
      <h2 class="info-wrapper__title">7. Widerrufsrecht</h2>
      <p class="info-wrapper__text">Mit Abschluss eines auf die Nutzung der Dienstleistungen gerichteten Vertra- ges erhält der Nutzer folgende Widerrufsbelehrung:</p>
      <p class="info-wrapper__text">
        <i>Wenn Sie unsere Dienstleistungen als Verbraucher im Sinne von §13 BGB nutzen, steht Ihnen ein Widerrufsrecht im Einklang mit den folgenden Bestim- mungen zu.</i>
      </p>
      <p class="info-wrapper__text">
        <i>
        <p>Informationen zum Widerrufsrecht</p>
        Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag des Vertragsabschlusses. Um Ihr Widerrufsrecht auszuüben, müssen Sie uns, beint GmbH, Lindemannstr. 36, 44137 Dortmund, <a href="mailto:info@beint.de">info@beint.de</a> mittels einer eindeutigen Erklärung (z. B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist. Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
        </i>
      </p>
      <p class="info-wrapper__text"><i>Folgen des Widerrufs</i></p>
      <p class="info-wrapper__text">
        <i>Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstige Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zah- lungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.</i>
      </p>
      <p class="info-wrapper__text">
        <i>
          <p>Muster:</p>
          Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf der folgenden Waren (*)/die Erbringung der folgenden Dienst- leistung (*):
          <p>Name des Nutzers:</p>
          <p>Unterschrift</p>
        </i>
      </p>
      <p class="info-wrapper__text">
        <i>
          Haben Sie verlangt, dass die Dienstleistung während der Widerrufsfrist begin- nen soll, so haben Sie uns einen angemessenen Betrag zu zahlen, der dem Anteil der bis zu dem Zeitpunkt, zu dem Sie uns von der Ausübung des Wider- rufsrechts hinsichtlich dieses Vertrags unterrichten, bereits erbrachte Dienst- leistungen im Vergleich zum Gesamtumfang der im Vertrag vorgesehenen Dienstleistungen entspricht.
        </i>
      </p>
      <p class="info-wrapper__text">
        <i>Ausschluss des Widerrufsrechts:</i>
      </p>
      <p class="info-wrapper__text">
        <i>Das Widerrufsrecht besteht nicht, sofern Sie bei Abschluss des Rechtsge- schäfts in überwiegender Ausübung ihrer gewerblichen oder selbständigen beruflichen Tätigkeit handeln und Sie deshalb als Unternehmer anzusehen sind (§ 14 BGB).</i>
      </p>
      <h2 class="info-wrapper__title">8. Schlussbestimmungen</h2>
      <p class="info-wrapper__text">a. Es gilt das Recht der Bundesrepublik Deutschland. Erfüllungsort und Gerichtsstand für Ansprüche aus dem Vertrag ist der Sitz von der BEINT, sofern der Nutzer Kaufmann ist. In diesem Fall ist die BEINT jedoch berechtigt, den Nutzern auch an seinem Wohn- oder Dienstsitzgericht gerichtlich in An- spruch zu nehmen.</p>
      <p class="info-wrapper__text">b. Sollten einzelne Bestimmungen dieser Bedingungen ganz oder teilweise unwirksam sein oder werden, so wird hierdurch die Gültigkeit der übrigen Bestimmungen nicht berührt. c. Änderungen dieser Nutzungsbedingungen werden über den Internetauf- tritt der BEINT bekannt gegeben und gelten als genehmigt, wenn der Nutzer nicht schriftlich der Änderung widerspricht. Der Nutzer muss den Widerspruch innerhalb von sechs Wochen nach Bekanntgabe der Änderung an die BEINT absenden.</p>
      <p class="info-wrapper__text">d. Der Nutzer kann die Rechte und Pflichten aus diesem Vertrag nur nach vorheriger schriftlicher Zustimmung der BEINT auf einen Dritten übertragen. e. Vertragsbezogene Mitteilungen sendet die BEINT dem Nutzern unter Beachtung der gesetzlichen Bestimmungen nach Wahl der BEINT an die vom Nutzern benannte Postanschrift oder E-Mail-Adresse.</p>
      <p class="info-wrapper__text">f. Für die vertragliche Beziehung der Vertragspartner gilt deutsches Recht unter Ausschluss des UN-Kaufrechts.</p>
    </div>
  </div>
</section>
