@import "../../theme/variables.scss";


.user-in-account{
  height: 100%;
  &__title{
    color:$blue;
    font-family:$workSansBold;
    text-align: center;
    font-size: 47px;
    margin-bottom:150px;
  }
  form{
    width:100%;
    width: 360px;
    margin: 0 auto;
  }
}
.category-header{
  background-color: $primary;
  border-bottom-left-radius: 40px;
  height:120px;
  position: relative;
  display: none;
}
.category-detail{
  width:90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  &__icon{
    margin-right:20;
    height:55px;
  }
  &__image{
    height: 100%;
    path{
        fill:#ffffff;
    }
  }
  &__label{
    font-size: 24px;
    color: #ffffff;
    font-family: $workSansBold;
  }
}
.back{
    height: 24px;
    width:8px;
    position: absolute;
    left:0;
    top:50%;
    transform: translate(0, -50%);
    background-color:transparent;
    &__icon{
        fill:#ffffff;
        height:100%;
    }
}
.form-item{
    margin-bottom:20px;
    &__label{
        padding-left: 19px;
        font-size: 14px;
        margin-bottom:10px;
        color:$black;
        opacity: 0.5;
        font-family: $workSansRegular;
    }
}
.line{
    width:100%;
    height: 1px;
    background-color: rgba(152, 152, 152, .3);
    margin:25px 0;
}
.error-box{
    &__text{
        &.center{
            text-align: center;
            transform: translateX(-19px);
            width: calc(100% + 19px);
        }
    }
}
.form-field{
    padding:0 50px 0 19px;
    height:50px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    &__input{
        width:100%;
        border:none;
        color: #313131;
        opacity: 0.8;
        font-size: 17px;
        padding:0;
        font-family: $workSansRegular;
        transition: ease .5s;
        &[type="password"]{
            letter-spacing: 5px;
        }
        &::placeholder{
            color: #989898;
            opacity: .8;
            font-size: 17px;
            font-family: $workSansRegular;
            letter-spacing: 0;
        }
    }
}
.form-field-type{
    width:30px;
    position: absolute;
    top:50%;
    right:16px;
    transform: translate(0, -50%);
    text-align: center;
    &__text{
        font-size: 17px;
        color: #989898;
        opacity: .8;
        font-family: $workSansRegular;
    }
    &__valid{
        height: 13px;
        fill: rgba(152, 152, 152, .8);
    }
}
.show-pass-button{
    width: 100%;
    height: 20px;
    text-align: center;
    background-color:transparent;
    &__icon{
        height: 100%;
    }
}
.submit-button{
  width: 100%;
  height:50px;
  border-radius: 50px;
  margin-top:20px;
  font-family: $workSansBold;
  font-size: 16px;
  color:#ffffff;
  background-color: $blue;
  text-transform: uppercase;
  &:disabled{
    background-color: $grey;
  }
}

.successful-change{
    width:360px;
    margin:0 auto;
    text-align: center;
    padding-bottom:25px;
    &__image{
        margin-bottom:60px;
    }
    &__label{
        color:$blue;
        text-transform: uppercase;
        font-family: $workSansBold;
        font-size: 30px;
        margin-bottom:30px;
    }
    &__text{
        font-size: 17px;
    }
}
// EMAIL
.user-no-account{
    &__title{
        font-size: 17px;
        font-family: $workSansBold;
        color:$primary;
        margin-bottom:50px;
        text-align: center;
    }
}

.info-reset{
    font-size: 14px;
    color:#989898;
    text-align: center;
    padding:20px 0;
}
.successful-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon{
        width:150px;
        height:150px;
        border-radius:50%;
        background-color: #ffffff;
        margin-bottom:20px;
        display: flex;
        align-items:center;
        justify-content: center;
        svg{
            height:50px;
        }
    }
    &__text{
        font-size: 14px;
        color: #989898;
        text-align: center;
        br{
            display: none;
        }
    }
}
@media screen and (max-width: 1400px) {
    .user-in-account{
        &__title{
            font-size: 35px;
            margin-bottom:125px;
        }
    }
    .successful-change{
        &__image{
            height: 285px;
            margin-bottom:25px;
        }
    }
}

@media screen and (max-width: 992px) {
    .user-in-account{
        form{
            width:340px;
        }
    }
    .user-in-account{
        &__title{
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .category-header{
        display: block;
        margin-bottom:45px;
    }
    .user-in-account{
        padding-bottom:25px;
        form{
            width:360px;
        }
    }
    .user-in-account{
        &__title{
            display: none;
        }
    }
    .successful-change{
        width:100%;
        padding:0 40px;
        &__image{
            height: 215px;
        }
    }
    .successful-email{
        &__icon{
            height: 95px;
            width: 95px;
            svg{
                height: 30px;
            }
        }
        &__text{
            br{
                display: block;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .user-in-account{
        form{
            width:330px;
        }
    }
}
@media screen and (max-width: 360px) {
  .successful-change{
      padding:0 20px;
  }
  .submit-button{
      font-size: 16px;
  }
  .category-header{
      height: 100px;
  }
  .category-detail{
    &__icon{
      height: 40px;
    }
    &__label{
      font-size: 17px;
    }
  }
  .user-in-account{
    form{
        width:300px;
    }
  }
}