<section class="password-reset">
  <h2 class="password-reset__title">Passwort ändern</h2>
  <form
    *ngIf="!resetPasswordSuccessful && resetViaPasswordForm"
    [formGroup]="resetViaPasswordForm"
    (ngSubmit)="resetViaPasswordSubmit()">
    <div class="form-item">
      <p class="form-item__label">Altes Passwort</p>
      <div class="form-field">
        <input
          formControlName="password"
          [type]="oldPasswordShow ? 'password' : 'text'"
          (blur)="triggerValidation('password')"
          (input)="hideCredentialsError()"
          placeholder="Altes Passwort"
          class="form-field__input">
        <div class="form-field-type">
          <p
            class="form-field-type__text"
            *ngIf="!resetViaPasswordForm.get('password').value">abc</p>
          <button
            *ngIf="resetViaPasswordForm.get('password').value && (!resetViaPasswordForm.get('password').valid || credentialsNotValid)"
            type="button"
            class="show-pass-button"
            (click)="showPassword('oldPasswordShow')">
            <img
              src="../assets/image/eye.svg"
              alt
              class="show-pass-button__icon">
          </button>
          <svg viewBox="0 0 19 13" xmlns="http://www.w3.org/2000/svg" class="form-field-type__valid" *ngIf="resetViaPasswordForm.get('password').valid && !credentialsNotValid">
            <path d="M6.88819 12.9157C6.67486 12.9157 6.47032 12.8317 6.31979 12.6802L0.235486 6.59545C-0.0784952 6.28239 -0.0784952 5.77309 0.235486 5.45911C0.549928 5.14467 1.05922 5.14559 1.37228 5.45911L6.88819 10.9755L17.6286 0.235486C17.9408 -0.0784952 18.4524 -0.0784952 18.7645 0.235486C19.0785 0.549467 19.0785 1.0583 18.7645 1.37228L7.45658 12.6802C7.3056 12.8317 7.10151 12.9157 6.88819 12.9157Z"/>
          </svg>
        </div>
      </div>
      <div
        class="error-box"
        *ngIf="(resetViaPasswordForm.get('password').touched || resetViaPasswordForm.get('password').dirty) && (resetViaPasswordForm.get('password').invalid || credentialsNotValid) && validationError.password">
        <p
          class="error-box__text"
          *ngIf="resetViaPasswordForm.get('password').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
        <p
          class="error-box__text"
          *ngIf="resetViaPasswordForm.value.password && resetViaPasswordForm.get('password').hasError('minlength')">{{ 'local_error.LENGTH_PASS' | translate }}</p>
        <p
          class="error-box__text center"
          *ngIf="credentialsNotValid">
          Bitte gib das richtige Passwort ein
        </p>
      </div>
    </div>
    <div class="line"></div>
    <div class="form-item">
      <p class="form-item__label">Neues Passwort</p>
      <div class="form-field">
        <input
          formControlName="newPassword"
          placeholder="Neues Passwort"
          (blur)="triggerValidation('newPassword')"
          [type]="newPasswordShow ? 'password' : 'text'"
          class="form-field__input">
        <div class="form-field-type">
          <p
            class="form-field-type__text"
            *ngIf="!resetViaPasswordForm.get('newPassword').value">abc</p>
          <button
            *ngIf="resetViaPasswordForm.get('newPassword').value && resetViaPasswordForm.hasError('mismatchedPasswords')"
            type="button"
            class="show-pass-button"
            (click)="showPassword('newPasswordShow')">
            <img
              src="../assets/image/eye.svg"
              alt
              class="show-pass-button__icon">
          </button>
          <svg viewBox="0 0 19 13" xmlns="http://www.w3.org/2000/svg" class="form-field-type__valid" *ngIf="resetViaPasswordForm.get('newPassword').valid && !resetViaPasswordForm.hasError('mismatchedPasswords')">
            <path d="M6.88819 12.9157C6.67486 12.9157 6.47032 12.8317 6.31979 12.6802L0.235486 6.59545C-0.0784952 6.28239 -0.0784952 5.77309 0.235486 5.45911C0.549928 5.14467 1.05922 5.14559 1.37228 5.45911L6.88819 10.9755L17.6286 0.235486C17.9408 -0.0784952 18.4524 -0.0784952 18.7645 0.235486C19.0785 0.549467 19.0785 1.0583 18.7645 1.37228L7.45658 12.6802C7.3056 12.8317 7.10151 12.9157 6.88819 12.9157Z"/>
          </svg>
        </div>
      </div>
      <div
        class="error-box"
        *ngIf="(resetViaPasswordForm.get('newPassword').touched || resetViaPasswordForm.get('newPassword').dirty) && resetViaPasswordForm.get('newPassword').invalid && validationError.newPassword">
        <p
          class="error-box__text"
          *ngIf="resetViaPasswordForm.get('newPassword').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
        <p
          class="error-box__text"
          *ngIf="resetViaPasswordForm.value.newPassword && resetViaPasswordForm.get('newPassword').hasError('minlength')">{{ 'local_error.LENGTH_PASS' | translate }}</p>
      </div>
    </div>
    <div class="form-item">
      <p class="form-item__label">Wiederholung neues Passwort</p>
      <div class="form-field">
        <input
          formControlName="confirmPassword"
          [type]="newPasswordShow ? 'password' : 'text'"
          (blur)="triggerValidation('confirmPassword')"
          placeholder="Wiederholung neues Passwort"
          class="form-field__input">
        <div class="form-field-type">
          <p
            class="form-field-type__text"
            *ngIf="!resetViaPasswordForm.get('confirmPassword').value">abc</p>
          <button
            *ngIf="resetViaPasswordForm.get('confirmPassword').value && resetViaPasswordForm.hasError('mismatchedPasswords')"
            type="button"
            class="show-pass-button"
            (click)="showPassword('newPasswordShow')">
            <img
              src="../assets/image/eye.svg"
              alt
              class="show-pass-button__icon">
          </button>
          <svg viewBox="0 0 19 13" xmlns="http://www.w3.org/2000/svg" class="form-field-type__valid" *ngIf="resetViaPasswordForm.get('confirmPassword').valid && !resetViaPasswordForm.hasError('mismatchedPasswords')">
            <path d="M6.88819 12.9157C6.67486 12.9157 6.47032 12.8317 6.31979 12.6802L0.235486 6.59545C-0.0784952 6.28239 -0.0784952 5.77309 0.235486 5.45911C0.549928 5.14467 1.05922 5.14559 1.37228 5.45911L6.88819 10.9755L17.6286 0.235486C17.9408 -0.0784952 18.4524 -0.0784952 18.7645 0.235486C19.0785 0.549467 19.0785 1.0583 18.7645 1.37228L7.45658 12.6802C7.3056 12.8317 7.10151 12.9157 6.88819 12.9157Z"/>
          </svg>
        </div>
      </div>
      <div
        class="error-box"
        *ngIf="(resetViaPasswordForm.get('confirmPassword').touched || resetViaPasswordForm.get('confirmPassword').dirty) && (resetViaPasswordForm.get('confirmPassword').invalid || resetViaPasswordForm.hasError('mismatchedPasswords')) && validationError.confirmPassword">
        <p
          class="error-box__text"
          *ngIf="resetViaPasswordForm.get('confirmPassword').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
        <p
          class="error-box__text"
          *ngIf="resetViaPasswordForm.value.confirmPassword && resetViaPasswordForm.get('confirmPassword').hasError('minlength')">{{ 'local_error.LENGTH_PASS' | translate }}</p>
        <p
          class="error-box__text center"
          *ngIf="resetViaPasswordForm.get('newPassword').valid && resetViaPasswordForm.get('confirmPassword').valid && resetViaPasswordForm.hasError('mismatchedPasswords')">
          Dein altes und Dein neues Passwort sind nicht identisch
        </p>
      </div>
    </div>
    <button
      type="submit"
      [disabled]="!resetViaPasswordForm.valid || credentialsNotValid"
      class="submit-button">
      Speichern
    </button>
  </form>
  <div
    class="successful-change"
    *ngIf="resetPasswordSuccessful">
    <img
      src="../assets/image/password-reset/suc.png"
      alt
      class="successful-change__image">
    <p class="successful-change__label">YEAH!</p>
    <p class="successful-change__text">Dein Passwort wurde erfolgreich geändert</p>
  </div>
</section>
