<section class="password-reset">
  <form
    [formGroup]="resetViaPasswordForm"
    (ngSubmit)="resetViaPasswordSubmit()">
    <div class="form-item">
      <p class="form-item__label">Altes Passwort</p>
      <div class="form-field">
        <input
          formControlName="password"
          type="password"
          placeholder="Altes Passwort"
          class="form-field__input">
        <div class="form-field-type">
          <p class="form-field-type__text">abc</p>
        </div>
      </div>
      <div
        class="error-box"
        *ngIf="(resetViaPasswordForm.get('password').touched || resetViaPasswordForm.get('password').dirty) && resetViaPasswordForm.get('password').invalid">
        <p
          class="error-box__text"
          *ngIf="resetViaPasswordForm.get('password').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
      </div>
    </div>
    <div class="form-item">
      <p class="form-item__label">Neues Passwort</p>
      <div class="form-field">
        <input
          formControlName="newPassword"
          type="password"
          placeholder="Neues Passwort"
          class="form-field__input">
        <div class="form-field-type">
          <p class="form-field-type__text">abc</p>
        </div>
      </div>
      <div
        class="error-box"
        *ngIf="(resetViaPasswordForm.get('newPassword').touched || resetViaPasswordForm.get('newPassword').dirty) && resetViaPasswordForm.get('newPassword').invalid">
        <p
          class="error-box__text"
          *ngIf="resetViaPasswordForm.get('newPassword').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
      </div>
    </div>
    <div class="form-item">
      <p class="form-item__label">Wiederholung neues Passwort</p>
      <div class="form-field">
        <input
          formControlName="confirmPassword"
          type="password"
          placeholder="Wiederholung neues Passwort"
          class="form-field__input">
        <div class="form-field-type">
          <p class="form-field-type__text">abc</p>
        </div>
      </div>
      <div
        class="error-box"
        *ngIf="(resetViaPasswordForm.get('confirmPassword').touched || resetViaPasswordForm.get('confirmPassword').dirty) && resetViaPasswordForm.get('confirmPassword').invalid">
        <p
          class="error-box__text"
          *ngIf="resetViaPasswordForm.get('confirmPassword').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
      </div>
    </div>

    <button
      type="submit"
      class="submit-button"
      [disabled]="!resetViaPasswordForm.valid">
      Speichern
    </button>
  </form>
</section>
