@import "../../theme/variables.scss";
.offer{
  background-color: #11322E;
  height:100%;
  padding-top:130px;
}
.offer-description{
  padding:125px 20px;
  min-height:100%;
  background-color:#ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position:relative;
  &__text{
    letter-spacing: 1.5px;
    text-align:center;
    font-size: 17px;
    margin-bottom:25px;
  }
}
.offer-icon{
  height:170px;
  position:absolute;
  left:50%;
  top:-100px;
  transform:translateX(-50%);
}
.offer-information{
  background-color:#ffffff;
  box-shadow: 0px 20px 30px #00000027;
  padding: 33px 19px 45px 19px;
  border-radius:10px;
  margin-bottom:28px;
}

.offer-logo{
  display: flex;
  align-items:center;
  margin-bottom:20px;
  span{
    color:#313131;
    font-family: $workSansBold;
  }
}
.logo-default {
  display: inline-block;
  width:30px;
  height:20px;
  margin-right:15px;
  &__item{
    display: block;
    width:100%;
    height:7px;
    border-radius: 10px 0px;
    &:nth-child(1){
      background-color: $red;
      margin-bottom:5px;
    }
    &:nth-child(2){
      background-color: #6A6A6A;
    }
  }
}


.offer-info{
  &__date{
    font-size: 14px;
    opacity: .5;
    margin-bottom:5px;
  }
  &__vacancy{
    font-family: $workSansBold;
    font-weight: 700;
    font-size: 17px;
    margin-bottom:5px;
  }
  &__scope{
    font-size: 17px;
    margin-bottom:10px;
  }
  &__company{
    font-size: 17px;
    display: flex;
    align-items:center;
    margin-bottom:12px;
    svg{
      height:18px;
      margin-right:10px;
      fill:$black;
    }
  }
  &__location{
    font-size: 17px;
    display: flex;
    align-items:center;
    svg{
      height:18px;
      margin-right:10px;
      fill:$black;
    }
  }
}
.offer-apply-btn{
  display:block;
  background-color:$primary;
  border-radius:33px;
  padding:15px;
  max-width:295px;
  width:100%;
  margin:0 auto;
  margin-bottom:22px;
  box-shadow: 0px 20px 30px #00000026;
  color:#ffffff;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  font-family: $workSansBold;
}
.home-btn{
  display: block;
 background-color: transparent;
 color:#434784;
 font-size: 15px;
 text-transform: uppercase;
 width:auto;
 margin:0 auto;
}