@import "../../theme/variables.scss";
::ng-deep circle-progress{
    svg{
        path.ng-star-inserted{
            stroke:#54c0ae;
        }
        circle.ng-star-inserted {
            stroke: #cbe8e4;
        }
    }
}
.apply{
    background-color: #f9f9f9;
    position: relative;
    z-index: 1;
    min-height:100vh;
    overflow-x: hidden;
}

.top-overlay{
  display: none;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:325px;
  background-color: $primary;
  z-index: -1;
  border-bottom-left-radius: 50px;
  &.auth{
    background-color: transparent;
    .top-overlay__circle{
      background:rgba(0, 0, 0, 0.02);
    }
  }
  &__circle{
    position: absolute;
    border-radius: 50%;
    background:rgba(255, 255, 255, 0.1);
    &-01{
      left: -40vw;
      top: -50vw;
      width: 100vw;
      height: 100vw;
    }
    &-02{
      right: -5vw;
      top: -30vw;
      width: 60vw;
      height: 60vw;
    }
  }
}
.circle{
    position:absolute;
    &_01{
        left:0;
        top:0;
        height:30vw;
    }
    &_02{
        right:0;
        bottom:0;
        height:26vw;
    }
}

// 
.apply-wrapper{
  padding:50px 0;
  position: relative;
  min-height: 100%;
}
.logo{
  position: absolute;
  left:5vw;
  top:65px;
  height:50px;
  fill:$primary;
  z-index: 1;
}
.apply-content{
  display: flex;
  justify-content: space-between;
}
.apply-content-left{
  width:360px;
  margin-right:180px;
  flex-shrink: 0;
}
.login-header{
  text-align: center;
  margin-bottom:50px;
  margin-top:120px;
  &__icon{
    height:60px;
    fill:$primary;
    margin-bottom:20px;
  }
  &__title{
    color:$primary;
    font-size: 17px;
    font-family: $workSansBold;
    margin-bottom:5px;
  }
  &__subtitle{
    color:$blue;
    font-size: 17px;
  }
}
.profile-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
  &__avatar {
    width:200px;
    height:200px;
    border-radius:50%;
    box-sizing: border-box;
    position: relative;
    margin-bottom:60px;
  }
  &__image{
      object-fit: cover;
      object-position: 50%;
      border-radius: 50%;
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
      height:85%;
      width: 85%;
    &_default{
        background-color: #f9f9f9;
          img{
              position: absolute;
              left:50%;
              top:50%;
              transform: translate(-50%, -50%);
              height: 30px;
          }
    }
    &_loading{
        z-index: 1;
          img{
              position: absolute;
              left:50%;
              top:50%;
              transform: translate(-50%, -50%);
              height: 100px;
          }
    }
  }
  &__user-name{
    color:$blue;
    font-size: 30px;
    margin-bottom:30px;
    font-family: $workSansBold;
    text-align: center;
    width: 100%;
  }
}
.download-cv-button{
  width: 100%;
  background-color:transparent;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-bottom:75px;
  &__icon{
    margin-right:10px;
    height:30px;
  }
  &__label{
    text-transform: uppercase;
    color:$blue;
    font-size: 16px;
    letter-spacing: .7px;
  }
}
.apply-vacancy{
  &__button{
    width:100%;
    height:50px;
    border-radius: 50px;
    background-color: $primary;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 16px;
    font-family: $workSansBold;
    &:disabled{
      background-color: $grey;
    }
  }
}
.privacy-policy{
  display: flex;
  align-items:center;
  margin-bottom:20px;
  justify-content: center;
  .checkbox-container{
    height:25px;
    width:25px;
    padding-left:0;
    margin-right:10px;
  }
  &__text{
    font-size: 14px;
    br{
      display: none;
    }
    &_red{
      color:$red;
    }
  }
  &__details{
    text-decoration: underline;
    cursor: pointer;
  }
}
// VACANCY DESCRIPTION
.apply-content-right{
  width:100%;
}
.vacancy-description{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
  background-color:#ffffff;
  padding:20px 25px 20px 30px;
  width:100%;
}
.vacancy-header{
  margin-bottom:30px;
  position: relative;
  &__logo{
    height: 40px;
    margin-bottom:20px;
  }
  &__date{
    font-size: 14px;
    opacity: .5;
    margin-bottom:5px;
  }
  &__name{
    font-size: 17px;
    font-family: $workSansBold;
    margin-bottom:5px;
  }
  &__type{
    font-size: 17px;
    margin-bottom:15px;
  }
  &__company{
    display: flex;
    align-items:center;
    svg{
      fill:$black;
      height:19px;
      margin-right:10px;
      flex-shrink: 0;
    }
    span{
      font-size: 17px;
    }
  }
  &__status{
    height:25px;
    width:25px;
    border-radius: 50%;
    background-color:$blue;
    position: absolute;
    right:0;
    top:0;
  }
}
.vacancy-row{
  display: flex;
  justify-content: space-between;
  &:first-child{
    .vacancy-item{
      border-top:1px solid #EAEAEA;
    }
  }
}
.vacancy-item{
  width:48%;
  border-bottom:1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
  padding:11px 10px 11px 6px;
  &__label{
    font-size: 17px;
    color: #989898;
    margin-bottom:5px;
    flex: 1;
  }
  &__details{
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  &__status{
    height: 15px;
    width:15px;
    border-radius: 50%;
    background-color:$blue;
    flex-shrink: 0;
    margin-left:5px;
    &.no-value{
      background-color:$grey;
    }
  }
}
.vacancy-skills-row{
  display: flex;
  flex-wrap: wrap;
  border-bottom:1px solid #EAEAEA;
  padding:10px 10px 10px 6px;
  min-height: 65px;
  &:last-child{
    border:none;
    padding-bottom: 0;
  }
  &__label{
    font-size: 17px;
    color: #989898;
    margin-bottom:10px;
    width:100%;
  }
}
.vacancy-skills-item{
  border-radius: 6px;
  border:1px solid $blue;
  padding:0 15px;
  height: 40px;
  margin-bottom:10px;
  margin-right:10px;
  display: flex;
  align-items:center;
  &:last-child{
    margin-right:0;
  }
  &__name{
    color:$blue;
    font-size: 17px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__status{
    width:15px;
    height:15px;
    border-radius: 50%;
    background-color: $blue;
    margin-right:10px;
  }
}
.language-level{
  font-size: 8px;
  color:$black;
  &::first-letter{
    text-transform: uppercase;
  }
}
// VACANCY ACCORDION
.vacancy-accordion{
  display: none;
  background-color:#ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom:50px;
  .mat-expansion-panel{
    box-shadow: none;
  }
  .mat-expansion-panel-header{
    padding:0;
    &:hover{
      background-color: transparent;
    }
  }
  ::ng-deep .mat-expansion-panel-content{
    font:inherit;
  }
  ::ng-deep .mat-expansion-panel-body{
    padding:0;
  }
}
.vacancy-accordion-header{
  position: relative;
  padding:18px;
  padding-bottom:0;
  width: 100%;
}
.vacancy{
  &-status{
    position: absolute;
    right:18px;
    top:18px;
    width:25px;
    height:25px;
    border-radius: 50%;
    background-color: $blue;
  }
  &-company-logo{
    height:40px;
    margin-bottom:22px;
  }
  &-date{
    opacity: .5;
    font-size: 14px;
    margin-bottom:5px;
  }
  &-name{
    font-size: 17px;
    font-family: $workSansBold;
    margin-bottom:5px;
  }
  &-type{
    font-size: 17px;
    margin-bottom:15px;
  }
  &-company{
    display: flex;
    align-items: flex-start;
    margin-bottom:12px;
    svg{
      height: 19px;
      width: 20px;
      flex-shrink: 0;
      margin-right:10px;
    }
    &__text{
      font-size: 17px;
    }
  }
  &-place{
    display: flex;
    align-items: flex-start;
    svg{
      height: 19px;
      width: 20px;
      flex-shrink: 0;
      margin-right:10px;
    }
    &__text{
      font-size: 17px;
    }
  }
}
.vacancy-accordion-body{
  padding:28px 12px 0 12px;
}
.vacancy-info{
  border-top:1px solid #EAEAEA;
  border-bottom:1px solid #EAEAEA;
  padding:10px 0;
}
.vacancy-info-item{
  padding:0 6px 10px 6px;
  margin-bottom:10px;
  border-bottom:1px solid #EAEAEA;
  &:last-child{
    padding-bottom:0;
    margin-bottom:0;
    border-bottom:none;
  }
  &.options{
    display: flex;
    flex-wrap: wrap;
    .vacancy-info-item__label{
      margin-bottom:10px;
    }
  }
  &__label{
    font-size: 17px;
    color: #989898;
    margin-bottom:5px;
    font-weight: 400;
    width: 100%;
  }
  &__text{
    font-size: 17px;
    position: relative;
    width: 100%;
    padding-right:20px;
  }
  &__status{
    display: block;
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:$blue;
    position: absolute;
    right:2px;
    top:2px;
    &.empty{
      background-color: #989898;;
    }
  }
}
.show-vacancy-button{
  width:100%;
  height:35px;
  background-color: transparent;
  &.acord-active{
    .show-vacancy-button__arrow{
      transform: rotate(-180deg);
    }
  }
  &__arrow{
    height: 8px;
    transition: all .25s;
    path{
      stroke: $black;
    }
  }
}
/* = MEDIA = */
@media screen and (max-width: 1500px) {
  .apply-content-left {
    margin-right: 70px;
    margin-left: 70px;
  }
}
@media screen and (max-width:1400px){
  .apply-content-left{
     margin-left: 0;
  }
}
@media screen and (max-width:1200px){
  .logo{
    height: 40px;
  }
  .apply-content-left{
    width:320px;
    margin-right:40px;
  }
  .vacancy-header{
    &__logo{
      margin-bottom: 10px;
    }
    &__name{
      font-size: 15px;
    }
    &__type{
      font-size: 15px;
    }
    &__company{
      span{
        font-size: 15px;
      }
    }
  }
  .vacancy-skills-row{
    &__label{
      font-size: 15px;
    }
  }
  .vacancy-skills-item{
    &__name{
      font-size: 15px;
    }
  }
  .vacancy-description{
    padding: 10px 15px 10px 20px;
  }
  .vacancy-item{
    &__label{
      font-size: 15px;
    }
    &__text{
      font-size: 15px;
    }
  }
  .profile-details{
    &__avatar{
      margin-bottom:40px;
    }
    &__user-name{
      font-size: 25px;
    }
  }
  .download-cv-button{
    margin-bottom:45px;
    &__icon{
      height: 25px;
    }
    &__label{
      font-size: 14px;
    }
  }
  .privacy-policy{
    &__text{
      text-align: center;
      br{
        display: block;
      }
    }
  }
}
@media screen and (max-width:992px){
  .circle{
    display: none;
  }
  .top-overlay{
    display: block;
  }
  .apply-wrapper{
    padding:50px 0;
  }
  .logo{
    top:30px;
    left: 7vw;
  }
  .vacancy-accordion{
    display: block;
  }
  .apply-content-left{
    width:100%;
    margin:0;
  }
  .apply-content-right{
    display: none;
  }
  .profile-details{
    margin:0;
    &__user-name{
      font-size: 30px;
    }
  }
  .download-cv-button{
    &__label{
      text-transform: capitalize;
      font-size: 17px;
    }
  }
  .apply-vacancy{
    width:100%;
    max-width:470px;
    margin:0 auto;
    margin-top:50px;
  }
  .vacancy-accordion{
    width:100%;
    max-width:500px;
    margin:0 auto;
    margin-bottom:0;
  }
  .login-header{
    margin-top:0;
    margin-bottom:30px;
    &__icon{
      fill:#ffffff;
    }
    &__title{
      color:#ffffff;
    }
    &__subtitle{
      color:#ffffff;
    }
  }
  .login-wrapper{
    width:100%;
    max-width:470px;
    margin:0 auto;
    margin-top:20px;
  }
}
@media screen and (max-width:768px){
  .top-overlay{
    &__circle{
      &-01{
        left: -10vw;
        top: -12vw;
        width: 65vw;
        height: 65vw;
      }
      &-02{
        right: -5vw;
        top: -25vw;
        width: 60vw;
        height: 60vw;
      }
    }
  }
}
@media screen and (max-width:667px){}
@media screen and (max-width:640px){}
@media screen and (max-width:568px){
  .container{
    padding:0 8.5px;
  }
  .logo{
    left:6vw;
    height:26px;
  }
  .profile-details{
    &__avatar{
      height:150px;
      width:150px;
      margin-bottom:20px;
    }
    &__user-name{
      font-size: 24px;
      margin-bottom:20px;
    }
  }
  .vacancy-accordion{
    max-width:400px;
  }
  .apply-vacancy{
    max-width:370px;
  }
  .login-wrapper{
    max-width:370px;
  }
  .download-cv-button{
    margin-bottom:30px;
    &__icon{
      height:15px;
    }
  }
}
@media screen and (max-width:480px){
  .login-header{
    &__icon{
      height:50px;
    }
  }
  .top-overlay{
    &__circle{
      &-01{
        left: -25vw;
        top: -18vw;
        width: 80vw;
        height: 80vw;
      }
      &-02{
        right: -10vw;
        top: -20vw;
        width: 65vw;
        height: 65vw;
      }
    }
  }
}
@media screen and (max-width:414px){
  .top-overlay{
    &__circle{
      &-01{
        left: -38vw;
        top: -25vw;
        width: 100vw;
        height: 100vw;
      }
      &-02{
        right: -20vw;
        top: -31vw;
        width: 80vw;
        height: 80vw;
      }
    }
  }
  .vacancy-accordion{
    width:100%;
    max-width: inherit;
  }
  .apply-vacancy{
    width:calc(100% - 25px);
    max-width: inherit;
  }
  .login-wrapper{
    width:calc(100% - 25px);
    max-width: inherit;
  }
}
@media screen and (max-width:375px){}
@media screen and (max-width:360px){
  .profile-details{
    &__user-name{
      font-size: 17px;
      margin-bottom:20px;
    }
  }
  .download-cv-button{
    &__label{
      font-size: 14px;
    }
  }
  .vacancy{
    &-name{
      font-size: 15px;
    }
    &-type{
      font-size: 15px;
    }
    &-company{
      &__text{
        font-size: 15px;
      }
    }
    &-place{
      &__text{
        font-size: 15px;
      }
    }
  }
  .vacancy-info-item{
    &__label{
      font-size: 15px;
    }
    &__text{
      font-size: 15px;
    }
  }
}
@media screen and (max-width:320px){}
/* = MEDIA END = */