<div
  class="profile-category"
  (click)="goToComponent(category.path)">
  <img
    [src]="category.icon"
    class="profile-category__decor">
  <div class="category-state">
    <div class="category-state__flx">
      <div class="category-state__circle">
        <img
          src="../assets/image/profile/pencil.svg"
          class="category-state__image">
        <!-- <img
          src="../assets/image/profile/check.svg"
          class="category-state__image"> -->
      </div>
      <p class="category-state__number">
        12/14
    </p>
    </div>
  </div>
  <p class="profile-category__name">{{ category.name }}</p>
</div>
