@import "app/theme/variables.scss";

.calendar{
  max-width:625px!important;
  width:100%;
  max-height: 700px;
  height: 100%;
  .owl-dt-container-row{
    border: none;
  }
}

  .owl-dt-container-inner{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .owl-dt-dialog-container .owl-dt-calendar {
    min-width: inherit;
    min-height: inherit;
    max-width: inherit;
    max-height: inherit;
    height: auto;
    width: 100%;
    flex: 1;
  }

  .owl-dt-calendar-table-divider{
    display: none;
  }
  .owl-dialog-container{
    padding:0;
    border-radius: 10px;
  }
  .owl-dt-dialog-container{
    max-height: inherit;
    margin: 0;
    width: 100%;
    height: 100%;
  }
    // CALENDAR CONTROL HEADER
  .owl-dt-calendar-control{
    max-width:450px;
    width:100%;
    margin:0 auto;
    padding: 50px 0 0 0 ;
    button.owl-dt-control-arrow-button{
      height:24px;
      width:9px;
      &:nth-child(1){
        background-image: url('assets/image/calendar/arrow-prev.svg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
      }
      &:nth-child(3){
        background-image: url('assets/image/calendar/arrow-next.svg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
      }
      span{
        display: none;
      }
    }
  }
  .owl-dt-calendar-control-content{
    .owl-dt-control-period-button{
      &:hover{
        span{
          background-color: transparent;
        }
      }
      span.owl-dt-control-button-content{
        font-family: $workSansBold;
        color:$black;
        font-size: 24px;
      }
      span.owl-dt-control-button-arrow{
        width:15px;
        height:5px;
        background-image: url('assets/image/calendar/arrow-down.svg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        margin:0;
        margin-left:10px;
        svg {
          display:none;
        }
      }
    }
  }
  // CALENDAR CONTROL HEADER END

  // CALENDAR BODY
  .owl-dt-calendar-view{
    display: flex;
    flex: inherit;
    justify-content: center;
    align-items: center;
    &.owl-dt-calendar-multi-year-view{
      justify-content: space-around;
      thead.owl-dt-calendar-header{
        tr{
          th{
            font-size: 20px;
          }
        }
      }
      button.owl-dt-control-arrow-button{
        height:24px;
        width:9px;
        &:nth-child(1){
          background-image: url('assets/image/calendar/arrow-prev.svg');
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: contain;
        }
        &:nth-child(3){
          background-image: url('assets/image/calendar/arrow-next.svg');
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: contain;
        }
        span{
          display: none;
        }
      }
    }
    .owl-dt-calendar-table{
      max-width:450px;
      width:100%;
      thead.owl-dt-calendar-header{
        tr.owl-dt-weekdays{
          th.owl-dt-weekday{
            padding:0;
            padding-bottom:30px;
            span{
              font-size: 20px;
            }
          }
        }
      }
      .owl-dt-calendar-body{
        width:100%;
        tr{
          td.owl-dt-calendar-cell{
            span{
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .owl-dt-calendar-table .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) {
    border-color: $primary;
    border-width: 2px;
  }
  .owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    background-color: $primary!important;
  }
  .owl-dt-calendar-cell-active {
    span{
      background-color: transparent!important;
    }
  }
  // CALENDAR BODY END 
  
  // BOTTOM BUTTONS
  .owl-dt-container-buttons{
    display: flex;
    justify-content: space-between;
    height: auto;
    .owl-dt-container-control-button{
      background-color:#F9F9F9;
      width:50%;
      height:70px;
      &:first-child{
        margin-right:1px;
      }
    }
    span{
      font-size: 17px;
      font-family: $workSansRegular;
      color:$black;
    }
  }
  // BOTTOM BUTTONS END

@media screen and (max-width:768px) {
	.calendar{
      max-width:375px!important;
      width:100%;
      max-height: 480px;
      height: 100%;
    .owl-dt-calendar-control {
      max-width: 320px;
      padding: 30px 0 0 0;
    }
    .owl-dt-calendar-view{
      .owl-dt-calendar-table{
        max-width:300px;
      }
    }
  }
  .owl-dt-calendar-control-content {
    .owl-dt-control-period-button {
      span.owl-dt-control-button-content {
        font-size: 17px;
      }
    }
  } 
  .owl-dt-calendar-view{
    &.owl-dt-calendar-multi-year-view{
      thead.owl-dt-calendar-header{
        tr{
          th{
            font-size: 15px;
          }
        }
      }
    }
    .owl-dt-calendar-table{
      thead.owl-dt-calendar-header{
        tr.owl-dt-weekdays{
          th.owl-dt-weekday{
            padding-bottom:15px;
            span{
              font-size: 15px;
            }
          }
        }
      }
      .owl-dt-calendar-body{
        tr{
          td.owl-dt-calendar-cell{
            span{
              font-size: 15px;
            }
          }
        }
      }
    }
  }
   .owl-dt-container-buttons{
    .owl-dt-container-control-button{
      height:50px;
    }
  }
}
@media screen and (max-width:414px) {
  .calendar{
      max-width:310px!important;
      width:100%;
      max-height: 400px;
      height: 100%;
    .owl-dt-calendar-control {
      max-width: 300px;
      justify-content: space-around;
      padding: 20px 0 0 0;
      .owl-dt-calendar-control-content{
        flex: inherit;
      }
    }
    .owl-dt-calendar-view{
      .owl-dt-calendar-table{
        max-width:250px;
      }
    }
  }
  .owl-dt-calendar-control-content {
    .owl-dt-control-period-button {
      span.owl-dt-control-button-content {
        font-size: 15px;
      }
    }
  } 
  .owl-dt-calendar-view{
    &.owl-dt-calendar-multi-year-view{
      thead.owl-dt-calendar-header{
        tr{
          th{
            font-size: 12px;
          }
        }
      }
    }
    .owl-dt-calendar-table{
      thead.owl-dt-calendar-header{
        tr.owl-dt-weekdays{
          th.owl-dt-weekday{
            padding-bottom:10px;
            span{
              font-size: 12px;
            }
          }
        }
      }
      .owl-dt-calendar-body{
        tr{
          td.owl-dt-calendar-cell{
            span{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
   .owl-dt-container-buttons{
    .owl-dt-container-control-button{
      height:50px;
    }
  }
}
// ////////////////////////////////////////
@media screen and (max-height: 414px){
    .calendar{
      max-width:400px!important;
      max-height: 320px;
    .owl-dt-calendar-control {
      max-width: 300px;
      justify-content: space-around;
      padding: 20px 0 0 0;
      .owl-dt-calendar-control-content{
        flex: inherit;
      }
    }
    .owl-dt-calendar-view{
      .owl-dt-calendar-table{
        width: 90%;
        max-width: 100%;
        height:215px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .owl-dt-calendar-view{
    .owl-dt-calendar-table{
      &.owl-dt-calendar-year-table{
        align-items: center;
        justify-content: center;
        tbody.owl-dt-calendar-body{
          tr{
            td.owl-dt-calendar-cell{
              width: 20.679%!important;
            }
          }
        }
      }
      &.owl-dt-calendar-multi-year-table{
        thead.owl-dt-calendar-header{
          tr{
            display: flex;
            justify-content: center;
          }
        }
        tbody.owl-dt-calendar-body{
          tr{
            td.owl-dt-calendar-cell{
              width: 20.679%!important;
            }
          }
        }
      }
      thead.owl-dt-calendar-header{
        tr.owl-dt-weekdays{
          width:100%;
          display: flex;
          justify-content: space-around;
          th.owl-dt-weekday{
            padding:10px 0;
            span{
              font-size: 12px;
            }
          }
        }
      }
      .owl-dt-calendar-body{
        display: flex;
        flex-direction: column;
        tr{
          width:100%;
          display: flex;
          justify-content: space-around;
          td.owl-dt-calendar-cell{
            width: 8.679%!important;
            height:30px;
            padding:0!important;
            span{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .owl-dt-calendar-control-content {
    .owl-dt-control-period-button {
      span.owl-dt-control-button-content {
        font-size: 15px;
      }
    }
  } 
   .owl-dt-container-buttons{
    .owl-dt-container-control-button{
      height:40px;
      span{
        font-size: 12px;
      }
    }
  }
}