// COLOR
$blue: #434885;
$yellow: #EBBE00;
$red: #D53D3D;
$green:#8BC161;
$primary: #3CBFAE;
$grey:#989898;
$black: #313131;

// FIELD VALIDATION COLOR
$markingLightGrey: #ddd6d6;
$markingYellow: #f8bf00;
$markingRed: #d54b60;
$markingGreen: #3cbfae;
$markingDarkGrey: #989898;

// FONT FAMILY
$workSansSemiBold: WorkSans SemiBold;
$workSansBold: WorkSans Bold;
$workSansRegular: WorkSans Regular;
$workSansLight: WorkSans Light;
