// COLOR
$blue: #434784;
$yellow: #EBBE00;
$red:#dc3545;
$green:#8BC161;
$primary: #30BFAE;
$grey:#989898;
$black:#323132;
// FONT FAMILY
$gb:Gilroy Bold;
$gr:Gilroy Regular;
$workSansSemiBold: WorkSans SemiBold;
$workSansBold: WorkSans Bold;
$workSansRegular: WorkSans Regular;
