// COLOR
$blue: #434784;
$yellow: #EBBE00;
$red: #D53D3D;
$green:#8BC161;
$primary: #30BFAE;
$grey:#989898;
$black: #313131;
// FONT FAMILY
$workSansSemiBold: WorkSans SemiBold;
$workSansBold: WorkSans Bold;
$workSansRegular: WorkSans Regular;
