<div class="field_google-autocomplete">
  <p class="field__label">{{ fieldLabel }}</p>
  <div class="field-wrapper">
    <div 
      #container
      class="autocomplete-container">
      <input
        [placeholder]="fieldPlaceholder" 
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        type="text"
        class="field-wrapper__input"
        [formControl]="location"
        (input)="checkInputValue($event)"
        (change)="checkChangeValue($event)"
        #search>
    </div>
    <div class="field-wrapper__type">abc</div>
    <div
      *ngIf="fieldStatus"
      class="field-wrapper__status"
      [ngClass]="!formControlValue ? fieldStatus : ''">
    </div>
  </div>
</div>
