@import "../../../theme/variables.scss";

::ng-deep .confirm-dialog{
   .mat-dialog-container {
    border-radius:10px;
    padding:0;
    overflow: inherit;
    height: auto;
  }
}
.modal-body{
  padding:90px 0;
  width:500px;
  position: relative;
  &__title{
    margin-bottom:50px;
    font-size: 17px;
    text-align:center;
    font-family:$gb;
  }
}
.modal-close-button{
  background-color:transparent;
  position: absolute;
  right:10px;
  top:10px;
  width:24px;
  height:24px;
  &__icon{
    height:100%;
    fill:#434784;
  }
}
.event{
  display: flex;
  flex-direction: column;
  align-items:center;
  &__button{
    padding:15px 0;
    width:360px;
    text-transform: uppercase;
    margin-bottom:20px;
    border-radius: 50px;
    color:#ffffff;
    font-family:$gb;
    font-size: 16px;
    &:last-child{
      margin-bottom:0;
    }
    &_confirm{
      background-color: $red;
      transition: none;
    }
    &_cancel{
      background-color: #30BFAE;
    }
  }
}
@media screen and (max-width:768px) {
  .modal-body{
    padding:50px 0;
    max-width:100%;
    width:414px;
    &__title{
      font-size: 14px;
      margin-bottom:25px;
    }
  }
  .modal-close-button{
    width:18px;
    height:18px;
  }
  .event{
    &__button{
      width:80%;
    }
  }
  .event__button {
    font-size: 14px;
  }
}
@media screen and (max-width: 568px) {
  ::ng-deep .confirm-dialog{
    .modal-close-button{
      display: none;
    }
    .mat-dialog-container {
      border-radius:0;
      border-top-left-radius:10px;
      border-top-right-radius:10px;
      position: absolute;
      left:0;
      bottom:0;
      overflow: hidden;
    }
    .modal-body {
      width: 100%;
      padding:40px 0;
      &__title{
        font-size: 16px;
      }
    }
    .event{
      &__button{
        width:320px;
      }
    }
  }
}
@media screen and (max-width: 480px){
  ::ng-deep .confirm-dialog{
    .event{
      &__button{
        width:300px;
      }
    }
  }
}