<section class="settings">
  <div class="background">
    <img
      src="../assets/image/background-circle-01.png"
      class="background__circle background__circle_01">
    <img
      src="../assets/image/background-circle-02.png"
      class="background__circle background__circle_02">
  </div>
  <div class="settings-header">
    <div class="category-detail">
      <div class="category-detail__icon">
        <img
          src="../assets/image/menu/settings.svg"
          class="category-detail__image">
      </div>
      <p class="category-detail__label">
        Profil - <br>
        Enstellungen
    </p>
    </div>
  </div>
  <div class="setting-tab">
    <div class="container">
      <div class="setting-group">
        <button
          [ngClass]="{'selected': selectedIndex === index}"
          [class]="tab.class"
          (click)="clickEvent(tab.event, index)"
          *ngFor="let tab of setting; let index = index">
          <img
            [src]="tab.icon"
            class="setting-button__icon">
          <span class="setting-button__label">{{tab.label}}</span>
          <img
            src="../assets/image/settings/arrow.svg"
            class="setting-button__arrow">
        </button>
      </div>
    </div>
  </div>
</section>
