<section class="settings">
  <div class="background">
    <img
      src="../assets/image/background-circle-01.png"
      class="background__circle background__circle_01">
    <img
      src="../assets/image/background-circle-02.png"
      class="background__circle background__circle_02">
  </div>
  <div class="settings-header">
    <div class="category-detail">
      <div class="category-detail__icon">
        <img
          src="../assets/image/menu/settings.svg"
          class="category-detail__image">
      </div>
      <p class="category-detail__label">
        Enstellungen
    </p>
    </div>
  </div>
  <div class="setting-tab">
    <div class="container">
      <div class="setting-group">
        <button
          [ngClass]="{'selected': selectedIndex === index + 1}"
          [class]="tab.class"
          (click)="clickEvent(tab.event, index)"
          *ngFor="let tab of setting; let index = index">
          <img
            [src]="tab.icon"
            class="setting-button__icon">
          <span class="setting-button__label">{{tab.label}}</span>
          <img
            src="../assets/image/settings/arrow.svg"
            class="setting-button__arrow">
        </button>
      </div>
      <div class="setting-content">
        <div
          class="setting-content-default"
          *ngIf="!selectedIndex">
          <h2 class="setting-content-default__title">Einstellungen</h2>
          <img
            src="../assets/image/settings/icon-default.svg"
            class="setting-content-default__image">
        </div>
        <div
          class="setting-content-primary"
          *ngIf="selectedIndex">
          <app-password-reset *ngIf="selectedIndex === 1"></app-password-reset>
          <app-terms-use *ngIf="selectedIndex === 3"></app-terms-use>
          <app-privacy-policy *ngIf="selectedIndex === 4"></app-privacy-policy>
          <app-remove-account
            *ngIf="selectedIndex === 8"
            (removeChanges)="removeAccountCancel($event)"></app-remove-account>
        </div>
      </div>
    </div>
  </div>
</section>
