@import "../../../theme/variables.scss";

::ng-deep .confirm-email-dialog{
  max-width: inherit!important;
  .mat-dialog-container {
    border-radius:10px;
    padding:0;
    overflow: inherit;
    height: auto;
  }
}
.confirm-email-dialog{
  border-radius:10px;
  padding:40px 80px 55px 80px;
  width:550px;
  position: relative;
  background-color: #ffffff;
  &__title{
    margin-bottom: 35px;
    font-size: 17px;
    font-family: $workSansBold;
    text-align: center;
    line-height: 1.25;
  }
  &__description{
    text-align: center;
    font-size: 17px;
    margin-bottom: 35px;
    line-height: 1.25;
  }
}
.close-dialog-button{
  background-color:transparent;
  position: absolute;
  right:10px;
  top:10px;
  width:18px;
  height:18px;
  &__icon{
    height:100%;
    fill:#434784;
  }
}
.confirm-email-decor{
  position: absolute;
  &_01{
    left: 40px;
    top: 40px;
  }
  &_02{
    right: -50px;
    top: -10px;
  }
}
.email-status{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-status-item{
  display: flex;
  align-items: center;
  &__circle{
    width: 30px;
    height: 30px;
    background-color: #f9f9f9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    flex-shrink: 0;
    &_send{
      cursor: pointer;
      .email-status-item__icon{
        height: 20px;
      }
    }
    &_sent{
      .email-status-item__icon{
        height: 14px;
      }
    }
  }
  &__icon{
    fill: $primary;
  }
}
.loading{
  animation: loadingAnimation 1s linear infinite;
}
@keyframes loadingAnimation {
  from {
		transform: rotate(0deg);
	}
  to {
	  transform: rotate(-359deg);
	}
}
@media screen and (max-width: 568px) {
  .confirm-email-dialog{
    height: 450px;
    width: 90vw;
    padding:0 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .confirm-email-decor{
    &_01{
      left: 29px;
    }
    &_02{
      right: 0;
      top: 150%;
    }
  }
}
@media screen and (max-width: 374px) {
  .confirm-email-dialog {
    &__title{
      font-size: 14px;
    }
    &__description{
      font-size: 14px;
    }
  }
  .email-status-item{
    &__text{
      font-size: 14px;
    }
  }
}