<section class="dialog">
  <div class="dialog-header">
    <h2 class="dialog-header__title">Datenschutzbestimmungen</h2>
    <button
      class="button-close-dialog"
      (click)="closeDialog()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.765 21.765" class="button-close-dialog__icon">
        <g transform="translate(0 -0.001)">
          <g transform="translate(0 0.001)">
            <path class="a" d="M12.084,10.883l9.431-9.431a.85.85,0,0,0-1.2-1.2L10.882,9.681,1.451.25a.85.85,0,0,0-1.2,1.2L9.68,10.883.249,20.314a.85.85,0,0,0,1.2,1.2l9.431-9.431,9.431,9.431a.85.85,0,0,0,1.2-1.2Z" transform="translate(0 -0.001)"/>
          </g>
        </g>
      </svg>
    </button>
  </div>
  <div class="dialog-body">
    <p>Irure sint ut voluptate eiusmod nisi mollit velit occaecat occaecat ipsum aliqua labore qui amet. Voluptate est voluptate sint duis sunt officia anim est qui qui elit consequat id. Laborum aliquip veniam magna consectetur cillum minim voluptate incididunt. Consectetur mollit quis non aliqua eu nostrud. Sit quis voluptate aliquip nostrud. Aliquip ea aute magna ut proident ea ea Lorem incididunt consectetur.</p>
    <p>Sint mollit consectetur reprehenderit dolore aute. Commodo consequat exercitation adipisicing ut cupidatat esse excepteur adipisicing quis quis proident. Do commodo excepteur velit consectetur. Qui duis irure enim sit.
    Voluptate veniam non excepteur incididunt. Aliquip cupidatat amet culpa officia nisi. Reprehenderit non occaecat nostrud ut Lorem. Sit dolor aute cillum in sint non adipisicing deserunt ad. Tempor proident adipisicing fugiat laborum amet veniam. Qui magna aliqua deserunt esse adipisicing nostrud do nostrud. Dolor nulla tempor enim aliquip incididunt et dolore fugiat ad officia.</p>
    <p>
    Dolore occaecat enim ipsum voluptate. Consectetur adipisicing nisi aliquip incididunt officia ad. Est sit sunt officia proident cillum irure ullamco labore ad ex aliqua. Ad ullamco exercitation sint qui nisi est. Esse est amet non pariatur id voluptate laborum Lorem dolor ex. Esse excepteur duis excepteur exercitation exercitation et ad do.
    Aliqua do magna dolor aliqua aliquip eiusmod in et sit commodo consequat ad dolore incididunt. Quis qui tempor cupidatat exercitation et ut consequat nostrud. Non consectetur labore eu ad reprehenderit amet mollit ut excepteur anim velit consequat. Ipsum et veniam aute et nisi mollit nulla commodo laboris deserunt enim eu. Commodo aute ad aliquip non ex nulla. Amet irure qui tempor exercitation nostrud reprehenderit consequat labore elit sit.
    </p>
    <p>
      Lorem sit labore proident sint amet nisi proident laborum labore. Ea culpa nulla nulla officia id incididunt. Lorem excepteur id reprehenderit dolor quis. Quis deserunt occaecat qui dolore deserunt sint laborum nisi. Dolor sunt do sint aliqua nisi laboris id veniam minim dolore consequat sunt aute Lorem. Esse qui ut aute aute pariatur in in pariatur.
      Fugiat nisi aute deserunt magna culpa duis fugiat proident anim irure tempor. Ex excepteur eu nulla eu aute qui. Veniam duis nostrud veniam culpa duis sint eiusmod dolore mollit et.
      Nulla nulla occaecat quis id velit. Voluptate adipisicing voluptate non do et labore sint minim laborum ipsum aute aliqua. Id voluptate ea laboris elit qui nisi.
    </p>
    <p>
      Duis duis est sunt sint qui magna cillum labore sunt exercitation eiusmod amet. Cillum velit et incididunt reprehenderit enim sit ad deserunt ad nostrud ipsum. Minim excepteur nulla qui occaecat et commodo voluptate laborum nisi mollit exercitation. Quis reprehenderit tempor est voluptate enim do excepteur anim ex anim nostrud incididunt incididunt. Pariatur proident ullamco adipisicing tempor nostrud. Ea magna nulla veniam minim veniam excepteur eu velit aliquip occaecat officia do sint non. Aliquip labore id exercitation sunt et consectetur occaecat.
    </p>
    <p>
      Duis duis est sunt sint qui magna cillum labore sunt exercitation eiusmod amet. Cillum velit et incididunt reprehenderit enim sit ad deserunt ad nostrud ipsum. Minim excepteur nulla qui occaecat et commodo voluptate laborum nisi mollit exercitation. Quis reprehenderit tempor est voluptate enim do excepteur anim ex anim nostrud incididunt incididunt. Pariatur proident ullamco adipisicing tempor nostrud. Ea magna nulla veniam minim veniam excepteur eu velit aliquip occaecat officia do sint non. Aliquip labore id exercitation sunt et consectetur occaecat.
    </p>
  </div>
</section>
