@import "../../../theme/variables.scss";
.personal{
    background-color:$primary;
    position:relative;
    min-height: 100vh;
    overflow: auto;
	overflow-x: hidden;
}
.categorie-header{
    padding-top:85px;
    margin-bottom:40px;
}
.categorie-wrapper{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.categorie-info{
    display: flex;
    align-items: center;
}
.categorie-icon{
    width:80px;
    height:80px;
    border-radius:50px;
    background-color:$primary;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right:25px;
    &__image{
        height:40px;
    }
}
.categorie-detail{
    display: flex;
    align-items: center;
    &__label{
        color:$blue;
        font-family: $gb;
        font-size: 30px;
        margin-right:50px;
    }
    &__back{
        background-color:transparent;
        margin-right:50px;
    }
    &__next{
        background-color: transparent;
    }
}
.categorie-edit-status{
    display: flex;
    align-items:center;
    &__icon{
        background-color:$yellow;
        width:50px;
        height:50px;
        border-radius:50%;
        display:flex;
        align-items:center;
        justify-content: center;
        margin-right:40px;
    }
    &__image{
        height:25px;
    }
}
.categorie-close-button{
    background-color: transparent;
    width:25px;
    height:25px;
    &__icon{
        height:100%;
        fill:$black;
    }
}
// STYLE INPUT
.flx{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.field{
    width:45%;
    margin-bottom:20px;
    &__label{
        color:$black;
        opacity: .5;
        margin-bottom:11px;
        margin-left:19px;
    }
}
.field-wrapper{
    width:100%;
    position: relative;
    mat-form-field{
        width:100%;
        box-shadow: 0px 2px 5px #00000026;
        border-radius: 10px;
        select{
            padding:0;
            top:0;
            margin-bottom:0;
            padding:15px 19px;
            color:$black;
            opacity: .8;
            font-size: 17px;
        }
        ::ng-deep .mat-form-field-wrapper{
            padding:0;
            .mat-form-field-infix,
            .mat-form-field-label-wrapper{
                padding:0;
                margin:0;
                border:0;
            }
            .mat-form-field-underline{
                display: none;
            }
        }
    }
    &__input{
        width:100%;
        background-color:#ffffff;
        border:0;
        padding:15px 19px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.17);
        border-radius: 10px;
        color:$black;
        opacity: .8;
        font-size: 17px;
        &::placeholder{
            color:#989898;
            opacity: .8;
            font-size: 17px;
        }
    }
    &__status{
       width:10px;
       height:100%;
       position: absolute;
       right:0;
       top:0;
       border-bottom-right-radius: 10px;
       border-top-right-radius: 10px;
       background-color:$green; 
       &.invalid{
           background-color: $yellow;
       }
    }
}
.datepicker-wrp{
 position: relative;
 cursor: pointer;
 &__icon{
     position:absolute;
     right:25px;
     top:50%;
     transform: translateY(-50%);
     z-index: 1;
     width:15px;
     height:17px;
 }
 mat-datepicker-toggle{
     z-index: 2;
     position: absolute;
     left:0;
     top:0;
     width:100%;
     height:100%;
     ::ng-deep button{
         position: absolute;
         left:0;
         top:0;
         width:100%!important;
         height:100%!important;
         svg{
             display:none;
         }
         .mat-button-focus-overlay,
         .mat-button-wrapper,
         .mat-button-ripple{
             display: none;
         }
     }
 }
}