@import "../../../theme/variables.scss";
.personal{
    background-color:$primary;
    position:relative;
    min-height: 100vh;
    overflow: auto;
	overflow-x: hidden;
}
.category-decor{
    margin-bottom: 2vw;
    &__image{
        display: block;
        width: 90%;
        margin:0 auto;
        &_mobile{
            display: none;
        }
    }
}
.disabled{
    pointer-events: none;
    filter: grayscale(1);
}
.subcategory-item{
    margin-bottom:60px;
    &:last-child{
        margin-bottom:0;
    }
}
.subcategory-info{
    width:100%;
    display: flex;
    align-items:center;
    margin-bottom:25px;
    &__circle{
       width:60px;
       height:60px;
       border-radius:50%;
       background-color:#ffffff;
       display: flex;
       align-items:center;
       justify-content: center; 
       margin-right:20px;
    }
    &__name{
        font-size: 17px;
        font-family: $gb;
        opacity: .8;
    }
}

.flex-grid{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.field{
    width:47%;
    margin-bottom:20px;
    &_select{
        .field-wrapper{
            padding:0;
            background-color:inherit;
        }
    }
    &_datapicker{
        .field-wrapper{
            padding-right:0;
            cursor: pointer;
            &__input{
                pointer-events: none;
                height:100%;
                border-radius: 10px;
            }
        }
    }
    &__label{
        color:$black;
        opacity: .5;
        margin-bottom:11px;
        margin-left:19px;
    }
}
.field-wrapper{
    height: 50px;
    width:100%;
    position: relative;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.17);
    padding-left: 19px;
    padding-right:55px;
    border-radius: 10px;
    background-color:#ffffff;
    display: flex;
    align-items: center;
    &__input{
        width:100%;
        border:0;
        color:$black;
        font-family: $gr;
        font-size: 17px;
        &::placeholder{
            color:#989898;
            opacity: .8;
            font-size: 17px;
        }
    }
    &__status{
       width:10px;
       height:100%;
       position: absolute;
       z-index: 5;
       right:0;
       top:0;
       border-bottom-right-radius: 10px;
       border-top-right-radius: 10px;
       background-color:$green; 
       &.invalid{
           background-color: $yellow;
       }
    }
    &__type{
        position: absolute;
        top:50%;
        right:19px;
        transform: translate(0 , -50%);
        color: #989898;
        opacity: 0.8;
        font-size: 17px;
        width: 30px;
        text-align: center;
    }
}

/* = MEDIA = */
@media screen and (max-width:1500px){
    .form-wrapper{
        padding-left:5vw;
        padding-right:5vw;
    }
}
@media screen and (max-width:768px){
    .personal{
        background-color:#f9f9f9;
    }
    .form-wrapper{
        padding:0;
    }
    .subcategory-item{
      margin-bottom:25px;
    }
    .category-decor{
        &__image{
            width: 80%;
            display: none;
            &_mobile{
                display: block;
            }
        }
    }
    .field{
        width:100%;
    }
    .field-wrapper{
        &__input{
            font-size: 16px;
        }
        &__type{
            font-size: 14px;
        }
    }
    .custom-select{
        font-size: 16px;
    }
}
@media screen and (max-width:568px){
    .field{
        &__label{
            margin-left:10px;
            font-size: 16px;
        }
    }
    ::ng-deep .ng-select .ng-select-container{
        padding-left: 10px;
    }
    .field-wrapper{
        padding-left:10px;
    }
}
/* = MEDIA END = */