<section class="personal">
  <div class="background">
    <img
      src="../assets/image/background-circle-01.png"
      class="background__circle background__circle_01">
    <img
      src="../assets/image/background-circle-02.png"
      class="background__circle background__circle_02">
  </div>
  <app-category-nav-header [navSettings]="navSettings"></app-category-nav-header>
  <div class="personal-wrapper">
    <div class="container">
      <form
        class="form"
        *ngIf="form"
        [formGroup]="form">
        <div
          formGroupName="personal"
          class="subcategory-item flex-grid">
          <div class="subcategory-info">
            <div class="subcategory-info__circle">
              <img
                src="../assets/image/profile/personal/subcategory-01.svg"
                class="subcategory-info__icon">
            </div>
            <p class="subcategory-info__name">Persönliche Angaben</p>
          </div>
          <div class="field">
            <p class="field__label">Vorname</p>
            <div class="field-wrapper">
              <input
                type="text"
                placeholder="Vorname"
                class="field-wrapper__input"
                formControlName="firstName"
                (blur)="submit('Vorname')">
              <div class="field-wrapper__type">abc</div>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('personal').get('firstName').value}"></div>
            </div>
          </div>
          <div class="field">
            <p class="field__label">Name</p>
            <div class="field-wrapper">
              <input
                type="text"
                placeholder="Name"
                class="field-wrapper__input"
                formControlName="lastName"
                (blur)="submit('Name')">
              <div class="field-wrapper__type">abc</div>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('personal').get('lastName').value}"></div>
            </div>
          </div>
          <div class="field">
            <p class="field__label">Namenzusatz</p>
            <div class="field-wrapper">
              <input
                type="text"
                placeholder="Namenzusatz"
                class="field-wrapper__input"
                formControlName="middleName"
                (blur)="submit('Namenzusatz')">
              <div class="field-wrapper__type">abc</div>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('personal').get('middleName').value}"></div>
            </div>
          </div>
          <div class="field field_select">
            <p class="field__label">Geschlecht</p>
            <div class="field-wrapper">
              <ng-select
                [searchable]="false"
                [clearable]="false"
                placeholder="Gender"
                formControlName="gender"
                (change)="submit('Geschlecht')"
                class="custom-select">
                <ng-option *ngFor="let item of dropdownOptions?.gender" [value]="item">
                  <span style="text-transform: capitalize;">{{ item }}</span>
                </ng-option>
              </ng-select>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('personal').get('gender').value}"></div>
            </div>
          </div>
          <div class="field field_select">
            <p class="field__label">Akademischer Titel</p>
            <div class="field-wrapper">
              <ng-select
                [searchable]="false"
                [clearable]="false"
                placeholder="Akademischer Titel"
                formControlName="academicTitle"
                (change)="submit('Akademischer Titel')"
                class="custom-select">
                <ng-option *ngFor="let item of dropdownOptions?.academic_titles" [value]="item">{{ item }}</ng-option>
              </ng-select>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('personal').get('academicTitle').value}">
              </div>
            </div>
          </div>
          <div class="field field_datapicker">
            <p class="field__label">Geburtsdatum</p>
            <div
              class="field-wrapper"
              [owlDateTimeTrigger]="dt1">
              <input
                [owlDateTime]="dt1"
                (dateTimeChange)="submit('Geburtsdatum')"
                class="field-wrapper__input"
                formControlName="dateBirth"
                placeholder="DD/MM/YYYY">
              <owl-date-time
                #dt1
                pickerMode="dialog"
                pickerType="calendar"
                panelClass="calendar"></owl-date-time>
              <div class="field-wrapper__type">
                <img src="../assets/image/calendar.svg">
              </div>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('personal').get('dateBirth').value}"></div>
            </div>
          </div>
          <div class="field">
            <p class="field__label">Geburtsort</p>
            <div class="field-wrapper">
              <input
                type="text"
                placeholder="Geburtsort"
                class="field-wrapper__input"
                formControlName="birthPlace"
                (blur)="submit('Geburtsort')">
              <div class="field-wrapper__type">abc</div>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('personal').get('birthPlace').value}"></div>
            </div>
          </div>
          <div class="field field_select field_select-singleselect-arrow clearable">
            <p class="field__label">Staatsangehörigkeit</p>
            <div class="field-wrapper">
              <ng-select
                [items]="nationalitiesList$ | async"
                [multiple]="false"
                formControlName="nationality"
                (blur)="submit('Staatsangehörigkeit')"
                [placeholder]="'Staatsangehörigkeit eingeben'"
                class="custom-select">
              </ng-select>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('personal').get('nationality').value}">
              </div>
            </div>
          </div>
          <div class="field field_select">
            <p class="field__label">Familienstand</p>
            <div class="field-wrapper">
              <ng-select
                [searchable]="false"
                [clearable]="false"
                placeholder="Familienstand"
                formControlName="maritalStatus"
                (change)="submit('Familienstand')"
                class="custom-select">
                <ng-option *ngFor="let item of dropdownOptions?.maritalStatus" [value]="item">
                  {{ item }}
                </ng-option>
              </ng-select>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('personal').get('maritalStatus').value}">
              </div>
            </div>
          </div>
        </div>
        <div
          class="subcategory-item flex-grid"
          formGroupName="contact">
          <div class="subcategory-info">
            <div class="subcategory-info__circle">
              <img
                src="../assets/image/profile/personal/subcategory-02.svg"
                class="subcategory-info__icon">
            </div>
            <p class="subcategory-info__name">Kontaktinformationen</p>
          </div>
          <div
            class="field field_select field_select-search single clearable"
            formGroupName="residence">
            <p class="field__label">Land</p>
            <div class="field-wrapper">
              <ng-select
                [items]="landList$ | async"
                [multiple]="false"
                [placeholder]="'Land'"
                formControlName="country"
                (change)="onChangeLand(form.get('contact').get('residence'))"
                (blur)="submit('land')"
                class="custom-select">
              </ng-select>
              <div class="field-wrapper__type">abc</div>
              <div
                [ngClass]="{invalid : !form.get('contact').get('residence').get('country').value}"
                class="field-wrapper__status"></div>
            </div>
          </div>
          <div
            class="field field_select field_select-search single clearable"
            [ngClass]="{'invalid': form.get('contact').get('residence').get('country').invalid}"
            formGroupName="residence">
            <p class="field__label">Wohnort</p>
            <div class="field-wrapper">
              <ng-select
                [items]="cityList$ | async"
                [multiple]="false"
                [placeholder]="'Wohnort'"
                [virtualScroll]="true"
                formControlName="place"
                (change)="onChangeCity(form.get('contact').get('residence'))"
                (blur)="submit('Wohnort')"
                class="custom-select">
              </ng-select>
              <div class="field-wrapper__type">abc</div>
              <div
                [ngClass]="{invalid : !form.get('contact').get('residence').get('place').value}"
                class="field-wrapper__status"></div>
            </div>
          </div>
          <div
            class="field field_select field_select-search single clearable"
            [ngClass]="{'invalid': form.get('contact').get('residence').get('country').invalid}"
            formGroupName="residence">
            <p class="field__label">PLZ</p>
            <div class="field-wrapper">
              <ng-select
                [items]="zip$ | async"
                [multiple]="false"
                [placeholder]="'PLZ'"
                [virtualScroll]="true"
                formControlName="zipCode"
                (change)="onChangeZip(form.get('contact').get('residence'))"
                (blur)="submit('PLZ')"
                class="custom-select">
              </ng-select>
              <div class="field-wrapper__type">123</div>
              <div
                [ngClass]="{invalid : !form.get('contact').get('residence').get('zipCode').value}"
                class="field-wrapper__status"></div>
            </div>
          </div>
          <div
            class="field"
            formGroupName="residence">
            <p class="field__label">Straße</p>
            <div class="field-wrapper">
              <input
                type="text"
                placeholder="Straße"
                class="field-wrapper__input"
                formControlName="street"
                (blur)="submit('Straße')">
              <div class="field-wrapper__type">abc</div>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('contact').get('residence').get('street').value}"></div>
            </div>
          </div>
          <div
            class="field"
            formGroupName="residence">
            <p class="field__label">Hausnummer</p>
            <div class="field-wrapper">
              <input
                type="text"
                placeholder="Hausnummer"
                class="field-wrapper__input"
                formControlName="houseNumber"
                (blur)="submit('Hausnummer')">
              <div class="field-wrapper__type">123</div>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('contact').get('residence').get('houseNumber').value}"></div>
            </div>
          </div>
          <div class="field" formGroupName="residence">
            <p class="field__label">Adresszusatz</p>
            <div class="field-wrapper">
              <input
                type="text"
                placeholder="Adresszusatz"
                class="field-wrapper__input"
                formControlName="addressAddition"
                (blur)="submit('Adresszusatz')">
              <div class="field-wrapper__type">abc</div>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('contact').get('residence').get('addressAddition').value}">
              </div>
            </div>
          </div>
          <div class="field">
            <p class="field__label">Telefon</p>
            <div class="field-wrapper">
              <input
                type="tel"
                (keypress)="phoneValidation($event)"
                placeholder="Telefonnummer"
                class="field-wrapper__input"
                formControlName="phoneNumberMobile"
                (blur)="submit('Telefonnummer')">
              <div class="field-wrapper__type">123</div>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('contact').get('phoneNumberMobile').value}"></div>
            </div>
          </div>
        </div>
        <div
          formGroupName="contact"
          class="subcategory-item flex-grid">
          <div class="subcategory-info">
            <div class="subcategory-info__circle">
              <img
                src="../assets/image/profile/personal/subcategory-03.svg"
                class="subcategory-info__icon">
            </div>
            <p class="subcategory-info__name">Social Media</p>
          </div>
          <div class="field">
            <p class="field__label">Instagram</p>
            <div class="field-wrapper">
              <input
                type="text"
                placeholder="Profil-Link eingeben"
                class="field-wrapper__input"
                formControlName="instagram"
                (blur)="submit('Instagram')">
              <div class="field-wrapper__type">abc</div>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('contact').get('instagram').value}"></div>
            </div>
          </div>
          <div class="field">
            <p class="field__label">Facebook</p>
            <div class="field-wrapper">
              <input
                type="text"
                placeholder="Profil-Link eingeben"
                class="field-wrapper__input"
                formControlName="facebook"
                (blur)="submit('Facebook')">
              <div class="field-wrapper__type">abc</div>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('contact').get('facebook').value}"></div>
            </div>
          </div>
          <div class="field">
            <p class="field__label">Xing</p>
            <div class="field-wrapper">
              <input
                type="text"
                placeholder="Profil-Link eingeben"
                class="field-wrapper__input"
                formControlName="xing"
                (blur)="submit('Xing')">
              <div class="field-wrapper__type">abc</div>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('contact').get('xing').value}"></div>
            </div>
          </div>
          <div class="field">
            <p class="field__label">Linkedin</p>
            <div class="field-wrapper">
              <input
                type="text"
                placeholder="Profil-Link eingeben"
                class="field-wrapper__input"
                formControlName="linkedin"
                (blur)="submit('Linkedin')">
              <div class="field-wrapper__type">abc</div>
              <div
                class="field-wrapper__status"
                [ngClass]="{invalid : !form.get('contact').get('linkedin').value}"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
