@import "../../../theme/variables.scss";
.personal{
    background-color:$primary;
    position:relative;
    min-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    padding-bottom:100px;
    .personal-wrapper{
        width: 100%;
        max-width: 1350px;
        margin: 0 auto;
        margin-top: -50px;
    }
}
.subcategory-item{
    margin-bottom:27px;
    &:last-child{
        margin-bottom:0;
    }
}
.subcategory-info{
    width:100%;
    display: flex;
    align-items:center;
    margin-bottom:14px;
    &__circle{
       width:60px;
       height:60px;
       border-radius:50%;
       background-color:#ffffff;
       display: flex;
       align-items:center;
       justify-content: center;
       margin-right:20px;
    }
    &__name{
        font-size: 20px;
        font-family: $workSansSemiBold;
        opacity: .8;
        color: $black;
    }
}

.flex-grid{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.field{
    &_select{
        .field-wrapper{
            background-color:inherit;
        }
    }
    &_datapicker{
        .field-wrapper{
            padding-right:0;
            cursor: pointer;
            &__input{
                pointer-events: none;
                height:100%;
                border-radius: 10px;
            }
        }
    }
}
/* = MEDIA = */
@media screen and (max-width:1500px){
    .personal-wrapper{
        padding-left:5vw;
    }
}
@media screen and (max-width: 992px) {
    .subcategory-info__circle{
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }
    .subcategory-info__icon{
        height: 20px;
    }
    .subcategory-info__name{
        font-size: 17px;
    }
}
@media screen and (max-width:768px){
    .personal{
        background-color:#F9F9F9;
        padding-bottom: 0;
        .personal-wrapper{
            margin-top: -25px;
        }
    }
    .personal-wrapper{
        padding:0;
    }
    .subcategory-item{
        margin-bottom:20px;
    }
    .field{
        width:100%;
    }
    .subcategory-info__circle{
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }
    .subcategory-info__icon{
        height: 32px;
    }
    .subcategory-info__name{
        font-size: 20px;
    }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
    .subcategory-info__circle{
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }
    .subcategory-info__icon{
        height: 20px;
    }
    .subcategory-info__name{
        font-size: 17px;
    }
}
/* = MEDIA END = */
