@import "../../theme/variables.scss";
::ng-deep circle-progress{
    svg{
        path.ng-star-inserted{
            stroke:#54c0ae;
        }
        circle.ng-star-inserted {
            stroke: #cbe8e4;
        }
    }
}
.profile{
    min-height: 100vh;
    background-color: $primary;
    position: relative;
    overflow: auto;
	overflow-x: hidden;
}

// PROFILE HEADER
.profile-details{
    .container{
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    &__avatar {
    width:175px;
    height:175px;
    border-radius:50%;
    box-sizing: border-box;
    position: relative;
    margin-top:75px;
    margin-bottom:15px;
    }
    &__image{
        object-fit: cover;
        object-position: 50%;
        border-radius: 50%;
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        height:85%;
        width: 85%;
        &_default{
             background-color: rgb(128, 128, 128, .1);
             img{
                 position: absolute;
                 left:50%;
                 top:50%;
                 transform: translate(-50%, -50%);
                 height: 20px;
             }
        }
    }
    &__name{
        color:$blue;
        font-family: $gb;
        margin-bottom:11px;
        font-size: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        text-align: center;
    }
    &__description{
        width:320px;
        text-align:center;
        font-size: 17px;
        margin-bottom:50px;
    }
}
.add-profile-picture{
    position: absolute;
    left:50%;
    bottom:-5px;
    color:$blue;
    font-weight: bold;
    font-size: 25px;
    transform: translate(-50%, 0);
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color:#ffffff;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.5);
}


// PROFILE CATEGORY
.categories-wrapper{
    display: flex;
    flex-wrap:wrap;
    padding-left:200px;
    &__item{
        width:230px;
        height:230px;
        margin-right:12px;
        margin-bottom: 12px;
    }
}
/* = MEDIA = */
@media screen and (max-width:1400px){
    .categories-wrapper{
        padding-left:100px;
        padding-bottom: 25px;
    }
}
@media screen and (max-width:1200px){
    .categories-wrapper{
        padding-left:75px;
        justify-content:flex-start;
        &__item{
            width: 200px;
            height:200px;
            margin:0 10px 10px 0;
        }
    }
    .profile-details{
        &__avatar{
            margin-top:35px;
        }
        &__description{
            margin-bottom:25px;
        }
    }
}
@media screen and (max-width:992px){
    .categories-wrapper{
        padding-left:55px;
    }
}
@media screen and (max-width:768px){
    .profile{
        background-color:#ffffff;
    }
    .profile-details{
        position: relative;
        &::before{
            content: '';
            width:100%;
            height:135px;
            background-color: $primary;
            border-bottom-left-radius: 50px;
            position: absolute;
            left:0;
            top:0;
        }
    }
    ::ng-deep circle-progress{
        svg{
            filter: drop-shadow( 0px 5px 5px rgba(0, 0, 0, .5));
            path.ng-star-inserted{
                stroke:#ffffff;
            }
            circle.ng-star-inserted {
                stroke: #ffffff;
                opacity: .5;
            }
        }
    }
}
@media screen and (max-width:667px){
    .profile{
        padding-bottom:25px;
    }
    .categories-wrapper{
        padding:0;
        justify-content: center;
        &__item{
            margin:0;
            &:nth-child(odd){
                margin-right:10px;
                margin-bottom:10px;
            }
            &:last-child{
                margin:0;
               transform: translateX(-105px);
            }
        }
    }
}
@media screen and (max-width:640px){}
@media screen and (max-width:568px){}
@media screen and (max-width:480px){
    .profile-details{
        &__description{
            width:80%;
        }
    }
    .categories-wrapper{
        &__item{
        width:160px;
        height:160px;
        &:last-child{
            transform: translateX(-85px);
            }
        }
    }
}
@media screen and (max-width:414px){}
@media screen and (max-width:375px){
    .profile-details{
        &__name{
            font-size: 25px;
        }
        &__description{
            width:90%;
            font-size: 16px;
        }
    }
    .categories-wrapper{
        &__item{
        width:140px;
        height:140px;
        &:nth-child(odd){
            margin-right:5px;
            margin-bottom:5px;
        }
        &:last-child{
            transform: translateX(-70px);
            }
        }
    }
}
@media screen and (max-width:360px){}
@media screen and (max-width:320px){}
/* = MEDIA END = */