<div class="profile">
  <div class="background">
    <img
      src="../assets/image/background-circle-01.png"
      class="background__circle background__circle_01">
    <img
      src="../assets/image/background-circle-02.png"
      class="background__circle background__circle_02">
  </div>
  <section class="profile-details">
    <div class="container">
      <div class="profile-details__avatar">
        <circle-progress
          [percent]="70"
          [radius]="100"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="8"
          [space]="-8"
          [showSubtitle]="false"
          [showTitle]="false"
          [showUnits]="false"
          [animation]="true"
          [animationDuration]="1000"
          [startFromZero]="false"
          [responsive]="true"></circle-progress>
        <div class="profile-details__image profile-details__image_default">
          <img
            src="../assets/image/icon-image.svg"
            class="image-cropper__icon">
        </div>
        <img
          [src]="imageUrl"
          *ngIf="imageUrl"
          class="profile-details__image">
        <div
          class="profile-details__image profile-details__image_loading"
          *ngIf="spinner || !profileDate">
          <img
            src="../assets/image/spinner.svg"
            class="image-cropper__icon">
        </div>
        <button
          [ngClass]="{'edit-picture' : imageUrl}"
          (click)="takeProfilePicture()"
          class="add-profile-picture">
          <img
            src="../assets/image/plus.svg"
            class="add-profile-picture__icon add-profile-picture__icon_plus">
          <img
            src="../assets/image/profile/pencil.svg"
            class="add-profile-picture__icon add-profile-picture__icon_edit">
        </button>
      </div>
      <p class="profile-details__name">Hey <span *ngIf="profileDate">{{ profileDate.profile.personal.firstName }}</span>!</p>
      <p class="profile-details__description">
        Dein Profil ist zu 65% vollständig. Ergänze fehlende Infos und erhöhe deine Chance bei der Bewerbung.
      </p>
    </div>
  </section>
  <section class="categories">
    <div class="container">
      <div class="categories-wrapper">
        <div
          *ngFor="let categorie of categories"
          class="categories-wrapper__item">
          <app-profile-category-item [category]="categorie"></app-profile-category-item>
        </div>
      </div>
    </div>
  </section>
</div>
