@import "../../theme/variables.scss";
.profile-header{
    height:250px;
    background-color: $primary;
    border-bottom-left-radius:50px;
    position:relative;
    margin-bottom:150px;
}
.user-avatar {
  width:250px;
  height:250px;
  background:rgba(255,255,255,.5);
  border-radius:50%;
  padding:10px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  bottom: -75px;
  transform:translate(-50%, 0);
  box-shadow: 0px 20px 30px #00000027;
  &__img{
    height: 100%;
    width:100%;
    object-fit: cover;
    object-position: 50%;
    border-radius: 50%;
  }
}
.cancel{
    position: absolute;
    left:215%;
    top:15px;
    background-color: transparent;
}
.category-wrp{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.category-item{
    box-shadow: 0px 20px 30px #00000027;
    padding:15px 25px 15px 15px;
    border-radius:10px;
    position:relative;
    height:250px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width:30%;
    margin-bottom:35px;
    cursor: pointer;
    &.grn{
        .cat-header__status{
            background-color: $green;
        }
        .cat-number{
            color: $green;
        }
    }
    &.red{
        .cat-header__status{
            background-color: $red;
        }
        .cat-number{
            color: $red;
        }
    }
}
.icon-overlay{
    position:absolute;
    right:15px;
    top:15px;
    height:100px;
    z-index: -1;
}
.cat-header{
    .flx{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    flex: 1;
    &__status{
       width:35px;
       height:35px;
       border-radius:50px;
       background-color: $yellow;
       position:relative;
       &_icon{
           position: absolute;
           left:50%;
           top:50%;
           transform:translate(-50%,-50%);
       }
    }
}
.cat-number{
    font-family: $gb;
    color:$yellow;
}
// ZZZZZZZZZZZZZZZZZZZz
.contact-wrp{
    width:75%;
    margin:0 auto;
}
.contact-item{
    margin-bottom:15px;
    &__label{
        opacity: 0.5;
        font-size: 20px;
        margin-bottom:10px;
        padding-left:15px;
        font-family:Regular, WorkSans;
        font-size: 14px;
    }
    &__input{
        box-shadow: 0px 2px 5px #00000026;
        border-radius: 10px;
        width:100%;
        border:0;
        padding:15px 20px;
        font-weight: 500;
        color:#313131;
        font-family:Regular, WorkSans;
    }
}
.contact-header{
    margin-bottom:50px;
    display: flex;
    justify-content: space-between;

}
.contact-header_logo{
    display: flex;
    align-items:center;
    p{
        font-family:Regular, WorkSans;
    }
}
.l{
    margin-right:5px;
    width:35px;
    height:35px;
    border-radius:50%;
    background-color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-header_arrow{
    display: flex;
    width:50px;
    justify-content: space-between;
}
@media screen and (max-width:568px){
	.container{
		padding:0 15px;
	}
}
@media screen and (max-width:768px){
    .cancel{
        left: 156%;
    }
    .contact-wrp{
        width:100%;
    }
    .contact-item{
        &__input{
            width:100%;
        }
    }
    .profile-header{
        height:100px;
        margin-bottom:100px;
    }
    .user-avatar{
        padding:5px;
        height:150px;
        width:150px;
    }
    .icon-overlay{
        height:75px;
    }
    .category-item{
        width:49%;
        height:175px;
        margin-bottom:10px;
    }
    .cat-title{
        font-size: 16px;
    }
}
@media screen and (max-width:414px) {
    .container{
		padding:0 5px;
	}
    .category-item{
        width:49%;
        margin-bottom:15px;
    }
}