<section class="profile">
  <div class="container">
    <h1 class="title-primary"><span class="title-primary__text">{{ 'profile.PROFILE_TTL' | translate }}</span></h1>
    <div class="profile-wrp">
      <div class="profile-header">
        <div class="profile-avatar"></div>
        <div class="profile-content">
          <div class="profile-content-item">
            <span class="profile-content-item__label">{{ 'general.FIRST_NAME' | translate }}</span>
            <p
              class="profile-content-item__info"
              *ngIf="profileData?.profile">{{ profileData?.profile.personal.firstName }}</p>
            <p
              class="profile-content-item__info"
              *ngIf="!profileData?.profile">Mark</p>
          </div>
          <div class="profile-content-item">
            <span class="profile-content-item__label">{{ 'general.LAST_NAME' | translate }}</span>
            <p
              class="profile-content-item__info"
              *ngIf="profileData?.profile">{{ profileData?.profile.personal.lastName }}</p>
            <p
              class="profile-content-item__info"
              *ngIf="!profileData?.profile">Ivanov</p>
          </div>
        </div>
      </div>
      <div class="profile-item">
        <span class="profile-item__label">E-mail:</span>
        <p class="profile-item__info">{{ profileData?.email }}</p>
      </div>
      <div class="profile-item">
        <span class="profile-item__label">{{ 'general.PLACE' | translate }}</span>
        <p
          class="profile-item__info"
          *ngIf="profileData?.profile">{{ profileData?.profile.personal.birthPlace }}</p>
        <p
          class="profile-item__info"
          *ngIf="!profileData?.profile">Maasbracht, Netherlands</p>
      </div>
      <div class="profile-item">
        <span class="profile-item__label">{{ 'general.BIRTH' | translate }}</span>
        <p
          class="profile-item__info"
          *ngIf="profileData?.profile">{{ profileData?.profile.personal.dateBirth | date:'fullDate' }}</p>
        <p
          class="profile-item__info"
          *ngIf="!profileData?.profile">{{ '2077-06-02T13:40:11.042Z' | date:'fullDate' }}</p>
      </div>
      <div class="profile-item">
        <span class="profile-item__label">{{ 'general.PHONE' | translate }}</span>
        <p
          class="profile-item__info"
          *ngIf="profileData?.profile">{{ profileData?.profile.contact.phoneNumberLandline }}</p>
        <p
          class="profile-item__info"
          *ngIf="!profileData?.profile">+123456789012</p>
      </div>
      <div class="profile-item">
        <span class="profile-item__label">User ID:</span>
        <p class="profile-item__info">{{ profileData?.id }}</p>
      </div>
      <div class="profile-item">
        <span class="profile-item__label">{{ 'general.ACCOUNT_CREATED' | translate }}</span>
        <p class="profile-item__info">{{ profileData?.createdAt | date:'fullDate' }}</p>
      </div>
    </div>
  </div>
</section>
