::ng-deep .mat-dialog-container{
  width:700px;
}
.image-cropper{
  height:365px;
  position: relative;
  background-color: rgb(128, 128, 128, .1);
  margin-bottom:25px;
  &__icon{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
  }
}
 image-cropper{
    padding:0;
}
.navigation-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__button{
    background-color: transparent;
    border:1px solid rgb(28, 28, 226);
    border-radius: 10px;
    padding:10px;
    &_left{
      margin-right:10px;
    }
  }
}
.rotate-box{
  display: flex;
}
