<section class="cropper-body">
  <div class="image-cropper">
    <img
      src="../assets/image/icon-img.png"
      class="image-cropper__icon">
    <image-cropper
      #ImageCropperComponent
      [imageChangedEvent]="data"
      [cropperMinWidth]="300"
      [cropperMinHeight]="300"
      [autoCrop]="false"
      [roundCropper]="true"
      format="png,jpeg"
      (imageLoaded)="imageLoaded()"
      [canvasRotation]="canvasRotation"></image-cropper>
  </div>
  <div class="navigation-box">
    <button class="navigation-box__button navigation-box__button_cancel">Cancel</button>
    <div class="rotate-box">
      <button
        type="button"
        class="navigation-box__button navigation-box__button_left"
        (click)="rotateLeft()">
        Left
      </button>
      <button
        type="button"
        class="navigation-box__button navigation-box__button_right"
        (click)="rotateRight()">
        Right
      </button>
    </div>
    <button
      (click)="crop()"
      class="navigation-box__button navigation-box__button_save">
      Save
    </button>
  </div>

</section>
