@import "../../../theme/variables.scss";
.miscellaneous{
    background-color:$primary;
    position:relative;
    min-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 100px;
}
::ng-deep .mat-expansion-panel-content{
    font: inherit;
}

.subcategory-item{
    margin-bottom:19px;
    border-radius: 10px;
    background-color: #ffffff;
    &:last-child{
        margin-bottom: 0;
    }
}

// ACCORDION HEADER
.mat-expansion-panel{
    background-color: transparent;
    box-shadow: none;
}
.subcategory-header{
    width: 100%;
    height: 89px;
    padding:0 50px 0 49px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    &__arrow{
        transition: .25s linear;
        &.accordion-active{
            transform-origin: center;
            transform: rotate(-180deg);
        }
    }
}
.subcategory-info{
    display: flex;
    align-items:center;
    &__icon{
        margin-right:30px;
        width: 50px;
    }
    &__label{
        font-size: 20px;
        font-family: $workSansSemiBold;
        opacity: .8;
    }
}
// ACCORDION CONTENT
.subcategory-content{
    border-top: 1px solid #E1E1E1;
    padding-bottom:49px;
}
.subcategory-preview{
  .tags-wrapper{
    padding-left:70px;
    &__item{
      margin-top:10px;
    }
  }
}
.subcategory-preview-item{
    padding: 15px 50px 15px 49px;
    border-top: 1px solid #E1E1E1;
    display: flex;
    justify-content: space-between;
    align-items:center;
     &__remove{
        background-color:$red;
        width:20px;
        height:20px;
        border-radius: 50%;
    }
}
.relevant-info{
    width: 100%;
    display: flex;
    justify-content: center;
    &__line{
        display: block;
        width:20px;
        height:2px;
        background-color:$black;
        opacity: .8;
    }
}
.subcategory-preview-info{
    display:flex;
    align-items:center;
    width: 100%;
    &__details{
        display: flex;
        align-items:center;
        width: 100%;
    }
    &__invalid{
        color:$red;
    }
    &__number{
        width:50px;
        display: flex;
        justify-content: center;
        margin-right:30px;
        cursor: pointer;
    }
    &__text{
        display: inline-block;
        border-radius:50%;
        background-color: #F5F5F5;
        width:24px;
        height:24px;
        text-align: center;
        line-height: 24px;
        color: $blue;
        font-size: 17px;
    }
    &__circle{
        width:4px;
        height:4px;
        background-color: $black;
        opacity: .8;
        margin:0 7px;
        border-radius: 50%;
    }
    &__species,
    &__scope,
    &__date{
        font-size: 17px;
    }
}
::ng-deep .accordion .mat-expansion-panel-body, .mat-expansion-panel-header {
    padding:0;
}

.flex-grid{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    border-bottom: 1px solid #E1E1E1;
    position: relative;
    padding: 39px 49px 26px 49px;
    &_not-relevant{
      .field{
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
    &:last-child{
        border-bottom:none;
    }
    .not-relevant{
      border:none;
      width: 47%;
      padding:0;
      &__item{
        width:100%;
      }
    }
}
.not-relevant{
    padding-left: 49px;
    padding-top: 39px;
    &__item{
        background-color:rgba(152, 152, 152, .1);
        width:calc(47% - 19px);
        border-radius:10px;
        display: flex;
        align-items:center;
        height: 70px;
        padding-left: 19px;
    }
    &__checkbox{
        margin-right:10px;
        width:20px;
        height:20px;
    }
}
.remove-fields{
    position: absolute;
    right: 15px;
    top: 15px;
    &__button{
        width:20px;
        height:20px;
        background-color:transparent;
        background-color:$red;
        border-radius:50%;
    }
    &__icon{
        height:10px;
        stroke:#ffffff;
    }
}
.add-fields{
    position: relative;
    width:100%;
    height: 1px;
    &__button{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        width:50px;
        height:50px;
        border-radius:50%;
        background-color:$primary;
        display: flex;
        align-items:center;
        justify-content: center;
    }
}
// DATA GROUP
.datepicker-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    .field{
        width:35%!important;
        margin-bottom:0;
    }
}
.datapicker-checkbox{
    height: 50px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left:15px;
}

.field_group{
    .field{
        &:last-child{
            margin-bottom: 0
        }
    }
}
.field_checkbox{
    width:100%;
    padding-left:19px;
}
.tags-wrapper{
    display: flex;
    padding-left:19px;
    flex-wrap: wrap;
    &__item{
        border:1px solid $primary;
        border-radius:10px;
        padding:10px 15px;
        margin:25px 20px 0 0;
        position: relative;
    }
    &__label{
        color:$primary;
        font-size: 15px;
    }
    &__remove{
        width:20px;
        height:20px;
        background-color:$red;
        border-radius:50%;
        position:absolute;
        right:-10px;
        top:-5px;
    }
}
.notRelevant{
    pointer-events: none;
    .field-wrapper{
        position: relative;
        overflow: hidden;
        &:before{
            content:'';
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            background-color:rgba(152, 152, 152, .2);
            z-index: 1;
        }
        &__status{
            background-color:#989898;
        }
        &__input{
            background-color: transparent;
        }
    }
}
@media screen and (max-width:1500px){
    .subcategory{
        padding-left:5vw;
    }
    // NEW
    .datepicker-group{
        .field{
            width: 49%!important;
        }
    }
    .datapicker-checkbox{
        margin-left: 0;
        justify-content: flex-end;
        width: calc(100% - 19px);
    }
    // NEW END
}
@media screen and (max-width:1200px){
    // NEW
    .subcategory-header{
        padding: 0 39px 0 29px;
    }
    .flex-grid{
        padding: 39px 29px 26px 29px;
    }
    .subcategory-preview-item{
        padding-left: 29px;
        padding-right: 39px;
    }
    .not-relevant{
        padding-left:29px;
        padding-right:29px;
    }
    .not-relevant__item{
        width: 47%;
    }
    // NEW END
    .subcategory-info{
        &__icon{
            height:35px;
            margin-right:25px;
        }
    }
}
@media screen and (max-width:992px){
 // NEW
    .datepicker-group{
        width: 100%;
        .field{
            width: 47%!important;
        }
    }
 // NEW END
    .flex-grid_relevant{
        flex-direction: column;
        .field{
            width: 100%;
        }
        .not-relevant{
            order: -1;
            margin-bottom:13px;
        }
    }
    .field-group,
    .field_group{
        width:100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .field{
            width:100%;
        }
    }
    .field{
        &_textarea{
            width:100%!important;
            .field-wrapper__input {
                height:150px!important;
            }
        }
    }
    .subcategory-preview{
        .tags-wrapper{
            padding-left:65px;
        }
    }
}
@media screen and (max-width:768px){
// NEW
    .subcategory-header{
        padding-left: 11px;
        padding-right: 15px;
        height: 61px;
        &__arrow{
            height: 8px;
        }
    }
    .subcategory-info__icon{
        height: auto;
        width: 30px;
        margin-right: 23px;
    }
    .subcategory-info__label{
        font-size: 17px;
    }
    .subcategory-preview-item{
        padding: 15px 11px;
    }
    .subcategory-preview-info__number{
        width: 30px;
        margin-right: 10px;
    }
    .subcategory-preview-info__invalid{
        font-size: 16px;
    }
    .datepicker-group{
        .field{
            width: 100%!important;
            margin-bottom: 11px;
        }
    }
    .datapicker-checkbox{
        width:100%;
        height: 25px;
        padding-left: 19px;
        justify-content: flex-start;
    }
    .remove-fields{
        right: 11px;
        top: 13px;
    }
    .flex-grid{
        padding: 39px 11px 22px 11px;
    }
    .subcategory-content{
        padding-bottom: 37px;
    }
    .not-relevant{
        padding-left: 11px;
        padding-right: 11px;
        padding-top: 13px;
        .checkbox-container{
            font-size: 16px;
        }
    }
    .not-relevant__item{
        width: 85%;
        height: 48px;
    }
    .flex-grid_relevant{
        .not-relevant{
            width: 100%;
        }
        .not-relevant__item{
            width:100%;
        }
    }
    .relevant-change{
        .flex-grid:nth-child(1){
            padding-top: 14px;
            .remove-fields{
                top: -48px;
            }
        }
    }
// NEW END
    .miscellaneous{
        background-color: #F9F9F9;
        padding-bottom: 20px;
    }
    .subcategory-preview{
        .tags-wrapper{
            padding-left: 0;
        }
    }
    .tags-wrapper{
        &__item{
            padding:5px 10px;
            margin-top: 20px;
        }
        &__label{
            font-size: 16px;
        }
        &__remove{
            right: -10px;
            top: -10px;
            img{
                height: 10px;
            }
        }
    }
    .subcategory-preview-info{
        &__details{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        &__circle{
            display: none;
        }
        p{
            font-size: 14px;
            margin-bottom:5px;
            &:last-child{
                margin-bottom:0;
            }
        }
    }
    .subcategory{
        padding:0;
    }
    .field-checkbox{
        &__label{
            font-size: 14px;
        }
    }
    .field{
        width: 100%;
        &_textarea{
            .field-wrapper{
                height: auto!important;
                .field-wrapper__input{
                    height:150px!important;
                    font-size: 16px;
                }
            }
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
    .not-relevant__item{
        padding-left: 10px;
        .checkbox-container{
            font-size: 14px;
        }
    }
    .datapicker-checkbox{
        padding-left: 10px;
        .checkbox-container{
            font-size: 14px;
        }
    }
    .subcategory-info__icon{
        margin-right: 15px;
    }
    .subcategory-info__label{
        font-size: 16px;
    }
}