<section class="miscellaneous" @fadeAnimation [@.disabled]="viewPortStatus" (swipeleft)="swipe($event)" (swiperight)="swipe($event)">
  <div class="background">
    <img
      src="../assets/image/background-circle-01.png"
      class="background__circle background__circle_01">
    <img
      src="../assets/image/background-circle-02.png"
      class="background__circle background__circle_02">
  </div>
  <app-category-nav-header [categoryPictureStatus]="accordion01?.expanded || accordion02?.expanded || accordion03?.expanded || 
                            accordion04?.expanded ? false : true" [navSettings]="navSettings">
  </app-category-nav-header>
  <div class="subcategory">
    <div class="container">
      <form
        class="form"
        [formGroup]="form"
        *ngIf="form">
        <accordion mode="multiple">
          <div class="subcategory-item">
            <accordion-item #accordion01>
              <div class="accordion-header subcategory-header">
                <div class="subcategory-info">
                  <img
                    src="../assets/image/profile/miscellaneous/subcategory-01.svg"
                    class="subcategory-info__icon">
                  <p class="subcategory-info__label">Hobbys</p>
                </div>
                <img
                  src="../assets/image/profile/accordion-arrow.svg"
                  [ngClass]="{ 'accordion-active' : accordion01.expanded }"
                  class="subcategory-header__arrow">
              </div>
              <div class="accordion-content" formGroupName="miscellaneous">
                <ng-container formGroupName="hobbies">
                  <div class="subcategory-content" style="padding: 0;">
                    <div class="flex-grid flex-grid_relevant">
                      <div
                        class="field"
                        [ngClass]="{'disabled' : this.form.get('miscellaneous').get('hobbies').get('isNotRelevant').value}">
                        <p class="field__label">Deine Hobbys</p>
                        <div class="field-wrapper">
                          <input
                            type="text"
                            maxlength="100"
                            placeholder="Deine Hobbys"
                            class="field-wrapper__input"
                            [formControl]="hobbiesControl"
                            (change)="formArrayPush(hobbiesControl, hobbiesArray)">
                          <div class="field-wrapper__type">abc</div>
                          <div
                            class="field-wrapper__status"
                            [ngClass]="{'invalid-should' : !form.get('miscellaneous').get('hobbies').get('items').controls.length}"></div>
                        </div>
                        <div class="tags-wrapper">
                            <div
                              formArrayName="items"
                              *ngFor="let item of form.get('miscellaneous').get('hobbies').get('items').controls; let i = index;"
                              class="tags-wrapper__item">
                              <p class="tags-wrapper__label">{{item.value}}</p>
                              <button
                                type="button"
                                class="tags-wrapper__remove"
                                (click)="singleDeleteTags(i, hobbiesArray, 'hobbies' )">
                                <img src="../assets/image/close.svg">
                              </button>
                            </div>
                        </div>
                      </div>
                      <div class="not-relevant">
                        <div class="not-relevant__item">
                          <label class="checkbox-container">
                            Für mich nicht relevant
                            <input
                              type="checkbox"
                              class="not-relevant__checkbox"
                              (change)="notRelevant('miscellaneous', 'hobbiesArray', 'hobbies')"
                              formControlName="isNotRelevant">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </accordion-item>
            <div
              class="subcategory-preview"
              *ngIf="!accordion01.expanded && miscellaneousData">
              <div class="subcategory-preview-item" 
                   *ngIf="form.get('miscellaneous').get('hobbies').get('items').valid || form.get('miscellaneous').get('hobbies').get('isNotRelevant').value">
                  <ng-container *ngIf="form.get('miscellaneous').get('hobbies').get('items').valid">
                    <div class="subcategory-preview-info">
                      <div class="tags-wrapper">
                        <div
                          *ngFor="let item of form.get('miscellaneous').get('hobbies').get('items').controls; let i = index;"
                          class="tags-wrapper__item">
                          <p class="tags-wrapper__label">{{item.value}}</p>
                          <button
                            type="button"
                            class="tags-wrapper__remove"
                            (click)="singleDeleteTags(i, hobbiesArray, 'hobbies' )">
                            <img src="../assets/image/close.svg">
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="form.get('miscellaneous').get('hobbies').get('isNotRelevant').value">
                    <div class="subcategory-preview-info" (click)="accordion01.expanded = !accordion01.expanded">
                      <div class="subcategory-preview-info__details">
                        <div class="relevant-info">
                          <p class="relevant-info__line"></p>
                        </div>
                      </div>
                    </div>
                  </ng-container>
              </div>
            </div>
          </div>
          <div class="subcategory-item">
            <accordion-item #accordion02>
              <div id="accordion-header-02" class="accordion-header subcategory-header">
                <div class="subcategory-info">
                  <img
                    src="../assets/image/profile/miscellaneous/subcategory-02.svg"
                    class="subcategory-info__icon">
                  <p class="subcategory-info__label">Ehrenamt</p>
                </div>
                <img
                  src="../assets/image/profile/accordion-arrow.svg"
                  [ngClass]="{ 'accordion-active' : accordion02.expanded }"
                  class="subcategory-header__arrow">
              </div>
              <div class="accordion-content" formGroupName="miscellaneous">
                <ng-container formGroupName="volunteering">
                  <div class="subcategory-content">
                    <div class="not-relevant">
                      <div class="not-relevant__item">
                        <label class="checkbox-container">
                          Für mich nicht relevant
                          <input
                            type="checkbox"
                            class="not-relevant__checkbox"
                            (change)="notRelevant('miscellaneous', 'volunteeringArray', 'volunteering')"
                            formControlName="isNotRelevant">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                    <div class="relevant-change" formArrayName="items">
                      <div
                        class="flex-grid"
                        *ngFor="let item of volunteeringArray.controls; let i = index"
                        [formGroupName]="i">
                        <div class="remove-fields">
                          <button
                            type="button"
                            class="remove-fields__button"
                            (click)="deleteFormGroup(volunteeringArray, i, 'volunteering')">
                            <svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="remove-fields__icon">
                              <path d="M0.050293 0.050293L9.94979 9.94979M9.94979 0.050293L0.0502933 9.94979" stroke-width="2"
                                    stroke-linecap="round"/>
                            </svg>
                          </button>
                        </div>
                        <div class="field-group">
                          <div
                            class="field"
                            [ngClass]="{'disabled' : this.form.get('miscellaneous').get('volunteering').get('isNotRelevant').value}">
                            <p class="field__label">Ehrenamt</p>
                            <div class="field-wrapper">
                              <input
                                type="text"
                                placeholder="Ehrenamt"
                                class="field-wrapper__input"
                                formControlName="volunteeringTitle"
                                (change)="submit('Ehrenamt')">
                              <div class="field-wrapper__type">abc</div>
                              <div
                                class="field-wrapper__status"
                                [ngClass]="{'invalid-should' : !this.form.get('miscellaneous').get('volunteering').get('items').controls[i].get('volunteeringTitle').value}"></div>
                            </div>
                          </div>
                          <div
                            class="field"
                            [ngClass]="{'disabled' : this.form.get('miscellaneous').get('volunteering').get('isNotRelevant').value}">
                            <p class="field__label">Institution</p>
                            <div class="field-wrapper">
                              <input
                                type="text"
                                placeholder="Institution"
                                class="field-wrapper__input"
                                formControlName="institution"
                                (change)="submit('Institution')">
                              <div class="field-wrapper__type">abc</div>
                              <div
                                class="field-wrapper__status"
                                [ngClass]="{'invalid-should' : !this.form.get('miscellaneous').get('volunteering').get('items').controls[i].get('institution').value}"></div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="field field_textarea"
                          [ngClass]="{'disabled' : this.form.get('miscellaneous').get('volunteering').get('isNotRelevant').value}">
                          <p class="field__label">Beschreibung</p>
                          <div class="field-wrapper textarea">
                            <textarea
                              placeholder="Beschreibung"
                              class="field-wrapper__input"
                              rows="8"
                              formControlName="description"
                              (change)="submit('Beschreibung')"></textarea>
                            <div class="field-wrapper__type">abc</div>
                            <div
                              class="field-wrapper__status"
                              [ngClass]="{'invalid-could' : !this.form.get('miscellaneous').get('volunteering').get('items').controls[i].get('description').value}"></div>
                          </div>
                        </div>
                        <div class="field field-group">
                          <div class="datepicker-group">
                            <div
                              class="field field_datapicker"
                              [ngClass]="{'disabled' : this.form.get('miscellaneous').get('volunteering').get('isNotRelevant').value}">
                              <p class="field__label">Von</p>
                              <div
                                class="field-wrapper"
                                [owlDateTimeTrigger]="dt1">
                                <input
                                  [owlDateTime]="dt1"
                                  [max]="previousDate"
                                  class="field-wrapper__input"
                                  formControlName="dateFrom"
                                  placeholder="DD/MM/YYYY"
                                  (dateTimeChange)="submit('Von')">
                                <owl-date-time
                                  #dt1
                                  pickerMode="dialog"
                                  pickerType="calendar"
                                  panelClass="calendar"></owl-date-time>
                                <div class="field-wrapper__type">
                                  <img src="../assets/image/calendar.svg">
                                </div>
                                <div
                                  class="field-wrapper__status"
                                  [ngClass]="{'invalid-should' : !this.form.get('miscellaneous').get('volunteering').get('items').controls[i].get('dateFrom').value}"></div>
                              </div>
                            </div>
                            <div
                              class="field field_datapicker"
                              [ngClass]="{
                                'disabled' : this.form.get('miscellaneous').get('volunteering').get('isNotRelevant').value ||
                                this.form.get('miscellaneous').get('volunteering').get('items').controls[i].get('tilToday').value
                              }">
                              <p class="field__label">Bis</p>
                              <div
                                class="field-wrapper"
                                [owlDateTimeTrigger]="dt2">
                                <input
                                  [disabled]="this.form.get('miscellaneous').get('volunteering').get('items').controls[i].get('tilToday').value"
                                  [owlDateTime]="dt2"
                                  [max]="currentDate"
                                  class="field-wrapper__input"
                                  formControlName="dateTo"
                                  placeholder="DD/MM/YYYY"
                                  (dateTimeChange)="submit('Bis')">
                                <owl-date-time
                                  #dt2
                                  pickerMode="dialog"
                                  pickerType="calendar"
                                  panelClass="calendar"></owl-date-time>
                                <div class="field-wrapper__type">
                                  <img src="../assets/image/calendar.svg">
                                </div>
                                <div
                                  class="field-wrapper__status"
                                  [ngClass]="{'invalid-should' : !this.form.get('miscellaneous').get('volunteering').get('items').controls[i].get('dateTo').value}"></div>
                              </div>
                            </div>
                            <div
                              class="datapicker-checkbox"
                              [ngClass]="{'disabled' : this.form.get('miscellaneous').get('volunteering').get('isNotRelevant').value}">
                              <label class="checkbox-container">
                                bis heute
                                <input
                                  type="checkbox"
                                  class="not-relevant__checkbox"
                                  (change)="setTodayDate(this.form.get('miscellaneous').get('volunteering').get('items').controls[i])"
                                  formControlName="tilToday">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="add-fields">
                        <button
                          type="button"
                          class="add-fields__button"
                          (click)="setFormGroup('volunteering')">
                          <img src="../assets/image/plus.svg">
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </accordion-item>
            <div
            class="subcategory-preview"
            *ngIf="!accordion02.expanded && miscellaneousData">
              <div
                class="subcategory-preview-item"
                *ngFor="let item of form.get('miscellaneous').get('volunteering').get('items').controls; let i = index">
                <ng-container *ngIf="item.valid && (item.get('dateTo').value || item.get('tilToday').value)">
                  <div class="subcategory-preview-info">
                    <p class="subcategory-preview-info__number" (click)="triggerClick('accordion-header-02')">
                      <span class="subcategory-preview-info__text">{{ i + 1 }}</span>
                    </p>
                    <div class="subcategory-preview-info__details">
                      <p class="subcategory-preview-info__species">{{ item.get('volunteeringTitle').value }}</p>
                      <div class="subcategory-preview-info__circle"></div>
                      <p class="subcategory-preview-info__date">
                        <span>{{ item.get('dateFrom').value | date: 'MM/yyyy' }}</span>
                        - 
                        <span>{{ item.get('dateTo').value | date: 'MM/yyyy' }}</span>
                        <span *ngIf="item.get('tilToday').value">bis heute</span>
                      </p>
                    </div>
                    <button
                      type="button"
                      class="subcategory-preview-item__remove"
                      (click)="deleteFormGroup(volunteeringArray, i)">
                      <img src="../assets/image/close.svg">
                    </button>
                  </div>
                </ng-container>
                <ng-container 
                *ngIf="(item.invalid && (item.get('dateFrom').value || item.get('dateTo').value || item.get('description').value ||
                item.get('institution').value || item.get('tilToday').value || item.get('volunteeringTitle').value)) ||
                (item.valid && !item.get('dateTo').value && !item.get('tilToday').value)">
                  <div class="subcategory-preview-info" (click)="triggerClick('accordion-header-02')">
                    <p class="subcategory-preview-info__number">
                      <span class="subcategory-preview-info__text">{{ i + 1 }}</span>
                    </p>
                    <div class="subcategory-preview-info__details">
                        <p class="subcategory-preview-info__invalid">
                          Unvollständige Angaben
                        </p>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="form.get('miscellaneous').get('volunteering').get('isNotRelevant').value">
                  <div class="subcategory-preview-info" (click)="triggerClick('accordion-header-02')">
                    <div class="subcategory-preview-info__details">
                      <div class="relevant-info">
                        <p class="relevant-info__line"></p>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="subcategory-item">
            <accordion-item #accordion03>
              <div id="accordion-header-03" class="accordion-header subcategory-header">
                <div class="subcategory-info">
                  <img
                    src="../assets/image/profile/miscellaneous/subcategory-03.svg"
                    class="subcategory-info__icon">
                  <p class="subcategory-info__label">Veröffentlichung</p>
                </div>
                <img
                  src="../assets/image/profile/accordion-arrow.svg"
                  [ngClass]="{ 'accordion-active' : accordion03.expanded }"
                  class="subcategory-header__arrow">
              </div>
              <div class="accordion-content" formGroupName="miscellaneous">
                <ng-container formGroupName="publications">
                  <div class="subcategory-content">
                    <div class="not-relevant">
                      <div class="not-relevant__item">
                        <label class="checkbox-container">
                          Für mich nicht relevant
                          <input
                            type="checkbox"
                            class="not-relevant__checkbox"
                            (change)="notRelevant('miscellaneous', 'publicationsArray', 'publications')"
                            formControlName="isNotRelevant">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                    <div class="relevant-change" formArrayName="items">
                      <div
                        class="flex-grid"
                        *ngFor="let item of publicationsArray.controls; let i = index"
                        [formGroupName]="i">
                        <div class="remove-fields">
                          <button
                            class="remove-fields__button"
                            type="button"
                            (click)="deleteFormGroup(publicationsArray, i, 'publications')">
                            <svg viewBox="0 0 10 invalid10" xmlns="http://www.w3.org/2000/svg" class="remove-fields__icon">
                              <path d="M0.050293 0.050293L9.94979 9.94979M9.94979 0.050293L0.0502933 9.94979" stroke-width="2"
                                    stroke-linecap="round"/>
                            </svg>
                          </button>
                        </div>
                        <div
                          class="field"
                          [ngClass]="{'disabled' : this.form.get('miscellaneous').get('publications').get('isNotRelevant').value}">
                          <p class="field__label">Art der Veröffentlichung</p>
                          <div class="field-wrapper">
                            <input
                              type="text"
                              maxlength="100"
                              placeholder="Art der Veröffentlichung"
                              class="field-wrapper__input"
                              formControlName="publicationType"
                              (change)="submit('Art der Veröffentlichung')">
                            <div class="field-wrapper__type">abc</div>
                            <div
                              class="field-wrapper__status"
                              [ngClass]="{'invalid-should' : !this.form.get('miscellaneous').get('publications').get('items').controls[i].get('publicationType').value}"></div>
                          </div>
                        </div>
                        <div
                          class="field"
                          [ngClass]="{'disabled' : this.form.get('miscellaneous').get('publications').get('isNotRelevant').value}">
                          <p class="field__label">Medium</p>
                          <div class="field-wrapper">
                            <input
                              type="text"
                              maxlength="100"
                              placeholder="Medium"
                              class="field-wrapper__input"
                              formControlName="medium"
                              (change)="submit('medium')">
                            <div class="field-wrapper__type">abc</div>
                            <div
                              class="field-wrapper__status"
                              [ngClass]="{'invalid-should' : !this.form.get('miscellaneous').get('publications').get('items').controls[i].get('medium').value}"></div>
                          </div>
                        </div>
                        <div class="field-group">
                          <div
                            class="field"
                            [ngClass]="{'disabled' : this.form.get('miscellaneous').get('publications').get('isNotRelevant').value}">
                            <p class="field__label">Link</p>
                            <div class="field-wrapper">
                              <input
                                type="text"
                                maxlength="5000"
                                placeholder="Link"
                                class="field-wrapper__input"
                                formControlName="link"
                                (change)="submit('Link')">
                              <div class="field-wrapper__type">abc</div>
                              <div
                                class="field-wrapper__status"
                                [ngClass]="{'invalid-should' : !this.form.get('miscellaneous').get('publications').get('items').controls[i].get('link').value}">
                              </div>
                            </div>
                          </div>
                          <div
                              class="field field_datapicker"
                              [ngClass]="{'disabled' : this.form.get('miscellaneous').get('publications').get('isNotRelevant').value}">
                              <p class="field__label">Datum der Veröffentlichung</p>
                              <div
                                class="field-wrapper"
                                [owlDateTimeTrigger]="dt1">
                                <input
                                  [owlDateTime]="dt1"
                                  [max]="currentDate"
                                  class="field-wrapper__input"
                                  formControlName="datePublished"
                                  placeholder="DD/MM/YYYY"
                                  (dateTimeChange)="submit('Datum der Veröffentlichung')">
                                <owl-date-time
                                  #dt1
                                  pickerMode="dialog"
                                  pickerType="calendar"
                                  panelClass="calendar"></owl-date-time>
                                <div class="field-wrapper__type">
                                  <img src="../assets/image/calendar.svg">
                                </div>
                                <div
                                  class="field-wrapper__status"
                                  [ngClass]="{'invalid-should' : !this.form.get('miscellaneous').get('publications').get('items').controls[i].get('datePublished').value}"></div>
                              </div>
                          </div>
                        </div>
                        <div
                          class="field field_textarea"
                          [ngClass]="{'disabled' : this.form.get('miscellaneous').get('publications').get('isNotRelevant').value}">
                          <p class="field__label">Beschreibung</p>
                          <div class="field-wrapper textarea">
                            <textarea
                              maxlength="5000"
                              placeholder="Beschreibung"
                              class="field-wrapper__input"
                              rows="8"
                              formControlName="description"
                              (change)="submit('Beschreibung')"></textarea>
                            <div class="field-wrapper__type">abc</div>
                            <div
                              class="field-wrapper__status"
                              [ngClass]="{'invalid-could' : !this.form.get('miscellaneous').get('publications').get('items').controls[i].get('description').value}"></div>
                          </div>
                        </div>
                      </div>
                      <div class="add-fields">
                        <button
                          type="button"
                          class="add-fields__button"
                          (click)="setFormGroup('publications')">
                          <img src="../assets/image/plus.svg">
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </accordion-item>
            <div
            class="subcategory-preview"
            *ngIf="!accordion03.expanded && miscellaneousData">
              <div
                class="subcategory-preview-item"
                *ngFor="let item of form.get('miscellaneous').get('publications').get('items').controls; let i = index">
                <ng-container *ngIf="item.valid">
                  <div class="subcategory-preview-info">
                    <p class="subcategory-preview-info__number" (click)="triggerClick('accordion-header-03')">
                      <span class="subcategory-preview-info__text">{{ i + 1 }}</span>
                    </p>
                    <div class="subcategory-preview-info__details">
                      <p class="subcategory-preview-info__species">{{ item.get('publicationType').value }}</p>
                      <div class="subcategory-preview-info__circle"></div>
                      <p class="subcategory-preview-info__date">{{ item.get('datePublished').value | date: 'MM/yyyy' }}</p>
                    </div>
                    <button
                      type="button"
                      class="subcategory-preview-item__remove"
                      (click)="deleteFormGroup(publicationsArray, i)">
                      <img src="../assets/image/close.svg">
                    </button>
                  </div>
                </ng-container>
                <ng-container *ngIf="item.invalid && (item.get('datePublished').value || item.get('description').value || 
                item.get('link').value || item.get('medium').value || item.get('publicationType').value)">
                  <div class="subcategory-preview-info" (click)="triggerClick('accordion-header-03')">
                    <p class="subcategory-preview-info__number">
                      <span class="subcategory-preview-info__text">{{ i + 1 }}</span>
                    </p>
                    <div class="subcategory-preview-info__details">
                        <p class="subcategory-preview-info__invalid">
                            Unvollständige Angaben
                        </p>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="form.get('miscellaneous').get('publications').get('isNotRelevant').value">
                  <div class="subcategory-preview-info" (click)="triggerClick('accordion-header-03')">
                    <div class="subcategory-preview-info__details">
                      <div class="relevant-info">
                        <p class="relevant-info__line"></p>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="subcategory-item">
            <accordion-item #accordion04>
              <div id="accordion-header-04" class="accordion-header subcategory-header">
                <div class="subcategory-info">
                  <img
                    src="../assets/image/profile/miscellaneous/subcategory-04.svg"
                    class="subcategory-info__icon">
                  <p class="subcategory-info__label">Auszeichnung</p>
                </div>
                <img
                  src="../assets/image/profile/accordion-arrow.svg"
                  [ngClass]="{ 'accordion-active' : accordion04.expanded }"
                  class="subcategory-header__arrow">
              </div>
              <div class="accordion-content" formGroupName="miscellaneous">
                <ng-container formGroupName="awards">
                  <div class="subcategory-content">
                    <div class="not-relevant">
                      <div class="not-relevant__item">
                        <label class="checkbox-container">
                          Für mich nicht relevant
                          <input
                            type="checkbox"
                            class="not-relevant__checkbox"
                            (change)="notRelevant('miscellaneous', 'awardsArray', 'awards')"
                            formControlName="isNotRelevant">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                    <div class="relevant-change" formArrayName="items">
                      <div
                        class="flex-grid"
                        *ngFor="let item of awardsArray.controls; let i = index"
                        [formGroupName]="i">
                        <div class="remove-fields">
                          <button
                            class="remove-fields__button"
                            type="button"
                            (click)="deleteFormGroup(awardsArray, i, 'awards')">
                            <svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="remove-fields__icon">
                              <path d="M0.050293 0.050293L9.94979 9.94979M9.94979 0.050293L0.0502933 9.94979" stroke-width="2"
                                    stroke-linecap="round"/>
                            </svg>
                          </button>
                        </div>
                        <div class="field-group">
                          <div
                            class="field"
                            [ngClass]="{'disabled' : this.form.get('miscellaneous').get('awards').get('isNotRelevant').value}">
                            <p class="field__label">Auszeichung für</p>
                            <div class="field-wrapper">
                              <input
                                type="text"
                                maxlength="100"
                                placeholder="Auszeichung für"
                                class="field-wrapper__input"
                                formControlName="awardFor"
                                (change)="submit('Auszeichung für')">
                              <div class="field-wrapper__type">abc</div>
                              <div
                                class="field-wrapper__status"
                                [ngClass]="{'invalid-should' : !this.form.get('miscellaneous').get('awards').get('items').controls[i].get('awardFor').value}">
                              </div>
                            </div>
                          </div>
                          <div
                            class="field"
                            [ngClass]="{'disabled' : this.form.get('miscellaneous').get('awards').get('isNotRelevant').value}">
                            <p class="field__label">Ausgezeichnet durch</p>
                            <div class="field-wrapper">
                              <input
                                type="text"
                                maxlength="200"
                                placeholder="Ausgezeichnet durch"
                                class="field-wrapper__input"
                                formControlName="awardedBy"
                                (change)="submit('Ausgezeichnet durch')">
                              <div class="field-wrapper__type">abc</div>
                              <div
                                class="field-wrapper__status"
                                [ngClass]="{'invalid-should' : !this.form.get('miscellaneous').get('awards').get('items').controls[i].get('awardedBy').value}"></div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="field field_textarea"
                          [ngClass]="{'disabled' : this.form.get('miscellaneous').get('awards').get('isNotRelevant').value}">
                          <p class="field__label">Beschreibung</p>
                          <div class="field-wrapper textarea">
                            <textarea
                              maxlength="5000"
                              placeholder="Beschreibung"
                              class="field-wrapper__input"
                              rows="8"
                              formControlName="description"
                              (change)="submit('Beschreibung')"></textarea>
                            <div class="field-wrapper__type">abc</div>
                            <div
                              class="field-wrapper__status"
                              [ngClass]="{'invalid-could' : !this.form.get('miscellaneous').get('awards').get('items').controls[i].get('description').value}"></div>
                          </div>
                        </div>
                        <div
                          class="field field_datapicker"
                          [ngClass]="{'disabled' : this.form.get('miscellaneous').get('awards').get('isNotRelevant').value}">
                          <p class="field__label">Datum der Auszeichnung</p>
                          <div
                            class="field-wrapper"
                            [owlDateTimeTrigger]="dt1">
                            <input
                              [owlDateTime]="dt1"
                              [max]="currentDate"
                              class="field-wrapper__input"
                              formControlName="receivedAt"
                              placeholder="DD/MM/YYYY"
                              (dateTimeChange)="submit('Datum der Auszeichnung')">
                            <owl-date-time
                              #dt1
                              pickerMode="dialog"
                              pickerType="calendar"
                              panelClass="calendar"></owl-date-time>
                            <div class="field-wrapper__type">
                              <img src="../assets/image/calendar.svg">
                            </div>
                            <div
                              class="field-wrapper__status"
                              [ngClass]="{'invalid-should' : !this.form.get('miscellaneous').get('awards').get('items').controls[i].get('receivedAt').value}"></div>
                          </div>
                        </div>
                      </div>
                      <div class="add-fields">
                        <button
                          type="button"
                          class="add-fields__button"
                          (click)="setFormGroup('awards')">
                          <img src="../assets/image/plus.svg">
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </accordion-item>
            <div
            class="subcategory-preview"
            *ngIf="!accordion04.expanded && miscellaneousData">
              <div
                class="subcategory-preview-item"
                *ngFor="let item of form.get('miscellaneous').get('awards').get('items').controls; let i = index">
                <ng-container *ngIf="item.valid">
                  <div class="subcategory-preview-info">
                    <p class="subcategory-preview-info__number" (click)="triggerClick('accordion-header-04')">
                      <span class="subcategory-preview-info__text">{{ i + 1 }}</span>
                    </p>
                    <div class="subcategory-preview-info__details">
                      <p class="subcategory-preview-info__species">{{ item.get('awardFor').value }}</p>
                      <div class="subcategory-preview-info__circle"></div>
                      <p class="subcategory-preview-info__date">{{ item.get('receivedAt').value | date: 'MM/yyyy' }}</p>
                    </div>
                    <button
                      type="button"
                      class="subcategory-preview-item__remove"
                      (click)="deleteFormGroup(awardsArray, i)">
                      <img src="../assets/image/close.svg">
                    </button>
                  </div>
                </ng-container>
                <ng-container *ngIf="item.invalid && (item.get('awardFor').value || item.get('awardedBy').value || 
                item.get('description').value || item.get('receivedAt').value)">
                  <div class="subcategory-preview-info" (click)="triggerClick('accordion-header-04')">
                    <p class="subcategory-preview-info__number">
                      <span class="subcategory-preview-info__text">{{ i + 1 }}</span>
                    </p>
                    <div class="subcategory-preview-info__details">
                        <p class="subcategory-preview-info__invalid">
                            Unvollständige Angaben
                        </p>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="form.get('miscellaneous').get('awards').get('isNotRelevant').value">
                  <div class="subcategory-preview-info" (click)="triggerClick('accordion-header-04')">
                    <div class="subcategory-preview-info__details">
                      <div class="relevant-info">
                        <p class="relevant-info__line"></p>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </accordion>
      </form>
    </div>
  </div>
</section>