<section class="miscellaneous">
  <div class="background">
    <img
      src="../assets/image/background-circle-01.png"
      class="background__circle background__circle_01">
    <img
      src="../assets/image/background-circle-02.png"
      class="background__circle background__circle_02">
  </div>
  <app-category-nav-header [navSettings]="navSettings"></app-category-nav-header>
  <div class="category-decor">
    <div class="container">
      <img
        src="../assets/image/profile/personal/image-desktop.svg"
        class="category-decor__image">
      <img
        src="../assets/image/profile/personal/image-mobile.svg"
        class="category-decor__image category-decor__image_mobile">
    </div>
  </div>
</section>