// CUSTOM CHECKBOX
/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0px;
    top: calc(50% - 25px / 2 - 0.5px);
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.17);
    border-radius: 6px;
  }

  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkmark:after {
    position: absolute;
    width: 19px;
    height: 12.92px;
    left: 3px;
    top: 6px;
    /* dark_grey_beint */
    background-image: url("/assets/image/apply.svg");
  }
}

// CUSTOM CHECKBOX END

// FIELD VALIDATION COLOR
.field-wrapper {
  &__status {
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $markingGreen;

    &.invalid {
      &-must{
        background-color: $markingRed;
      }
      &-could{
        background-color: $markingLightGrey;
      }
      &-should{
        background-color: $markingYellow;
      }
    }
  }
}
// FIELD VALIDATION COLOR END
.scroll-host::-webkit-scrollbar {
  display: none;
}

.ng-dropdown-panel.ng-select-top {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 0;
  margin-bottom: 2px;
}

.ng-dropdown-panel.ng-select-bottom {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ng-select-container {
  .ng-input {
    input {
      font-size: 17px;
      font-family: $workSansRegular;

      &::placeholder {
        color: #989898;
        opacity: .8;
        font-size: 17px;
      }
    }
  }
}

.ng-value-container {
  padding: 0 !important;
}

body .field-group {
  width: 47%;
  position: relative;

  .field {
    width: 100%;
  }

  &.inline {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;

    .field {
      width: 33%;
      margin-left: 25px;

      &:first-child {
        margin-left: 0px;
      }
    }
  }
}
// FIELD INPUT
.clearable{
  .ng-clear-wrapper{
    display: none;
  }
}
.field {
  width: 47%;
  margin-bottom:13px;
  position: relative;
  &__label {
    color: $black;
    opacity: .5;
    margin-bottom: 2px;
    margin-left: 19px;
    font-size: 14px;
  }
  &_group {
    .field {
      width: 100%;
    }
  }

  &_select {
    .field-wrapper {
      padding: 0;
      background-color: inherit;
    }
    &-multiselect-arrow{
      .ng-select {
        .ng-select-container {
          .ng-value-container {
            .ng-input {
              padding: 0!important;
              input{
                padding: 0!important;
              }
            }
          }
        }
      }
      .ng-select.ng-select-filtered .ng-placeholder {
        display: none!important;
      }
      .ng-select .ng-has-value .ng-placeholder{
        display: block;
      }
      .ng-input{
        padding: 0!important;
      }
      .ng-value {
        display: none;
      }
    }
    &-singleselect-arrow{
      .ng-select {
        .ng-select-container {
          .ng-value-container {
            width: 100%;
            height: 100%;
            position: relative;
            .ng-input {
              position: absolute;
              padding: 0!important;
              width: 100%;
              left: 0;
              top: 50%;
              transform: translate(0, -50%);
              input{
                padding: 0!important;
              }
            }
          }
        }
      }
    }
    &-search {
      .ng-arrow-wrapper {
        display: none;
      }

      .ng-arrow-wrapper,
      &:not(.single) {
        .ng-value {
          display: none;
        }
      }

      &.single {
        .ng-arrow-wrapper {
          display: none;
        }
      }

      .ng-select {
        .ng-select-container {
          position: relative;

          .ng-value-container {
            .ng-value{
              padding-right: 35px;
            }
            .ng-input {
              position: absolute;
              padding-left: 19px;
              padding-right: 55px;
              padding-bottom: 0;
              width: 100%;
              left: 0;
              top: 50%;
              transform: translate(0, -50%);
            }
          }
        }
      }
    }

    &-multiselect {
      .ng-value {
        display: none;
      }
    }
  }

  &_group {
    padding: 0;
  }

  &_datapicker {
    .field-wrapper {
      padding-right: 0;
      margin-bottom: 20px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      &__input {
        pointer-events: none;
        height: 100%;
        border-radius: 10px;
      }
    }
  }

  &_textarea {
    display: flex;
    flex-direction: column;
    .field-wrapper {
      padding-top: 15px;
      .field-wrapper__input {
        padding: 0;
        height: 117px;
        font-family: $workSansRegular;
        outline: none;
        border: none;
        resize: none;
        font-size: 17px;
      }
      &__type {
        top: 15px;
        right: 19px;
      }
    }
  }
}

.field-wrapper {
  height: 50px;
  width: 100%;
  position: relative;
  padding-left: 19px;
  padding-right: 55px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px #00000029;
  border-radius: 10px;
  display: flex;
  align-items: center;
  &__input {
    width: 100%;
    padding: 0;
    border: 0;
    color: $black;
    font-size: 17px;
    &::placeholder {
      color: #989898;
      opacity: .8;
      font-size: 17px;
    }
  }
  &__placeholder {
    position: absolute;
    left: 19px;
    top: 50%;
    width: calc(100% - 74px);
    transform: translate(0, -50%);
    color: #989898;
    opacity: .8;
    font-size: 17px;
  }
  &__type {
    position: absolute;
    right: 19px;
    top: 15px;
    color: #989898;
    opacity: 0.8;
    font-size: 17px;
    width: 30px;
    text-align: center;
  }
  &.textarea {
    height: auto;
    textarea {
      resize: none;
      &:hover, &:active, &:focus {
        border: none;
        outline: none;
      }
    }
  }
}

.checkbox-wrapper {
  display: flex;
  align-items: flex-end;
  padding-top: 45px;

  &__input {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 0;
    margin-right: 10px;
  }
}
.disabled{
    .checkbox-container{
        pointer-events: none;
    }
    .form-field{
        pointer-events: none;
        position: relative;
        overflow: hidden;
        &:before{
            content:'';
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            background-color:rgba(152, 152, 152, .2);
            z-index: 1;
        }
    }
    .field-wrapper{
        pointer-events: none;
        position: relative;
        overflow: hidden;
        &:before{
            content:'';
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            background-color:rgba(152, 152, 152, .2);
            z-index: 1;
        }
        &__status{
            background-color:#989898!important;
        }
        &__input{
            background-color: transparent;
        }
    }
}
// STYLE SELECT
.custom-select.custom-select__tag{
  .ng-option{
    .ng-star-inserted{
      display: flex;
      align-items: center;
      .ng-tag-label{
        order: 1;
        margin-left: 5px;
      }
    }
  }
}
.custom-select {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 0;
  color: $black;
  font-size: 17px;
  border-radius: 10px;

  &[ng-reflect-is-disabled="true"] {
    pointer-events: none;

    .ng-select-container {
      background: rgba(0,0,0,.2);
    }
  }

  .ng-select-container {
    padding: 0;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 10px;
    border: none;
    height: 100% !important;
    min-height: auto !important;
    font-family: $workSansRegular;

    .ng-value-container {
      padding: 0;

      .ng-placeholder {
        font-size: 17px;
      }
    }

    &:hover {
      border: none;
      box-shadow: none;
    }
  }
}

.ng-arrow-wrapper {
  width: auto !important;

  .ng-arrow {
    background-image: url('/assets/image/select-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none !important;
    width: 15px !important;
    height: 5px !important;
    transition: .25s linear;
  }
}

.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
  top: 0 !important;
  transform-origin: center;
  transform: rotate(-180deg);
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border: none !important;
  box-shadow: none !important;

}

.ng-select.ng-select-opened > .ng-select-container {
  background: transparent !important;
}

.ng-dropdown-panel {
  z-index: 10;
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 2px !important;
  font-family: $workSansRegular;
}

body .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  input {
    padding: 0;
  }

  .ng-placeholder {
    top: 15px;
    padding: 0;
  }

}
@media screen and (max-width:768px) {
  .field{
    margin-bottom: 11px;
    &__label{
      font-size: 14px;
    }
  }
  .field-wrapper{
    height: 48px;
    &__input{
      font-size: 16px;
      &::placeholder{
        font-size: 17px;
      }
    }
    &__type{
      font-size: 16px;
    }
  }
  .ng-select-container .ng-value-container .ng-value{
    font-size: 16px!important;
  }
  .ng-select-container .ng-value-container .ng-placeholder{
    font-size: 17px!important;
  }
  .ng-select-container .ng-input input{
    font-size: 16px!important;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .field {
    &__label {
      margin-left: 10px;
    }
  }
  .custom-select {
    .ng-select-container{
      padding-left: 10px;
    }
  }
  .field-checkbox {
    padding-left: 10px;
  }
  .field-wrapper {
    padding-left: 10px;
  }
  .ng-select-container{
    padding-left: 10px!important;
  }
  .ng-select-container{
    .ng-input{
      padding-left: 10px!important;
    }
  }
}

