<section
  class="thanks"
  #scrollToTop>
  <div class="thanks-wrp">
    <img
      class="thanks-wrp__icon"
      src="../../../assets/image/users_boy.png">
    <h2 class="thanks-wrp__title">Hurrah!</h2>
    <p class="thanks-wrp__text">
      Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.
    </p>
    <button
      class="home-btn"
      (click)="goToHome()">
      See more works
    </button>
    <button
      class="profile-btn"
      (click)="goToProfile()">
      Profile
    </button>
  </div>
</section>
