<div class="about">
  <div class="background">
    <img
      src="../assets/image/background-circle-01.png"
      class="background__circle background__circle_01">
    <img
      src="../assets/image/background-circle-02.png"
      class="background__circle background__circle_02">
  </div>
  <app-category-nav-header [navSettings]="navSettings"></app-category-nav-header>
  <section class="form-wrapper">
    <div class="container">
      <form
        [formGroup]="form"
        class="form"
        *ngIf="form">
        <ng-container *ngIf="form.get('aboutAnswers').controls.length > 0">
          <div
            formArrayName="aboutAnswers"
            *ngFor="let item of form.get('aboutAnswers').controls; let i = index;">
            <div
              [formGroupName]="i"
              class="field field_textarea">
              <p
                class="field__label"
                *ngIf="questionsData">{{ questionsData[i].questionText }}</p>
              <div
                class="field-wrapper"
                [ngClass]="{notAnswer : this.form.get('aboutAnswers').controls[i].get('willNotAnswer').value}">
                <textarea
                  type="text"
                  placeholder="die Antwort eingeben"
                  class="field-wrapper__input"
                  formControlName="answer"
                  (blur)="submit(i)">
                </textarea>
                <div class="field-wrapper__type">abc</div>
                <div
                  class="field-wrapper__status"
                  [ngClass]="{invalid : !this.form.get('aboutAnswers').controls[i].get('answer').value}"></div>
              </div>
              <div class="will-not-answer-checkbox">
                <label class="checkbox-container">
                  Möchte ich nicht beantworten
                  <input
                    type="checkbox"
                    class="not-relevant__checkbox"
                    formControlName="willNotAnswer"
                    (change)="checkField(i)">
                  <span class="checkmark"></span>
                </label>

              </div>
            </div>
          </div>
        </ng-container>
      </form>
    </div>
  </section>
</div>
