@import "../../../theme/variables.scss";
.about{
  background-color:$primary;
  position:relative;
  min-height: 100vh;
  overflow: auto;
	overflow-x: hidden;
}
.field{
    width:100%;
    margin-bottom:20px;
    &_textarea{
        .field-wrapper{
            height: auto;
            flex: unset;
            &__input{
                width:100%;
                border:0;
                color:$black;
                opacity: .8;
                font-size: 17px;
                resize: none;
                outline: none;
                height: 150px;
                font-family: $workSansRegular;
                padding:0;
                background-color: transparent;
                &::placeholder{
                    color:#989898;
                    opacity: .8;
                    font-size: 17px;
                }
            }
        }
    }
}

.will-not-answer-checkbox{
    display:flex;
    align-items:center;
    padding:25px 0 25px 19px;
    &__input{
        width:20px;
        height:20px;
        border-radius: 5px;
        margin-right:5px;
    }
}
.notAnswer{
    pointer-events: none;
    background-color:#efefef;
    .field-wrapper{
        &__status{
            background-color:#989898;
        }
    }
}
@media screen and (max-width:1500px){
    .about-wrapper{
        padding-left:5vw;
    }
}

@media screen and (max-width:768px){
    .about{
        background-color:#F9F9F9;
    }
    .about-wrapper{
        padding:0;
    }
    .category-decor{
        &__image{
            width: 80%;
            display: none;
            &_mobile{
                display: block;
            }
        }
    }
    .field{
        &_textarea{
            .field-wrapper{
                &__input{
                    font-size: 16px;
                }
                &__type{
                    font-size: 14px;
                }
            }
        }
    }
}
@media screen and (max-width:568px){
    .will-not-answer-checkbox{
        padding-left:10px;
        &__label{
            font-size: 16px;
        }
    }
    .field{
        &__label{
            margin-left:10px;
            font-size: 16px;
        }
    }
    .field-wrapper{
        padding-left:10px;
    }
}