@import "../../../theme/variables.scss";
.company{
  min-height: 100%;
  padding-bottom: 50px;
  position: relative;
}
.header{
  height:202px;
  margin-bottom:25px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/image/bg-header-desktop_green.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
}
.category-detail{
  width:90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  &__label{
    font-size: 50px;
    color: #ffffff;
    font-family: $workSansLight;
  }
}
.title{
  width: 100%;
  margin: 25px 0;
  font-size: 18px;
}
.sub-title{
  font-size: 16px;
  width: 100%;
  padding-left: 19px;
  margin: 15px 0;
  opacity: .8;
}
.category-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
// LOGO
.logo-wrapper{
  width:100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.logo-wrapper__title{
  color: #313131;
  opacity: 0.5;
  font-size: 16px;
  font-family: $workSansRegular;
  font-weight: 400;
  width: 200px;
  text-align: center;
  margin-bottom: 5px;
}
.logo-default{
  svg{
    fill: #d1d0d0;
    opacity: .8;
    width: 50px;
    height: 50px;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.logo{
  width: 200px;
  height: 200px;
  background-color: #f9f9f9;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 1px 3px #00000029;
}
.logo-spinner{
  width: 100%;
  height: 100%;
  position: relative;
}
.logo-spinner__icon{
  height: 125px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logo-image{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.logo-image__item{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.change-logo-button{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $yellow; 
}
.change-logo-button__icon{
  height: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.change-logo-button__icon_edit{
    display: none;
}

.change-logo-button__active{
  background-color: $primary;
  .change-logo-button__icon_plus{
    display: none;
  }
  .change-logo-button__icon_edit{
    display: block;
  }
}
// LOGO END
.submit-button{
  display: block;
  max-width: 320px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: $primary;
  text-transform: uppercase;
  color: #ffffff;
  font-family: $workSansSemiBold;
  letter-spacing: .25px;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 75px;
  &:disabled{
    background-color: #989898;
  }
}
.remove-button{
  background-color: $red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right:0;
  top:0;
}
.remove-button__icon{
  stroke: #ffffff;
  height: 10px;
  width: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.add-form-button{
  display: block;
  background-color: $primary;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 25px auto;
  position: relative;
  img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 1500px) {
  .header{
    height: 170px;
    &:before{
      width: calc(100% + 15px);
      left: -15px;
    }
  }
}
@media screen and (max-width: 992px) {
  .header{
    height: 145px;
  }
  .category-detail__label{
    font-size: 35px;
  }
}
@media screen and (max-width: 768px) {
  .company{
    background-color: #f9f9f9;
  }
  .category-wrapper{
    .field{
      width: 100%;
    }
  }
  .header{
    height: 120px;
    &:before{
      background-image: url('../../../../assets/image/bg-header-mobile.svg');
      width: 100%;
      left: 0;
    }
  }
  .category-detail__label{
    font-size: 20px;
    font-family: $workSansSemiBold;
  }
  
}
@media screen and (max-width: 360px){
  .header{
    height: 100px;
  }
  .category-detail__label{
    font-size: 17px;
  }
}