@import "../../theme/variables.scss";

::ng-deep .agbs-dialog {
  max-width: inherit!important;
  .mat-dialog-container{
    padding:0;
    border-radius: 10px;
    height: auto;
    overflow: hidden;
  }
}

::ng-deep .agbs-dialog{
  .agbs{
    width: 1100px;
    height: 90vh;
    max-height: 875px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding:0!important;
  }
  .agbs-header{
    display: block!important;
  }
  .agbs-body{
    padding:40px 45px 20px 45px;
    overflow: auto;
    height: 100%;
    &::-webkit-scrollbar {
      width: 20px;
    }
    &::-webkit-scrollbar-track {
      background: #eeecec;
    }
    &::-webkit-scrollbar-thumb {
      background: #989898;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #989898;
    }
  }
  .title{
    font-size: 24px!important;
  }
  .info-wrapper{
    &__text{
      font-size: 17px!important;
    }
    &__subtitle{
      font-size: 17px!important;
    }
    &__title{
      font-size: 17px!important;
    }
  }
  .list-item{
    font-size: 17px!important;
  }
}

.agbs{
  background-color: #ffffff;
  padding:40px 40px 20px 40px;
}


.category-header{
  background-image: url('../../../assets/image/bg-header-mobile.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height:120px;
  position: relative;
  display: none;
}
.category-detail{
  width:90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  &__icon{
    margin-right:13px;
    height:36px;
  }
  &__image{
    height: 100%;
    path{
        fill:#ffffff;
    }
  }
  &__label{
    font-size: 17px;
    color: #ffffff;
    font-family: $workSansSemiBold;
  }
}
.back{
    height: 24px;
    width:8px;
    position: absolute;
    left:0;
    top:50%;
    transform: translate(0, -50%);
    background-color:transparent;
    &__icon{
        fill:#ffffff;
        height:100%;
    }
}

.agbs-header{
  display: none;
  background-color: $primary;
  padding:22px 0;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  &__title{
    color:#ffffff;
    font-size: 17px;
  }
}
.close-dialog-button{
  background-color:transparent;
  position: absolute;
  right:14px;
  top:14px;
  width:18px;
  height:18px;
  &__icon{
    height:100%;
    fill:#ffffff;
  }
}
.title{
  font-size: 24px;
  font-family: $workSansBold;
  margin-bottom:25px;
  font-weight: normal;

}
.info-wrapper{
  word-break: break-all;
  &__text{
    font-size: 17px;
    margin-bottom:30px;
    line-height: 1.25;
    a{
      color:$blue;
      text-decoration: underline;
    }
  }
  &__subtitle{
    font-size: 17px;
    font-family: $workSansBold;
    margin-bottom: 5px;
    font-weight: normal;
  }
  &__title{
    font-size: 17px;
    font-family: $workSansBold;
    margin-bottom:20px;
    font-weight: normal;
  }
}
.list{
  display: flex;
  flex-direction: column;
}
.list-item{
  padding-left:10px;
  position: relative;
  margin-bottom:20px;
  font-size: 17px;
  &:before{
    content: '';
    position: absolute;
    width:3px;
    height:3px;
    border-radius:50%;
    left:0;
    top:10px;
    background-color: $black;
  }
}
@media screen and (max-width: 1200px) {
  ::ng-deep .agbs-dialog{
    .agbs{
      width: 90vw;
    }
  }
  .agbs{
    padding:20px;
  }
  ::ng-deep .agbs-dialog{
    .agbs-body{
      padding:20px 29px 10px 29px;
    }
  }
  
}

@media screen and (max-width: 992px) {
  .agbs-body{
    &::-webkit-scrollbar {
      width: 10px;
    }
  }
  .title{
   font-size: 17px;
 }
 .info-wrapper{
   &__title{
     font-size: 14px;
   }
   &__subtitle{
     font-size: 14px;
   }
   &__text{
     font-size: 14px;
   }
 }
 .list-item{
   font-size: 14px;
   &::before{
     top:8px;
   }
 }
}

@media screen and (max-width: 768px) {
  .close-dialog-button{
    right:10px;
    top:10px;
  }
  .category-header{
    &.show{
      display: block;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
 .agbs-header{
   &__title{
     font-size: 14px;
   }
 }
 ::ng-deep .agbs-dialog{
  .agbs-body{
    padding:15px 15px 10px 15px;
  }
 }
 ::ng-deep .agbs-dialog{
  .title{
    font-size: 17px!important;
  }
  .info-wrapper{
    &__title{
      font-size: 14px!important;
    }
    &__subtitle{
      font-size: 14px!important;
    }
    &__text{
      font-size: 14px!important;
    }
  }
  .list-item{
    font-size: 14px!important;
    &::before{
      top:8px!important;
    }
  }
 }
}

@media screen and (max-width: 360px) {
  .category-header{
      height: 100px;
  }
  .category-detail{
    &__icon{
      height:30px;
      margin-right: 10px;
    }
    &__label{
      font-size: 14px;
    }
  }
}
