<section class="personal-contact">
  <div class="container">
    <div class="edit-wrp">
      <div class="edit-header">
        <div class="edit-title-box">
          <div class="edit-title-box__icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 13.38 13.38"  class="category-status__icon">
              <path d="M12.6.784a2.677,2.677,0,0,0-3.786,0L1.328,8.266a.523.523,0,0,0-.134.229L.019,12.717a.523.523,0,0,0,.646.643l4.222-1.2a.523.523,0,0,0,.227-.872L2.453,8.619l6.2-6.2,2.306,2.306L6.214,9.459a.523.523,0,0,0,.738.74L12.6,4.57a2.677,2.677,0,0,0,0-3.786ZM3.748,11.4l-2.471.7.692-2.487Zm8.11-7.568-.156.155L9.394,1.678l.155-.155A1.632,1.632,0,0,1,11.858,3.83Z"/>
            </svg>
          </div>
          <p class="edit-title-box__text">Education</p>
        </div>
        <div class="edit-navigation">
          <button
            class="edit-navigation__btn"
            (click)="prev()">
            <img src="../assets/image/back.svg">
          </button>
          <button
            class="edit-navigation__btn"
            (click)="next()">
            <img src="../assets/image/next.svg">
          </button>
        </div>
      </div>
      <form
        [formGroup]="schoolForm"
        *ngIf="schoolForm">
        <div formGroupName="education">
          <div
            formArrayName="schools"
            *ngFor="let item of schoolForm.get('education').get('schools').controls; let i = index;"
            class="group">
            <h3 class="group__title">School №{{i + 1}}</h3>
            <div [formGroupName]="i">
              <div class="edit-item">
                <p class="edit-item__label">Degree</p>
                <input
                  type="text"
                  class="edit-item__input"
                  placeholder="Degree"
                  formControlName="degree"
                  (blur)="submit(schoolForm.value, 'Degree')">
              </div>
              <div class="edit-item">
                <p class="edit-item__label">School Name</p>
                <input
                  type="text"
                  class="edit-item__input"
                  placeholder="School Name"
                  formControlName="schoolName"
                  (blur)="submit(schoolForm.value, 'School Name')">
              </div>
              <div class="edit-item">
                <p class="edit-item__label">Note</p>
                <input
                  type="text"
                  class="edit-item__input"
                  placeholder="Note"
                  formControlName="note"
                  (blur)="submit(schoolForm.value, 'Note')">
              </div>
              <div class="edit-item">
                <p class="edit-item__label">Date Finish</p>
                <div class="datepicker-wrp">
                  <input
                    [matDatepicker]="myDatepicker"
                    formControlName="dateFinish"
                    placeholder="DD/MM/YYYY"
                    class="edit-item__input"
                    (dateChange)="submit(schoolForm.value, 'Date Finish')">
                  <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker></mat-datepicker>
                  <img
                    class="datepicker-wrp__icon"
                    src="../assets/image/calendar.svg">
                </div>
              </div>
              <div class="edit-item">
                <p class="edit-item__label">Certificate</p>
                <div class="input-decor">
                  <input
                    type="text"
                    class="edit-item__input"
                    placeholder="Upload certificate"
                    formControlName="certificate">
                  <img src="../assets/image/download.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          (click)="addSchoolItem()"
          class="add-btn">
          <span>Add school</span>
          <img src="../assets/image/plus.svg">
        </button>
      </form>
      <form
        [formGroup]="educationForm"
        *ngIf="educationForm">
        <div formGroupName="education">
          <div
            formArrayName="specialEducation"
            *ngFor="let item of educationForm.get('education').get('specialEducation').controls; let i = index;"
            class="group">
            <h3 class="group__title">Traning №{{i + 1}}</h3>
            <div [formGroupName]="i">
              <div class="edit-item">
                <p class="edit-item__label">Completed education</p>
                <mat-form-field>
                  <select
                    matNativeControl
                    formControlName="isCompleted"
                    (change)="submit(educationForm.value, 'Completed education')">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                    <button
                      type="button"
                      (click)="addEducationItem()"
                      class="add-btn">
                      <span>Add traning</span>
                      <img src="../assets/image/plus.svg">
                    </button>
                  </select>
                </mat-form-field>
              </div>
              <div class="edit-item">
                <p class="edit-item__label">Education professional</p>
                <input
                  type="text"
                  class="edit-item__input"
                  placeholder="Education professional"
                  formControlName="professionalEducation"
                  (blur)="submit(educationForm.value, 'Education professional')">
              </div>
              <div class="edit-item">
                <p class="edit-item__label">Training company</p>
                <input
                  type="text"
                  class="edit-item__input"
                  placeholder="Company"
                  formControlName="trainingCompany"
                  (blur)="submit(educationForm.value, 'Training company')">
              </div>
              <div class="edit-item">
                <p class="edit-item__label">Training location</p>
                <input
                  type="text"
                  class="edit-item__input"
                  placeholder="Location"
                  formControlName="trainingLocation"
                  (blur)="submit(educationForm.value, 'Training location')">
              </div>
              <div class="edit-item">
                <p class="edit-item__label">Note</p>
                <input
                  type="text"
                  class="edit-item__input"
                  placeholder="Note"
                  formControlName="note"
                  (blur)="submit(educationForm.value, 'Note')">
              </div>
              <div class="edit-item">
                <p class="edit-item__label">Date</p>
                <div class="datepicker-wrp">
                  <input
                    [matDatepicker]="myDatepicker"
                    formControlName="dateFinish"
                    placeholder="DD/MM/YYYY"
                    class="edit-item__input"
                    (dateChange)="submit(educationForm.value, 'Date')">
                  <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker></mat-datepicker>
                  <img
                    class="datepicker-wrp__icon"
                    src="../assets/image/calendar.svg">
                </div>
              </div>
              <div class="edit-item">
                <p class="edit-item__label">Certificate</p>
                <div class="input-decor">
                  <input
                    type="text"
                    class="edit-item__input"
                    placeholder="Upload certificate"
                    formControlName="certificate">
                  <img src="../assets/image/download.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          (click)="addEducationItem()"
          class="add-btn">
          <span>Add traning</span>
          <img src="../assets/image/plus.svg">
        </button>
      </form>
      <form
        [formGroup]="universityForm"
        *ngIf="universityForm">
        <div formGroupName="education">
          <div
            formArrayName="universities"
            *ngFor="let item of universityForm.get('education').get('universities').controls; let i = index;"
            class="group">
            <h3 class="group__title">University №{{i + 1}}</h3>
            <div [formGroupName]="i">
              <div class="edit-item">
                <p class="edit-item__label">University specialization</p>
                <input
                  type="text"
                  class="edit-item__input"
                  placeholder="Enter subject"
                  formControlName="specialization"
                  (blur)="submit(universityForm.value, 'University specialization')">
              </div>
              <div class="edit-item">
                <p class="edit-item__label">Course of Study</p>
                <input
                  type="text"
                  class="edit-item__input"
                  placeholder="Enter subject"
                  formControlName="courseOfStudy"
                  (blur)="submit(universityForm.value, 'Course of Study')">
              </div>
              <div class="edit-item">
                <p class="edit-item__label">Highest Degree</p>
                <input
                  type="text"
                  class="edit-item__input"
                  placeholder="Enter subject"
                  formControlName="highestDegree"
                  (blur)="submit(universityForm.value, 'Highest Degree')">
              </div>
              <div class="edit-item">
                <p class="edit-item__label">University Name</p>
                <input
                  type="text"
                  class="edit-item__input"
                  placeholder="Enter subject"
                  formControlName="universityName"
                  (blur)="submit(universityForm.value, 'University Name')">
              </div>
              <div class="group-input">
                <div class="edit-item">
                  <p class="edit-item__label">Date Start</p>
                  <div class="datepicker-wrp">
                    <input
                      [matDatepicker]="datepickerStart"
                      formControlName="dateStart"
                      placeholder="DD/MM/YYYY"
                      class="edit-item__input"
                      (dateChange)="submit(universityForm.value, 'Date Start')">
                    <mat-datepicker-toggle [for]="datepickerStart"></mat-datepicker-toggle>
                    <mat-datepicker #datepickerStart></mat-datepicker>
                    <img
                      class="datepicker-wrp__icon"
                      src="../assets/image/calendar.svg">
                  </div>
                </div>
                <div class="edit-item">
                  <p class="edit-item__label">Date Finish</p>
                  <div class="datepicker-wrp">
                    <input
                      [matDatepicker]="datepickerFinish"
                      formControlName="dateFinish"
                      placeholder="DD/MM/YYYY"
                      class="edit-item__input"
                      (dateChange)="submit(universityForm.value, 'Date Finish')">
                    <mat-datepicker-toggle [for]="datepickerFinish"></mat-datepicker-toggle>
                    <mat-datepicker #datepickerFinish></mat-datepicker>
                    <img
                      class="datepicker-wrp__icon"
                      src="../assets/image/calendar.svg">
                  </div>
                </div>
              </div>
              <div class="edit-item">
                <p class="edit-item__label">Title Thesis</p>
                <textarea
                  type="text"
                  class="edit-item__input"
                  placeholder="Enter subject"
                  formControlName="titleThesis"
                  (blur)="submit(universityForm.value, 'Title Thesis')">
                </textarea>
              </div>
              <div class="edit-item">
                <p class="edit-item__label">Note</p>
                <input
                  type="text"
                  class="edit-item__input"
                  placeholder="Enter subject"
                  formControlName="note"
                  (blur)="submit(universityForm.value, 'Note')">
              </div>
              <div class="edit-item">
                <p class="edit-item__label">Highest Degreen</p>
                <input
                  type="text"
                  class="edit-item__input"
                  placeholder="Enter subject"
                  formControlName="highestDegree"
                  (blur)="submit(universityForm.value, 'Highest Degreen')">
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          (click)="addUniversityItem()"
          class="add-btn">
          <span>Add university</span>
          <img src="../assets/image/plus.svg">
        </button>
      </form>
    </div>
  </div>
</section>
