<section class="personal-contact">
  <div class="container">
    <div class="edit-wrp">
      <div class="edit-header">
        <div class="edit-title-box">
          <div class="edit-title-box__icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 13.38 13.38"  class="category-status__icon">
              <path d="M12.6.784a2.677,2.677,0,0,0-3.786,0L1.328,8.266a.523.523,0,0,0-.134.229L.019,12.717a.523.523,0,0,0,.646.643l4.222-1.2a.523.523,0,0,0,.227-.872L2.453,8.619l6.2-6.2,2.306,2.306L6.214,9.459a.523.523,0,0,0,.738.74L12.6,4.57a2.677,2.677,0,0,0,0-3.786ZM3.748,11.4l-2.471.7.692-2.487Zm8.11-7.568-.156.155L9.394,1.678l.155-.155A1.632,1.632,0,0,1,11.858,3.83Z"/>
            </svg>
          </div>
          <p class="edit-title-box__text">Education</p>
        </div>
        <div class="edit-navigation">
          <button
            class="edit-navigation__btn"
            (click)="prev()">
            <img src="../assets/image/back.svg">
          </button>
          <button
            class="edit-navigation__btn"
            (click)="next()">
            <img src="../assets/image/next.svg">
          </button>
        </div>
      </div>
      <form>
        <div class="edit-item">
          <p class="edit-item__label">First Name</p>
          <input
            type="text"
            class="edit-item__input"
            placeholder="First Name">
        </div>
      </form>
    </div>
  </div>
</section>
