<section class="login">
  <img
    src="../assets/image/background-circle-01.png"
    class="circle circle_01">
  <img
    src="../assets/image/background-circle-02.png"
    class="circle circle_02">
  <img
    src="../assets/image/background-circle-03.png"
    class="circle circle_03">
  <div class="container">
    <div class="login-wrapper">
      <app-form-login
        (stateChanges)="stateChanges($event)"
        *ngIf="!stateReset.password && !stateReset.email"></app-form-login>
      <app-password-reset *ngIf="stateReset.password"></app-password-reset>
    </div>
  </div>
</section>
