<div class="container">
  <div class="login-wrapper">
    <h1 class="login-wrapper__title">Login</h1>
    <form [formGroup]="form" (ngSubmit)="submit(form)">
        <div class="login-item">
          <span class="login-item__label">E-mail</span>
          <input formControlName="email" type="email" class="login-item__input">
        </div>
        <div class="error-box" *ngIf="(form.get('email').touched || form.get('email').dirty) && form.get('email').invalid">
          <p class="error-box__text" *ngIf="form.get('email').hasError('required')">This field is required.</p>
          <p class="error-box__text" *ngIf="form.get('email').hasError('invalidEmailAddress') && !form.get('email').hasError('required')">Invalid E-Mail format.</p>
        </div>
        <div class="login-item">
          <span class="login-item__label">Password</span>
          <input formControlName="password" type="password" class="login-item__input">
        </div>
        <button type="submit" [disabled]="!form.valid" class="login-button">Login</button>
    </form>
  </div>
</div>