<section class="remove-account">
  <div class="message-remove">
    <h2
      class="message-remove__title"
      *ngIf="!removeAccountSteps">
      Möchtest Du Dein Konto wirklich löschen? Bitte beachte, dass sich Deine Daten dann nicht mehr wieder herstellen lassen!
    </h2>
    <h2
      class="message-remove__title message-remove__title_uppercase"
      *ngIf="removeAccountSteps">
      DEIN KONTO WIRD <br>
      JETZT UNWIDERRUFLICH <br>
      GELÖSCHT!
    </h2>
    <button
      class="message-remove__button message-remove__button_cancel"
      (click)="removeAccountCancel()">
      Abbrechen
    </button>
    <button
      class="message-remove__button message-remove__button_confirm"
      (click)="removeAccountConfirm()">
      KONTO LÖSCHEN
    </button>
  </div>
</section>
