<div>
  <h2>{{ 'info.about' | translate }}</h2>
  <p></p>
  <label>
    <select
      #langselect
      (change)="translateService.use(langselect.value)">
      <option
        *ngFor="let lang of translateService.getLangs()"
        value="{{lang}}">
        {{lang}}
      </option>
    </select>
  </label>
</div>
<mat-sidenav-container>
  <mat-sidenav
    mode="push"
    #snav>
    <div class="nav-box">
      <button
        class="nav-box__btn"
        (click)="goToComponent('profile', snav)">
        Profile
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <header
      class="header"
      *ngIf="authService.getAuthData()">
      <div class="container">
        <button
          (click)="snav.toggle()"
          class="menu-btn"
          *ngIf="!routerStatus">
          <div class="menu-btn__item"></div>
          <div class="menu-btn__item"></div>
          <div class="menu-btn__item"></div>
        </button>
        <button
          *ngIf="routerStatus"
          (click)="backRouter()"
          class="back-button">
          <i class="material-icons">
            keyboard_arrow_left
          </i>
        </button>
        <div class="header-logo">
          <p class="header-logo__text">be<span class="custom-text">i</span><span class="letter-position">nt</span></p>
        </div>
        <button
          class="logout-button"
          (click)="logout()">
          <i class="material-icons">
            exit_to_app
          </i>
        </button>
      </div>
    </header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
