@import "./theme/variables.scss";
app-root{
  margin-bottom:100px;
}

.custom-navigation{
  width:568px;
  height: 80px;
  padding-bottom:10px;
  box-shadow: 0px -5px 15px #31313126;
  border-radius: 20px 20px 0px 0px;
  position:fixed;
  left:50%;
  bottom:0;
  transform:translate(-50%, 0);
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
}
.navigation-btn{
  padding:10px;
  background-color: transparent;
    &.active{
      .navigation-btn__icon{
        path{
          fill:$primary;
        }
      }
    }
    &__icon{
       fill:#313131;
       height: 30px;
    }
    &_home{
    width:65px;
    height:65px;
    border-radius:50%;
    padding:0;
    background-color: #313131;
    margin-top:-10px;
    &.active{
      background-color: $primary;
    }
    span{
      font-size: 45px;
      color:#ffffff;
      font-family: $gb;
    }
  }
}
@media screen and (max-width:768px) {
  // .back-button{
  //    height:30px;
  //    width:30px;
  //    margin-left:15px;
  //    i{
  //      font-size: 33px;
  //    }
  // }
  // .menu-btn{
  //   height:30px;
  //   width:30px;
  //   margin-left:15px;
  //   &__item{
  //     height:3px;
  //   }
  // }
  // .header-logo{
  //   &__text{
  //     font-size: 60px;
  //   }
  // }
  // .logout-button{
  //   width:30px;
  //   height:30px;
  //   margin-right:15px;
  // }
}
@media screen and (max-width:568px){
  .custom-navigation{
    width:100%;
  }
}