.header-logo{
    padding:25px 0;
    margin-bottom:75px;
    text-align: center;
    &__text{
        display: inline-block;
        font-size: 100px;
        font-weight:700;
        font-family: Gilroy Bold;
        text-align: center;
        .grn-text {
            color:rgba(80, 180, 164,1);
        }
        .letter-position{
            display:inline-block;
            margin-left:-10.1%;
        }
    }
}
.logout-button{
    display:block;
    position: absolute;
    right:20px;
    top:50px;
    width:50px;
    height:50px;
    font-size: 16px;
    background:linear-gradient(45deg, #5ABF99 45%, #FDC531);
    color:#ffffff;
    text-transform: uppercase;
    font-family: Gilroy Bold;
    z-index: 1;
    &__img{
        height: 25px;
        fill: #ffffff;
    }
}
.job-message-item{
    padding:20px;
    margin-bottom:10px;
    border-radius:10px;
    &_success{
        background: rgba(80, 180, 164, .2);
        .job-message-item__text{
            margin-bottom:15px;
            color:rgb(85, 182, 0);
        }
    }
    &_error{
        background-color: rgb(216, 60, 60);
    }
    &__text{
        font-family: Gilroy Bold;
        color:#ffffff;
        font-size: 20px;
        text-align: center;
    }
}
.job-description {
    background-color: #ffffff;
    padding:10px;
    border-radius:10px;
}
.job-description-item{
    margin-bottom:10px;
    &:last-child{
        margin-bottom:0;
    }
    &__label{
        font-weight: 700;
        display: block;
        margin-bottom:10px;
    }
}
@media screen and (max-width:630px){
  .logout-button{
    right: inherit;
    left:50%;
    top:150px;
    transform: translate(-50%, 0);
  }
}