<section class="profile">
  <button
    class="logout-button"
    (click)="logout()">
    Logout
  </button>
  <div class="container">
    <div class="header-logo">
      <p class="header-logo__text">be<span class="grn-text">i</span><span class="letter-position">nt</span></p>
    </div>

    <div *ngIf="jobId">
      <h1 *ngIf="applicationSuccess">
        You have successfully applied to Job {{ jobId }}
      </h1>
      <h1 *ngIf="!applicationSuccess">
        Oops! Looks like you have already applied to this job.
      </h1>
    </div>
  </div>
</section>
