.header-logo{
    padding:25px 0;
    margin-bottom:75px;
    text-align: center;
    &__text{
        display: inline-block;
        font-size: 100px;
        font-weight:700;
        font-family: Gilroy Bold;
        text-align: center;
        .grn-text {
            color:rgba(80, 180, 164,1);
        }
        .letter-position{
            display:inline-block;
            margin-left:-10.1%;
        }
    }
}
.logout-button{
    display:block;
    position: absolute;
    right:20px;
    top:65px;
    width:150px;
    height:50px;
    border-radius:5px;
    font-size: 16px;
    background-color:rgb(80, 180, 164);
    color:#ffffff;
    text-transform: uppercase;
    font-family: Gilroy Bold;
    z-index: 1;
}

@media screen and (max-width:630px){
  .logout-button{
    right: inherit;
    left:50%;
    top:150px;
    transform: translate(-50%, 0);
  }
}