@import "../../theme/variables.scss";
.pipeline{
  background-color:$primary;
  min-height: 100%;
  position: relative;
}
.search-header{
  // background-color: $primary;
  // border-bottom-left-radius: 40px;
  height:202px;
  margin-bottom:50px;
  position: relative;
  // display: none;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/image/bg-header-desktop_green.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
}
// NEW
.i2{
  display: none;
}
// END
.category-detail{
  width:90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  &__icon{
    margin-right:20;
    height:55px;
  }
  &__image{
    height: 100%;
    fill:#ffffff;
  }
  &__label{
    font-size: 50px;
    color: #ffffff;
    font-family: $workSansSemiBold;
  }
}
@media screen and (max-width: 1500px) {
  .pipeline{
    padding-left:5vw;
  }
    // NEW 
    .search-header{
      height: 170px;
      &:before{
        width: calc(100% + 15px);
        left: -15px;
      }
    }
    // END
}
@media screen and (max-width: 992px) {
  // NEW 
    .search-header{
      height: 145px;
    }
    .category-detail__label{
      font-size: 35px;
    }
  // END
}
@media screen and (max-width: 768px) {
  .pipeline{
    background-color: #f9f9f9;
    padding-left: 0;
  }
  // NEW 
    .search-header{
      height: 120px;
      &:before{
        background-image: url('../../../assets/image/bg-header-mobile.svg');
        width: 100%;
        left: 0;
      }
    }
    .category-detail__label{
      font-size: 20px;
    }
    .i1{
      display: none;
    }
    .i2{
      display: inline-block;
    }
  // END
}