@import "../../theme/variables.scss";
.pipeline{
  background-color:$primary;
  min-height: 100vh;
  padding-top:50px;
  h2{
    text-align: center;
    font-family: $workSansBold;
    font-size: 30px;
    color:$primary;
  }
}
@media screen and (max-width: 768px) {
  .pipeline{
    min-height: calc(100vh - 80px);
    background-color: #f9f9f9;
  }
}