<section class="job-description">
  <div class="container">
    <h1 class="title-primary">
      <span class="title-primary__text">{{ 'job_description.TTL' | translate }}</span>
    </h1>
    <div
      class="job-description-wrp"
      *ngIf="jobData">
      <div class="job-description-wrp-item">
        <span class="job-description-wrp-item__label">Title:</span>
        <p class="job-description-wrp-item__text">{{ jobData?.vacancy.title }}</p>
      </div>
      <div class="job-description-wrp-item">
        <span class="job-description-wrp-item__label">Description:</span>
        <p class="job-description-wrp-item__text">{{ jobData?.vacancy.description }}</p>
      </div>
      <div class="job-description-wrp-item">
        <span class="job-description-wrp-item__label">Job ID:</span>
        <p class="job-description-wrp-item__text">{{ jobData?.vacancy.id }}</p>
      </div>
      <div class="job-description-wrp-item">
        <span class="job-description-wrp-item__label">Job created:</span>
        <p class="job-description-wrp-item__text">{{ jobData?.vacancy.createdAt | date:'fullDate' }}</p>
      </div>
    </div>
    <div
      class="error-box"
      *ngIf="noJodData">
      <p class="error-box__text">
        Oops! something went wrong.
      </p>
    </div>
    <div
      class="job-message-wrp"
      *ngIf="jobId">
      <div
        class="job-message-item job-message-item_success"
        *ngIf="applicationSuccess">
        <p class="job-message-item__text">
          You have successfully applied to Job
        </p>
      </div>
    </div>
    <div class="job-actions">
      <button
        class="job-actions__btn apply"
        (click)="jobApply()"
        [disabled]="statusButtonApply">
        <span>
          <i class="material-icons btn-icon">
            done
          </i>
          {{ 'job_description.APPLY_BTN' | translate }}
        </span>
      </button>
      <button
        class="job-actions__btn profile"
        (click)="goToProfile()">
        <span>
          <i class="material-icons btn-icon">
            account_circle
          </i>
           {{ 'job_description.PROFILE_BTN' | translate }}
        </span>
      </button>
    </div>
    <div class="download-cv">
      <h2 class="download-cv__title"> {{ 'job_description.DOWNLOAD_TEXT' | translate }}</h2>
      <button
        (click)="downloadFile()"
        class="download-cv-button">
        <span>
          <i class="material-icons btn-icon">
            file_download
          </i>
           {{ 'job_description.DOWNLOAD_BTN' | translate }}
        </span>
      </button>
    </div>
  </div>
</section>
