@import "../../theme/variables.scss";
.job-description{
  padding-top:100px;
}
.job-actions{
  display:flex;
  justify-content:space-evenly;
  align-items:flex-end;
  padding:25px 0;
  &__btn{
    padding:15px 0;
    width:300px;
    font-family: Gilroy Bold;
    background-color: $green;
    color:#ffffff;
    position: relative;
    flex-shrink:0;
    &:before{
      content:'';
      width:100%;
      height:4px;
      background-color: rgb(68, 109, 8);
      position:absolute;
      left:0;
      bottom:0;
    }
    span{
        display: inline-block;
        font-size: 16px;
        text-transform: capitalize;
        letter-spacing: .7px;
        position: relative;
        i{
          position:absolute;
          right:105%;
          top:50%;
          transform: translate(0, -50%);
        }
    }
    &:disabled{
      opacity: .5;
    }
  }
}
.download-cv{
  display:flex;
  flex-direction:column;
  align-items: center;
  &__title{
    margin-bottom:10px;
    font-size: 18px;
  }
}
.download-cv-button{
  background-color: $primary;
  padding:15px 0;
  width:300px;
  font-family: $gb;
  color:#ffffff;
  position: relative;
    &:before{
      content:'';
      width:100%;
      height:4px;
      position:absolute;
      left:0;
      bottom:0;
      background-color: rgb(70, 128, 106);
    }
    span{
      display: inline-block;
      font-size: 16px;
      text-transform: capitalize;
      letter-spacing: .7px;
      position: relative;
      i{
        position:absolute;
        right:105%;
        top:50%;
        transform: translate(0, -50%);
      }
    }
}
.title-primary{
    text-align:center;
    margin-bottom:25px;
    color:#000000;
    &__text{
        font-size: 50px;
        letter-spacing: 1px;
        display: inline-block;
        position: relative;
        font-family: $gb;
        background: linear-gradient(90deg,  rgb(11, 33, 85) 10%,  rgb(7, 77, 117));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.job-message-item{
    padding:15px;
    margin-bottom:10px;
    border-radius:50px;
    width:80%;
    margin:0 auto;
    &_success{
        background: rgba(80, 180, 164, .2);
        .job-message-item__text{
            color:rgb(85, 182, 0);
        }
    }
    &__text{
        font-family: $gb;
        color:#ffffff;
        font-size: 18px;
        text-align: center;
    }
}
.offer-rating{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__title{
    text-align:center;
    width:100%;
    font-family: $gb;
  }
}
.offer-rating-wrp{
  width:95%;
  height:50px;
  background-color:#f4f4f4;
  border-radius:50px;
  margin:15px auto;
  overflow: hidden;
  position: relative;
  &__line{
    display: inline-block;
    width:0;
    height:100%;
    transition: .1s linear;
    background: linear-gradient(45deg,  #fdc531 5%,#5ABF99);
  }
  &__percent{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    color:$blue;
    font-family: $gb;
    letter-spacing: 2px;
    &.change-color{
      color:#ffffff;
    }
  }
}
.job-description-wrp {
  width:100%;
  margin:25px  auto;
  background: linear-gradient(90deg, #e7e5e5 80%, #f2f2f2);
  border-radius:10px;
  padding:10px 15px;
}
.job-description-wrp-item{
    margin-bottom:10px;
    &:last-child{
        margin-bottom:0;
    }
    &__label{
        font-weight: 700;
        display: block;
        margin-bottom:5px;
        color:#615f5f;
        font-family: Gilroy Bold;
    }
}
.error-box{
  text-align:center;
  background-color: $red;
  width:50%;
  margin:0 auto;
  margin-bottom:25px;
  padding:50px 0;
  box-sizing: border-box;
  transform: skewY(5deg);
  &__text{
    font-size: 25px;
    transform: skewX(-5deg);
    color:#ffffff;
  }
}
@media screen and (max-width:768px) {
  .job-description-wrp-item{
    &__label{
      font-size: 16px;
      margin-bottom:5px;
    }
    &__text{
      font-size: 16px;
    }
  }
  .job-message-item{
    padding:10px 5px;
    &_success{
      .job-message-item__text{
        font-size: 16px;
      }
    }
  }
  .offer-rating-wrp{
    height:38px;
  }
  .job-description{
    padding-top:50px;
  }
  .title-primary{
    &__text{
      font-size:30px;
      &:before{
        height:2px;
      }
    }
  }
  .job-actions{
    &__btn{
      width:250px;
      padding:10px 0;
      span{
        font-size: 14px;
        i{
          font-size: 20px;
        }
      }
    }
  }
  .download-cv{
    &__title{
      text-align:center;
      font-size: 16px;
    }
  }
  .download-cv-button{
    width:250px;
    padding:10px 0;
    span{
        font-size: 14px;
        i{
          font-size: 20px;
        }
      }
  }
}
@media screen and (max-width:568px) {
  .job-actions{
    flex-direction:column;
    align-items: center;
    &__btn{
      margin-bottom:15px;
    }
  }
}
@media screen and (max-width:480px) {
  .job-message-item {
    width:100%;
  }
}