<div class="sheet">
  <h2 class="sheet__title">Was möchtest du tun?</h2>
  <div class="button-wrapper">
    <button
      class="button-wrapper__item"
      (click)="sheetSelect('download')">
      <span class="button-wrapper__text">Herunterladen</span>
    </button>
    <button
      class="button-wrapper__item"
      (click)="sheetSelect('open')">
      <span class="button-wrapper__text">In neuem Tab öffnen</span>
    </button>
    <button
      class="button-wrapper__item button-wrapper__item_cancel"
      (click)="sheetClose(false)">
      <span class="button-wrapper__text">Abbrechen</span>
    </button>
  </div>
</div>
