<div class="search">
  <div class="background">
    <img
      src="../assets/image/background-circle-01.png"
      class="background__circle background__circle_01">
    <img
      src="../assets/image/background-circle-02.png"
      class="background__circle background__circle_02">
  </div>
  <app-category-nav-header [navSettings]="navSettings"></app-category-nav-header>
  <div class="search-preference-wrapper">
    <div class="container">
      <form
        class="form"
        [formGroup]="form"
        *ngIf="form">
        <div
          class="flex-grid"
          formGroupName="searchPreferences">
          <div class="field field_select field_select-multiselect">
            <p class="field__label">Wunsch-Arbeitsort(e)</p>
            <div class="field-wrapper">
              <ng-select
                [clearable]="false"
                [multiple]="true"
                [hideSelected]="true"
                [virtualScroll]="true"
                [formControl]="placeControl"
                [items]="placeOptions$ | async"
                placeholder="Wunsch-Arbeitsort(e)"
                (change)="formArrayPush($event, 'desiredPlacesOfWorkArray', 'Wunsch-Arbeitsort')"
                class="custom-select">
              </ng-select>
              <div class="field-wrapper__type">abc</div>
              <div
                [ngClass]="{'invalid-should' : form.get('searchPreferences').get('desiredPlacesOfWork').value.length === 0}"
                class="field-wrapper__status"></div>
            </div>
            <div class="tags-wrapper">
              <div
                formArrayName="desiredPlacesOfWork"
                *ngFor="let item of form.get('searchPreferences').get('desiredPlacesOfWork').controls; let i = index;"
                class="tags-wrapper__item">
                <p class="tags-wrapper__label">{{item.value}}</p>
                <button
                  type="button"
                  class="tags-wrapper__remove"
                  (click)="formArrayRemove(i, 'desiredPlacesOfWorkArray', 'Wunsch-Arbeitsort')">
                  <img src="../assets/image/close.svg">
                </button>
              </div>
            </div>
          </div>
          <div class="field field_checkbox">
            <label class="checkbox-container">
              Überall
              <input
                type="checkbox"
                class="not-relevant__checkbox"
                formControlName="willingToRelocate"
                (change)="submit('Führungskraft')">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="field field_select field_select-multiselect">
            <p class="field__label">Bevorzugte(r) Geschäftsbereich(e)</p>
            <div class="field-wrapper">
              <ng-select
                [clearable]="false"
                [multiple]="true"
                [hideSelected]="true"
                [items]="businessOptions$ | async"
                placeholder="Bevorzugte(r) Geschäftsbereich(e)"
                [formControl]="businessBranchesControl"
                (change)="formArrayPush($event, 'preferredBusinessArray', 'Bevorzugte(r) Geschäftsbereich(e)')"
                class="custom-select">
              </ng-select>
              <div class="field-wrapper__type">abc</div>
              <div
                [ngClass]="{'invalid-should' : form.get('searchPreferences').get('preferredBusinessAreas').value.length === 0}"
                class="field-wrapper__status"></div>
            </div>
            <div class="tags-wrapper">
              <div
                formArrayName="preferredBusinessAreas"
                *ngFor="let item of form.get('searchPreferences').get('preferredBusinessAreas').controls; let i = index;"
                class="tags-wrapper__item">
                <p class="tags-wrapper__label">{{item.value}}</p>
                <button
                  type="button"
                  class="tags-wrapper__remove"
                  (click)="formArrayRemove(i, 'preferredBusinessArray', 'Bevorzugte(r) Geschäftsbereich(e)')">
                  <img src="../assets/image/close.svg">
                </button>
              </div>
            </div>
          </div>
          <div class="field field_select field_select-multiselect">
            <p class="field__label">Wunsch-Branchen</p>
            <div class="field-wrapper">
              <ng-select
                [items]="industryOptions$ | async"
                [clearable]="false"
                [multiple]="true"
                [hideSelected]="true"
                placeholder="Wunsch-Branchen"
                [formControl]="industryBranchesControl"
                (change)="formArrayPush($event, 'industryBranchesArray', 'Wunsch-Branchen')"
                class="custom-select">
              </ng-select>
              <div class="field-wrapper__type">abc</div>
              <div
                [ngClass]="{'invalid-should' : form.get('searchPreferences').get('desiredIndustryBranches').value.length === 0}"
                class="field-wrapper__status"></div>
            </div>
            <div class="tags-wrapper">
              <div
                formArrayName="desiredIndustryBranches"
                *ngFor="let item of form.get('searchPreferences').get('desiredIndustryBranches').controls; let i = index;"
                class="tags-wrapper__item">
                <p class="tags-wrapper__label">{{item.value}}</p>
                <button
                  type="button"
                  class="tags-wrapper__remove"
                  (click)="formArrayRemove(i, 'industryBranchesArray', 'Wunsch-Branche')">
                  <img src="../assets/image/close.svg">
                </button>
              </div>
            </div>
          </div>
          <div class="field field_select field_select-multiselect">
            <p class="field__label">Gewünschte Art der Anstellung</p>
            <div class="field-wrapper">
              <ng-select
                [clearable]="false"
                [searchable]="false"
                [multiple]="true"
                [hideSelected]="true"
                placeholder="Wähle aus der Liste"
                [formControl]="employmentTypesControl"
                (change)="formArrayPush($event, 'employmentTypesArray', 'Gewünschte Art der Anstellung')"
                class="custom-select">
                <ng-container *ngIf="dropdownOptions && dropdownOptions.employment_type">
                  <ng-option
                    [value]="option"
                    *ngFor="let option of dropdownOptions.employment_type">
                    {{option}}
                  </ng-option>
                </ng-container>
              </ng-select>
              <div
                [ngClass]="{'invalid-should' : form.get('searchPreferences').get('desiredEmploymentTypes').value.length === 0}"
                class="field-wrapper__status"></div>
            </div>
            <div class="tags-wrapper">
              <div
                formArrayName="desiredEmploymentTypes"
                *ngFor="let item of form.get('searchPreferences').get('desiredEmploymentTypes').controls; let i = index;"
                class="tags-wrapper__item">
                <p class="tags-wrapper__label">{{item.value}}</p>
                <button
                  type="button"
                  class="tags-wrapper__remove"
                  (click)="formArrayRemove(i, 'employmentTypesArray', 'Gewünschte Art der Anstellung')">
                  <img src="../assets/image/close.svg">
                </button>
              </div>
            </div>
          </div>
          <div class="field field_select field_select-multiselect">
            <p class="field__label">Präferierte Arbeitszeit</p>
            <div class="field-wrapper">
              <ng-select
                [searchable]="false"
                [clearable]="false"
                [multiple]="true"
                [hideSelected]="true"
                placeholder="Wähle aus der Liste"
                [formControl]="workingHoursControl"
                (change)="formArrayPush($event, 'preferredWorkingHoursArray', 'Präferierte Arbeitszeit')"
                class="custom-select">
                <ng-container *ngIf="dropdownOptions && dropdownOptions.working_hours">
                  <ng-option
                    [value]="option"
                    *ngFor="let option of dropdownOptions.working_hours">
                    {{option}}
                  </ng-option>
                </ng-container>
              </ng-select>
              <div
                [ngClass]="{'invalid-should' : form.get('searchPreferences').get('preferredWorkingHours').value.length === 0}"
                class="field-wrapper__status"></div>
            </div>
            <div class="tags-wrapper">
              <div
                formArrayName="preferredWorkingHours"
                *ngFor="let item of form.get('searchPreferences').get('preferredWorkingHours').controls; let i = index;"
                class="tags-wrapper__item">
                <p class="tags-wrapper__label">{{item.value}}</p>
                <button
                  type="button"
                  class="tags-wrapper__remove"
                  (click)="formArrayRemove(i, 'preferredWorkingHoursArray', 'Präferierte Arbeitszeit')">
                  <img src="../assets/image/close.svg">
                </button>
              </div>
            </div>
          </div>
          <div class="field field_select">
            <p class="field__label">Reisebereitschaft</p>
            <div class="field-wrapper">
              <ng-select
                [searchable]="false"
                [clearable]="false"
                placeholder="Wähle aus der Liste"
                formControlName="travellingReady"
                (change)="submit('Geschlecht')"
                class="custom-select">
                <ng-container *ngIf="dropdownOptions && dropdownOptions.travelling">
                  <ng-option
                    [value]="option"
                    *ngFor="let option of dropdownOptions.travelling">
                    {{option}}
                  </ng-option>
                </ng-container>
              </ng-select>
              <div
                [ngClass]="{'invalid-should' : !form.get('searchPreferences').get('travellingReady').value }"
                class="field-wrapper__status"></div>
            </div>
          </div>
          <div class="field field_group">
            <p class="field__label">Gehaltsvorstellung</p>
            <div
              class="salary-group"
              formGroupName="salaryExpectations">
              <div class="field">
                <div class="field-wrapper">
                  <input
                    type="tel"
                    placeholder="min"
                    mask="separator"
                    maxlength="8"
                    thousandSeparator="."
                    suffix="€"
                    [validation]="false"
                    class="field-wrapper__input"
                    formControlName="min"
                    (change)="submit('max')">
                  <div class="field-wrapper__type">123</div>
                  <div
                    [ngClass]="{'invalid-should' : !form.get('searchPreferences').get('salaryExpectations').get('min').value || form.get('searchPreferences').get('salaryExpectations').get('min').hasError('onlyNumbers')}"
                    class="field-wrapper__status"></div>
                </div>
                <p
                  class="error-box"
                  *ngIf="(form.get('searchPreferences').get('salaryExpectations').get('min').touched || form.get('searchPreferences').get('salaryExpectations').get('min').dirty) && form.get('searchPreferences').get('salaryExpectations').get('min').invalid">
                  <span
                    class="error-box__text"
                    *ngIf="form.get('searchPreferences').get('salaryExpectations').get('min').hasError('onlyNumbers')">nur Zahlen eingeben</span>
                </p>
              </div>
              <div class="field">
                <div class="field-wrapper">
                  <input
                    type="tel"
                    mask="separator"
                    maxlength="8"
                    thousandSeparator="."
                    suffix="€"
                    [validation]="false"
                    placeholder="max"
                    class="field-wrapper__input"
                    formControlName="max"
                    
                    (change)="submit('max')">
                  <div class="field-wrapper__type">123</div>
                  <div
                    [ngClass]="{'invalid-should' : !form.get('searchPreferences').get('salaryExpectations').get('max').value || form.get('searchPreferences').get('salaryExpectations').get('max').hasError('onlyNumbers')}"
                    class="field-wrapper__status"></div>
                </div>
                <p
                  class="error-box"
                  *ngIf="(form.get('searchPreferences').get('salaryExpectations').get('max').touched || form.get('searchPreferences').get('salaryExpectations').get('max').dirty) && form.get('searchPreferences').get('salaryExpectations').get('max').invalid">
                  <span
                    class="error-box__text"
                    *ngIf="form.get('searchPreferences').get('salaryExpectations').get('max').hasError('onlyNumbers')">nur Zahlen eingeben</span>
                </p>
              </div>
            </div>
          </div>
          <div class="field field_datapicker">
            <p class="field__label">Verfügbar ab</p>
            <div
              class="field-wrapper"
              [owlDateTimeTrigger]="dt1">
              <input
                [owlDateTime]="dt1"
                (dateTimeChange)="submit('Verfügbar ab')"
                class="field-wrapper__input"
                formControlName="readyToStartJobFrom"
                placeholder="DD/MM/YYYY">
              <owl-date-time
                #dt1
                pickerMode="dialog"
                pickerType="calendar"
                panelClass="calendar"></owl-date-time>
              <div class="field-wrapper__type">
                <img src="../assets/image/calendar.svg">
              </div>
              <div
                class="field-wrapper__status"
                [ngClass]="{'invalid-should' : !form.get('searchPreferences').get('readyToStartJobFrom').value }"></div>
            </div>
          </div>
          <div class="field field_select field_select-multiselect">
            <p class="field__label">Benefit(s)</p>
            <div class="field-wrapper">
              <ng-select
                [clearable]="false"
                [multiple]="true"
                dropdownPosition="top"
                [hideSelected]="true"
                [items]="benefitsOptions$ | async"
                placeholder="Wunsch-Benefits"
                [formControl]="benefitsControl"
                (change)="formArrayPush($event, 'benefitsArray', 'Benefit(s)')"
                class="custom-select">
              </ng-select>
              <div class="field-wrapper__type">abc</div>
              <div
                [ngClass]="{'invalid-should' : form.get('searchPreferences').get('benefits').value.length === 0}"
                class="field-wrapper__status"></div>
            </div>
            <div class="tags-wrapper">
              <div
                formArrayName="benefits"
                *ngFor="let item of form.get('searchPreferences').get('benefits').controls; let i = index;"
                class="tags-wrapper__item">
                <p class="tags-wrapper__label">{{item.value}}</p>
                <button
                  type="button"
                  class="tags-wrapper__remove"
                  (click)="formArrayRemove(i, 'benefitsArray', 'Benefit(s)')">
                  <img src="../assets/image/close.svg">
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
