@import "../../../theme/variables.scss";
.error-box{
    padding-left:19px;
}
.search{
  background-color:$primary;
  position:relative;
  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}
.category-decor{
    margin-bottom: 2vw;
    &__image{
        display: block;
        width: 90%;
        margin:0 auto;
        &_mobile{
            display: none;
        }
    }
}
.flex-grid{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.field{
    width:46.5%;
    padding-bottom:30px;
    position: relative;
    &_checkbox{
        display: flex;
        align-items: center;
    }
    &_select{
        .field-wrapper{
            padding:0!important;
            background-color:inherit;
        }
    }
    &_datapicker{
        width:100%;
        padding:0;
        .field-wrapper{
            padding-right:0;
        }
    }
    &_textarea{
        display: flex;
        flex-direction: column;
        .field-wrapper{
            flex:1;
            padding-top:15px;
            .field-wrapper__input{
                padding:0;
                height: 100%;
                font-family: $gr;
                outline: none;
                border:none;
                resize: none;
                font-size: 17px;
            }
        }
    }
    &__label{
        color:$black;
        opacity: .5;
        margin-bottom:11px;
        margin-left:19px;
    }
}
.field-wrapper{
    height: 50px;
    width:100%;
    position: relative;
    padding-left:19px;
    padding-right:55px;
    background-color:#ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    display: flex;
    align-items: center;
    &__input{
        width:100%;
        border:0;
        color:$black;
        font-size: 17px;
        &::placeholder{
            color:#989898;
            opacity: .8;
            font-size: 17px;
        }
    }
    &__status{
       width:10px;
       height:100%;
       position: absolute;
       right:0;
       top:0;
       border-bottom-right-radius: 10px;
       border-top-right-radius: 10px;
       background-color:$green; 
       &.invalid{
           background-color: $yellow;
       }
    }
    &__type{
        position: absolute;
        right:19px;
        top:15px;
        color: #989898;
        opacity: 0.8;
        font-size: 17px;
        width:30px;
        text-align:center;
    }
}
.range-field{
  width:100%;
  padding:0 19px;
  position: relative;
  .mat-slider-horizontal{
    width:100%;
    min-width: inherit;
  }
  ::ng-deep .mat-slider-thumb{
    background-color: $primary;
  }
  ::ng-deep .mat-slider-thumb-label {
    background-color: $primary;
  }
  ::ng-deep .mat-slider-track-fill{
    background-color: $primary;
  }
  ::ng-deep .mat-slider-horizontal {
      height:52px;
      padding:0;
      .mat-slider-wrapper{
        top:inherit;
        bottom:4px;
      }
  }
  ::ng-deep .mat-accent .mat-slider-thumb-label-text {
    display: none;
  }
}
.range-wrapper{
  width:47%;
  margin-bottom:15px;
  &__label{
    color:$black;
    margin-bottom:11px;
    margin-left:19px;
    font-size: 18px;
    font-family: $gr;
    font-weight: normal;
  }
}

.range-value{
  display: flex;
  justify-content: space-between;
  position: absolute;
  left:50%;
  top:0;
  width:calc(100% - 38px);
  transform: translate(-50% , 0);
  z-index: 10;
}
.checkbox-wrapper{
    display: flex;
    align-items:flex-end;
    padding-top:25px;
    &__input{
        width:20px;
        height:20px;
        border-radius:5px;
        margin:0;
        margin-right:10px;
    }
}
.salary-group{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}
/* = MEDIA = */
@media screen and (max-width:1500px){
    .form-wrapper{
        padding-left:5vw;
        padding-right:5vw;
    }
}

@media screen and (max-width:992px){
    .error-box{
        &__text{
            font-size:16px;
        }
    }
}
@media screen and (max-width:768px){
    .search{
        background-color:#ffffff;
    }
    .form-wrapper{
        padding:0;
    }
    .category-decor{
        margin-bottom:5vw;
            &__image{
                width: 80%;
                display: none;
                &_mobile{
                    display: block;
                }
            }
    }
    .field{
        width:100%;
        &_checkbox{
            padding-left:19px;
        }
        &_textarea{
            .field-wrapper{
                &__input{
                min-height: 150px;
                font-size: 16px!important;
            }
            }
        }
    }
    .checkbox-wrapper{
        padding:0;
    }
    .range-wrapper{
        width:100%;
    }
    .salary-group{
        .field{
            width:47%;
        }
    }
    .field-wrapper{
        &__input{
            font-size: 16px;
        }
        &__type{
            font-size: 14px;
        }
    }
    .custom-select{
        font-size: 16px;
    }
}
@media screen and (max-width:568px){
    .field-wrapper,
    .range-field{
        padding-left:10px;
    }
    .field{
        &_checkbox{
            padding-left:10px;
        }
        &__label{
            margin-left:10px;
            font-size: 16px;
        }
    }
}
/* = MEDIA END = */