@import "../../../theme/variables.scss";
.error-box{
    padding-left:19px;
}
.search{
  background-color:$primary;
  position:relative;
  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

.category-decor{
    margin-bottom: 2vw;
    &__image{
        display: block;
        width: 90%;
        margin:0 auto;
        &_mobile{
            display: none;
        }
    }
}
.field{
    &_group{
        .field{
            width:47%;
        }
    }
}
.field_checkbox{
    padding-top:45px;
}
.flex-grid{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.tags-wrapper{
    display: flex;
    padding-left:19px;
    flex-wrap: wrap;
    &__item{
        border:1px solid $primary;
        border-radius:10px;
        padding:10px 15px;
        margin:25px 20px 0 0;
        position: relative;
    }
    &__label{
        color:$primary;
    }
    &__remove{
        width:20px;
        height:20px;
        background-color:$red;
        border-radius:50%;
        position:absolute;
        right:-10px;
        top:-5px;
    }
}

.salary-group{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}
/* = MEDIA = */
@media screen and (max-width:1500px){
    .form-wrapper{
        padding-left:5vw;
        padding-right:5vw;
    }
}

@media screen and (max-width:992px){
    .error-box{
        &__text{
            font-size:16px;
        }
    }
}
@media screen and (max-width:768px){
    .search{
        background-color:#ffffff;
    }
    .form-wrapper{
        padding:0;
    }
    .tags-wrapper{
        &__item{
            padding:5px 10px;
        }
        &__label{
            font-size: 16px;
        }
        &__remove{
            right: -10px;
            top: -10px;
            img{
                height: 10px;
            }
        }
    }
    .category-decor{
        margin-bottom:5vw;
            &__image{
                width: 80%;
                display: none;
                &_mobile{
                    display: block;
                }
            }
    }
    .field{
        width:100%;
        &_checkbox{
            padding:0 0 20px 19px;
        }
    }
    .checkbox-wrapper{
        padding:0;
    }
    ::ng-deep .ng-select-container .ng-input input {
        font-size: 16px;
    }
    .salary-group{
        .field{
            width:47%;
        }
    }
    .field-wrapper{
        &__input{
            font-size: 16px;
        }
        &__type{
            font-size: 14px;
        }
    }
    .custom-select{
        font-size: 16px;
    }
}
@media screen and (max-width:568px){
    .search{
        padding-bottom:25px;
    }
    .field-wrapper{
        padding-left:10px;
        &__placeholder{
            left: 10px;
            width: calc(100% - 65px);
            font-size: 14px;
        }
        &__input{
            &::placeholder{
                font-size: 14px;
            }
        }
    }
    .tags-wrapper{
        padding-left:10px;
    }
    ::ng-deep .ng-select-container{
        padding-left: 10px!important;
    }
    ::ng-deep .ng-select-container .ng-input {
        input{
            &::placeholder{
                font-size: 14px;
            }
        }
    }
    .field{
        &_checkbox{
            padding-left:10px;
        }
        &__label{
            margin-left:10px;
            font-size: 16px;
        }
    }
}
/* = MEDIA END = */
