<section class="professional-background">
  <div class="background">
    <img
      src="../assets/image/background-circle-01.png"
      class="background__circle background__circle_01">
    <img
      src="../assets/image/background-circle-02.png"
      class="background__circle background__circle_02">
  </div>
  <app-category-nav-header [navSettings]="navSettings"></app-category-nav-header>
  <div
    class="category-decor"
    *ngIf="!accordionsStatus">
    <div class="container">
      <img
        src="../assets/image/profile/professional-background/image-desktop.svg"
        class="category-decor__image">
      <img
        src="../assets/image/profile/professional-background/image-mobile.svg"
        class="category-decor__image category-decor__image_mobile">
    </div>
  </div>
  <div class="subcategory">
    <div class="container">
      <form
        class="form"
        [formGroup]="form"
        *ngIf="form">
        <div
          class="subcategory-item"
          formGroupName="workExperience">
          <mat-expansion-panel
            class="accordion"
            (opened)="accordionsStatus = true"
            (closed)="accordionChange()"
            #accordion01="matExpansionPanel">
            <mat-expansion-panel-header>
              <div class="subcategory-header">
                <div class="subcategory-info">
                  <img
                    src="../assets/image/profile/professional-background/subcategory-01.svg"
                    class="subcategory-info__icon">
                  <p class="subcategory-info__label">Anstellungsverhältnisse</p>
                </div>
                <img
                  src="../assets/image/profile/accordion-arrow.svg"
                  [ngClass]="{ 'accordion-active' : accordion01.expanded }"
                  class="subcategory-header__arrow">
              </div>
            </mat-expansion-panel-header>
            <ng-container formGroupName="employmentConditions">
              <div class="not-relevant">
                <div class="not-relevant__item">
                  <label class="checkbox-container">
                    Für mich nicht relevant
                    <input
                      type="checkbox"
                      class="not-relevant__checkbox"
                      (change)="notRelevant('workExperience', 'employmentConditionsArray', 'employmentConditions')"
                      formControlName="isNotRelevant">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div
                class="subcategory-content"
                formArrayName="items">
                <div
                  class="flex-grid"
                  *ngFor="let item of employmentConditionsArray.controls; let i = index"
                  [formGroupName]="i">
                  <div class="remove-fields">
                    <button
                      class="remove-fields__button"
                      (click)="remove('employmentConditionsArray', 'employmentConditions', i)">
                      <svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="remove-fields__icon">
                        <path d="M0.050293 0.050293L9.94979 9.94979M9.94979 0.050293L0.0502933 9.94979" stroke-width="2"
                              stroke-linecap="round"/>
                      </svg>
                    </button>
                  </div>
                  <div class="field">
                    <p class="field__label">Arbeitgeber</p>
                    <div class="field-wrapper">
                      <input
                        type="text"
                        placeholder="Arbeitgeber"
                        class="field-wrapper__input"
                        formControlName="company"
                        (change)="submit('Arbeitgeber')">
                      <div class="field-wrapper__type">abc</div>
                      <div
                        class="field-wrapper__status"
                        [ngClass]="{invalid : !this.form.get('workExperience').get('employmentConditions').get('items').controls[i].get('company').value}"></div>
                    </div>
                  </div>
                  <div class="field field_select field_select-search single">
                    <p class="field__label">Land</p>
                    <div class="field-wrapper">
                      <ng-select
                        [searchable]="true"
                        [items]="$countriesList | async"
                        [clearable]="false"
                        [placeholder]="'Land'"
                        (search)="getCountryList($event.term)"
                        (change)="submit('Land')"
                        class="custom-select"
                        formControlName="country">
                      </ng-select>
                      <div class="field-wrapper__type">abc</div>
                      <div
                        class="field-wrapper__status"
                        [ngClass]="{invalid : !this.form.get('workExperience').get('employmentConditions').get('items').controls[i].get('country').value}"></div>
                    </div>
                  </div>
                  <div class="field">
                    <p class="field__label">Arbeitsort</p>
                    <div class="field-wrapper">
                      <input
                        type="text"
                        placeholder="Arbeitsort"
                        class="field-wrapper__input"
                        formControlName="workPlace"
                        (change)="submit('Arbeitsort')">
                      <div class="field-wrapper__type">abc</div>
                      <div
                        class="field-wrapper__status"
                        [ngClass]="{invalid : !this.form.get('workExperience').get('employmentConditions').get('items').controls[i].get('workPlace').value}"></div>
                    </div>
                  </div>
                  <div class="field">
                    <p class="field__label">Geschäftsbereich</p>
                    <div class="field-wrapper">
                      <input
                        type="text"
                        placeholder="Geschäftsbereich"
                        class="field-wrapper__input"
                        formControlName="industryBranch"
                        (change)="submit('Geschäftsbereich')">
                      <div class="field-wrapper__type">abc</div>
                      <div
                        class="field-wrapper__status"
                        [ngClass]="{invalid : !this.form.get('workExperience').get('employmentConditions').get('items').controls[i].get('industryBranch').value}"></div>
                    </div>
                  </div>
                  <div class="field field_select field_select-search">
                    <p class="field__label">Branche</p>
                    <div class="field-wrapper">
                      <ng-select
                        #ba1
                        [items]="businessArea$ | async"
                        [multiple]="true"
                        [searchable]="true"
                        [clearable]="false"
                        [hideSelected]="true"
                        class="custom-select"
                        (search)="searchBusinessArea($event)"
                        (change)="formArrayPush($event, 'employmentConditionsArray', 'businessArea', i)"
                        [formControl]="businessAreaControl">
                      </ng-select>
                      <div class="field-wrapper__type">abc</div>
                      <div
                        [ngClass]="{invalid : this.form.get('workExperience').get('employmentConditions').get('items').controls[i].get('businessArea').value.length === 0}"
                        class="field-wrapper__status"></div>
                    </div>
                    <div class="tags-wrapper">
                      <div
                        formArrayName="businessArea"
                        *ngFor="let item of form.get('workExperience').get('employmentConditions').get('items').controls[i].get('businessArea').controls; let indexArr = index;"
                        class="tags-wrapper__item">
                        <p class="tags-wrapper__label">{{item.value}}</p>
                        <button
                          class="tags-wrapper__remove"
                          (click)="formArrayRemove(i, indexArr,'employmentConditionsArray', 'businessArea', 'Branche')">
                          <img src="../assets/image/close.svg">
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="field field_select">
                    <p class="field__label">Art der Anstellung</p>
                    <div class="field-wrapper">
                      <ng-select
                        [searchable]="false"
                        [clearable]="false"
                        [hideSelected]="true"
                        placeholder="Art der Anstellung"
                        class="custom-select"
                        formControlName="employmentType"
                        (change)="submit('Art der Anstellung')">
                        <ng-container *ngIf="dropdownOptions">
                          <ng-option
                            *ngFor="let option of dropdownOptions.employment_type"
                            [value]="option">
                            {{option}}
                          </ng-option>
                        </ng-container>
                      </ng-select>
                      <div
                        class="field-wrapper__status"
                        [ngClass]="{invalid : !this.form.get('workExperience').get('employmentConditions').get('items').controls[i].get('employmentType').value}"></div>
                    </div>
                  </div>
                  <div class="field-group">
                    <div class="field field_select">
                      <p class="field__label">Karrierelevel</p>
                      <div class="field-wrapper">
                        <ng-select
                          [searchable]="false"
                          [clearable]="false"
                          [hideSelected]="true"
                          placeholder="Karrierelevel"
                          class="custom-select"
                          formControlName="careerLevel"
                          (change)="submit('Karrierelevel')">
                          <ng-container *ngIf="dropdownOptions">
                            <ng-option
                              *ngFor="let option of dropdownOptions.career_level"
                              [value]="option">
                              {{option}}
                            </ng-option>
                          </ng-container>
                        </ng-select>
                        <div
                          class="field-wrapper__status"
                          [ngClass]="{invalid : !this.form.get('workExperience').get('employmentConditions').get('items').controls[i].get('careerLevel').value}"></div>
                      </div>
                    </div>
                    <div class="field">
                      <p class="field__label">Job Bezeichnung</p>
                      <div class="field-wrapper">
                        <input
                          type="text"
                          placeholder="Job Bezeichnung"
                          class="field-wrapper__input"
                          formControlName="jobTitle"
                          (change)="submit('Job Bezeichnung')">
                        <div class="field-wrapper__type">abc</div>
                        <div
                          class="field-wrapper__status"
                          [ngClass]="{invalid : !this.form.get('workExperience').get('employmentConditions').get('items').controls[i].get('jobTitle').value}"></div>
                      </div>
                    </div>
                  </div>
                  <div class="field field_textarea">
                    <p class="field__label">Beschreibung</p>
                    <div class="field-wrapper textarea">
                      <textarea
                        placeholder="Beschreibung"
                        class="field-wrapper__input"
                        rows="8"
                        formControlName="descriptions"
                        (change)="submit('Beschreibung')"></textarea>
                      <div class="field-wrapper__type">abc</div>
                      <div
                        class="field-wrapper__status"
                        [ngClass]="{invalid : !this.form.get('workExperience').get('employmentConditions').get('items').controls[i].get('descriptions').value}"></div>
                    </div>
                  </div>
                  <div class="field field-group">
                    <div class="datepicker-group">
                      <div class="field field_datapicker">
                        <p class="field__label">Von</p>
                        <div
                          class="field-wrapper"
                          [owlDateTimeTrigger]="dt1">
                          <input
                            [owlDateTime]="dt1"
                            [max]="previousDate"
                            class="field-wrapper__input"
                            formControlName="dateStart"
                            placeholder="DD/MM/YYYY"
                            (dateTimeChange)="submit('Von')">
                          <owl-date-time
                            #dt1
                            pickerMode="dialog"
                            pickerType="calendar"
                            panelClass="calendar"></owl-date-time>
                          <div class="field-wrapper__type">
                            <img src="../assets/image/calendar.svg">
                          </div>
                          <div
                            class="field-wrapper__status"
                            [ngClass]="{invalid : !this.form.get('workExperience').get('employmentConditions').get('items').controls[i].get('dateStart').value}"></div>
                        </div>
                      </div>
                      <div class="field field_datapicker">
                        <p class="field__label">Bis</p>
                        <div
                          class="field-wrapper"
                          [owlDateTimeTrigger]="dt2">
                          <input
                            [owlDateTime]="dt2"
                            [max]="currentDate"
                            class="field-wrapper__input"
                            formControlName="dateEnd"
                            placeholder="DD/MM/YYYY"
                            (dateTimeChange)="submit('Bis')">
                          <owl-date-time
                            #dt2
                            pickerMode="dialog"
                            pickerType="calendar"
                            panelClass="calendar"></owl-date-time>
                          <div class="field-wrapper__type">
                            <img src="../assets/image/calendar.svg">
                          </div>
                          <div
                            class="field-wrapper__status"
                            [ngClass]="{invalid : !this.form.get('workExperience').get('employmentConditions').get('items').controls[i].get('dateEnd').value}"></div>
                        </div>
                      </div>
                      <div class="datapicker-checkbox">
                        <label class="checkbox-container">
                          bis heute
                          <input
                            type="checkbox"
                            class="not-relevant__checkbox"
                            (change)="setTodayDate(this.form.get('workExperience').get('employmentConditions').get('items').controls[i])"
                            formControlName="tilToday">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="add-fields">
                  <button
                    class="add-fields__button"
                    (click)="setFormGroup('employmentConditions')">
                    <img src="../assets/image/plus.svg">
                  </button>
                </div>
              </div>
            </ng-container>
          </mat-expansion-panel>
          <div
            class="subcategory-preview"
            *ngIf="!accordion01.expanded">
            <div
              class="subcategory-preview-item"
              *ngFor="let item of employmentConditionsArray.value; let i = index">
              <ng-container>
                <div class="subcategory-preview-info">
                  <p class="subcategory-preview-info__number">
                    <span class="subcategory-preview-info__text">{{ i + 1 }}</span>
                  </p>
                  <div class="subcategory-preview-info__details">
                    <p class="subcategory-preview-info__species">{{ item.company }}</p>
                    <div class="subcategory-preview-info__circle"></div>
                    <p class="subcategory-preview-info__date">08/2005 - 02/2009</p>
                    <div class="subcategory-preview-info__circle"></div>
                    <p class="subcategory-preview-info__scope">{{ item.employmentType }}</p>
                  </div>
                </div>
                <button
                  class="subcategory-preview-item__remove"
                  (click)="remove('employmentConditionsArray', 'employmentConditions', i)">
                  <img src="../assets/image/close.svg">
                </button>
              </ng-container>
            </div>
          </div>
        </div>
        <div
          class="subcategory-item"
          formGroupName="workExperience">
          <mat-expansion-panel
            class="accordion"
            (opened)="accordionsStatus = true"
            (closed)="accordionChange()"
            #accordion02="matExpansionPanel">
            <mat-expansion-panel-header>
              <div class="subcategory-header">
                <div class="subcategory-info">
                  <img
                    src="../assets/image/profile/professional-background/subcategory-02.svg"
                    class="subcategory-info__icon">
                  <p class="subcategory-info__label">Selbständigkeit</p>
                </div>
                <img
                  src="../assets/image/profile/accordion-arrow.svg"
                  [ngClass]="{ 'accordion-active' : accordion02.expanded }"
                  class="subcategory-header__arrow">
              </div>
            </mat-expansion-panel-header>
            <ng-container formGroupName="independentExperience">
              <div class="not-relevant">
                <div class="not-relevant__item">
                  <label class="checkbox-container">
                    Für mich nicht relevant
                    <input
                      type="checkbox"
                      class="not-relevant__checkbox"
                      (change)="notRelevant('workExperience', 'independentExperienceArray', 'independentExperience')"
                      formControlName="isNotRelevant">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div
                class="subcategory-content"
                formArrayName="items">
                <div
                  class="flex-grid"
                  *ngFor="let item of independentExperienceArray.controls; let i = index"
                  [formGroupName]="i">
                  <div class="remove-fields">
                    <button
                      class="remove-fields__button"
                      (click)="remove('independentExperienceArray', 'independentExperience', i)">
                      <svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="remove-fields__icon">
                        <path d="M0.050293 0.050293L9.94979 9.94979M9.94979 0.050293L0.0502933 9.94979" stroke-width="2"
                              stroke-linecap="round"/>
                      </svg>
                    </button>
                  </div>
                  <div class="field">
                    <p class="field__label">Bezeichnung</p>
                    <div class="field-wrapper">
                      <input
                        type="text"
                        placeholder="Bezeichnung"
                        class="field-wrapper__input"
                        formControlName="jobTitle"
                        (change)="submit('Bezeichnung')">
                      <div class="field-wrapper__type">abc</div>
                      <div
                        class="field-wrapper__status"
                        [ngClass]="{invalid : !this.form.get('workExperience').get('independentExperience').get('items').controls[i].get('jobTitle').value}"></div>
                    </div>
                  </div>
                  <div class="field">
                    <p class="field__label">Name der Firma</p>
                    <div class="field-wrapper">
                      <input
                        type="text"
                        placeholder="Name der Firma"
                        class="field-wrapper__input"
                        formControlName="companyName"
                        (change)="submit('Name der Firma')">
                      <div class="field-wrapper__type">abc</div>
                      <div
                        class="field-wrapper__status"
                        [ngClass]="{invalid : !this.form.get('workExperience').get('independentExperience').get('items').controls[i].get('companyName').value}"></div>
                    </div>
                  </div>
                  <div class="field field_checkbox">
                    <label class="checkbox-container">
                      Freiberufler
                      <input
                        type="checkbox"
                        class="not-relevant__checkbox"
                        (change)="submit('Freiberufler')"
                        formControlName="isFreelancer">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="field field_select field_select-search">
                    <p class="field__label">Branche</p>
                    <div class="field-wrapper">
                      <ng-select
                        #ba2
                        [items]="businessArea$ | async"
                        [multiple]="true"
                        [searchable]="true"
                        [clearable]="false"
                        [hideSelected]="true"
                        class="custom-select"
                        (search)="searchBusinessArea($event)"
                        [formControl]="independentBusinessAreaControl"
                        (change)="formArrayPush($event, 'independentExperienceArray', 'businessArea', i)">
                      </ng-select>
                      <div
                        [ngClass]="{invalid : form.get('workExperience').get('independentExperience').get('items').controls[i].get('businessArea').value.length === 0}"
                        class="field-wrapper__status"></div>
                    </div>
                    <div class="tags-wrapper">
                      <div
                        formArrayName="businessArea"
                        *ngFor="let item of form.get('workExperience').get('independentExperience').get('items').controls[i].get('businessArea').controls; let indexArr = index;"
                        class="tags-wrapper__item">
                        <p class="tags-wrapper__label">{{item.value}}</p>
                        <button
                          class="tags-wrapper__remove"
                          (click)="formArrayRemove(i, indexArr,'independentExperienceArray','businessArea', 'Branche')">
                          <img src="../assets/image/close.svg">
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="field field_select field_select-search single">
                    <p class="field__label">Land</p>
                    <div class="field-wrapper">
                      <ng-select
                        [searchable]="true"
                        [items]="$countriesList | async"
                        [clearable]="false"
                        [placeholder]="'Land'"
                        (search)="getCountryList($event.term)"
                        (change)="submit('Land')"
                        class="custom-select"
                        formControlName="country">
                      </ng-select>
                      <div class="field-wrapper__type">abc</div>
                      <div
                        class="field-wrapper__status"
                        [ngClass]="{invalid : !this.form.get('workExperience').get('independentExperience').get('items').controls[i].get('country').value}"></div>
                    </div>
                  </div>
                  <div class="field field_group">
                    <div class="field field_select field_select-search single"
                         [ngClass]="{disabled : !this.form.get('workExperience').get('independentExperience').get('items').controls[i].get('country').value}">
                      <p class="field__label">Ort</p>
                      <div class="field-wrapper">
                        <ng-select
                          [searchable]="true"
                          [items]="$citiesList | async"
                          [clearable]="false"
                          [placeholder]="'Ort'"
                          (search)="getCityList($event.term)"
                          (change)="submit('Ort')"
                          class="custom-select"
                          formControlName="workPlace">
                        </ng-select>
                        <div class="field-wrapper__type">abc</div>
                        <div
                          class="field-wrapper__status"
                          [ngClass]="{invalid : !this.form.get('workExperience').get('independentExperience').get('items').controls[i].get('country').value}">
                        </div>
                      </div>
                    </div>
                    <div class="datepicker-group">
                      <div class="field field_datapicker">
                        <p class="field__label">Von</p>
                        <div
                          class="field-wrapper"
                          [owlDateTimeTrigger]="dt1">
                          <input
                            [owlDateTime]="dt1"
                            [max]="previousDate"
                            (dateTimeChange)="submit('Von')"
                            class="field-wrapper__input"
                            formControlName="dateStart"
                            placeholder="DD/MM/YYYY">
                          <owl-date-time
                            #dt1
                            pickerMode="dialog"
                            pickerType="calendar"
                            panelClass="calendar"></owl-date-time>
                          <div class="field-wrapper__type">
                            <img src="../assets/image/calendar.svg">
                          </div>
                          <div
                            [ngClass]="{invalid : !form.get('workExperience').get('independentExperience').get('items').controls[i].get('dateStart').value }"
                            class="field-wrapper__status"></div>
                        </div>
                      </div>
                      <div class="field field_datapicker">
                        <p class="field__label">Bis</p>
                        <div
                          class="field-wrapper"
                          [owlDateTimeTrigger]="dt2">
                          <input
                            [owlDateTime]="dt2"
                            [max]="currentDate"
                            (dateTimeChange)="submit('Bis')"
                            class="field-wrapper__input"
                            formControlName="dateEnd"
                            placeholder="DD/MM/YYYY">
                          <owl-date-time
                            #dt2
                            pickerMode="dialog"
                            pickerType="calendar"
                            panelClass="calendar"></owl-date-time>
                          <div class="field-wrapper__type">
                            <img src="../assets/image/calendar.svg">
                          </div>
                          <div
                            [ngClass]="{invalid : !form.get('workExperience').get('independentExperience').get('items').controls[i].get('dateEnd').value }"
                            class="field-wrapper__status"></div>
                        </div>
                      </div>
                      <div class="datapicker-checkbox">
                        <label class="checkbox-container">
                          bis heute
                          <input
                            type="checkbox"
                            class="not-relevant__checkbox"
                            (change)="submit('bis heute')"
                            formControlName="tilToday">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="field field_textarea">
                    <p class="field__label">Beschreibung</p>
                    <div class="field-wrapper">
                      <textarea
                        type="text"
                        placeholder="Beschreibung"
                        class="field-wrapper__input"
                        formControlName="jobDescription"
                        (change)="submit('Beschreibung')"></textarea>
                      <div class="field-wrapper__type">abc</div>
                      <div
                        [ngClass]="{invalid : !this.form.get('workExperience').get('independentExperience').get('items').controls[i].get('jobDescription').value}"
                        class="field-wrapper__status"></div>
                    </div>
                  </div>
                </div>
                <div class="add-fields">
                  <button
                    class="add-fields__button"
                    (click)="setFormGroup('independentExperience')">
                    <img src="../assets/image/plus.svg">
                  </button>
                </div>
              </div>
            </ng-container>
          </mat-expansion-panel>
          <div
            class="subcategory-preview"
            *ngIf="!accordion02.expanded">
            <div
              class="subcategory-preview-item"
              *ngFor="let item of independentExperienceArray.value; let i = index">
              <ng-container>
                <div class="subcategory-preview-info">
                  <p class="subcategory-preview-info__number">
                    <span class="subcategory-preview-info__text">{{ i + 1 }}</span>
                  </p>
                  <p class="subcategory-preview-info__species">{{ item.jobTitle }}</p>
                  <div class="subcategory-preview-info__circle"></div>
                  <p class="subcategory-preview-info__date">08/2005 - 02/2009</p>
                  <div class="subcategory-preview-info__circle"></div>
                  <p class="subcategory-preview-info__scope">{{ item.companyName }}</p>
                </div>
                <button
                  class="subcategory-preview-item__remove"
                  (click)="remove('independentExperienceArray', 'independentExperience', i)">
                  <img src="../assets/image/close.svg">
                </button>
              </ng-container>
            </div>
          </div>
        </div>
        <div
          class="subcategory-item"
          formGroupName="workExperience">
          <mat-expansion-panel
            class="accordion"
            (opened)="accordionsStatus = true"
            (closed)="accordionChange()"
            #accordion03="matExpansionPanel">
            <mat-expansion-panel-header>
              <div class="subcategory-header">
                <div class="subcategory-info">
                  <img
                    src="../assets/image/profile/professional-background/subcategory-03.svg"
                    class="subcategory-info__icon">
                  <p class="subcategory-info__label">Sonstige Stationen</p>
                </div>
                <img
                  src="../assets/image/profile/accordion-arrow.svg"
                  [ngClass]="{ 'accordion-active' : accordion02.expanded }"
                  class="subcategory-header__arrow">
              </div>
            </mat-expansion-panel-header>
            <ng-container formGroupName="otherExperience">
              <div class="not-relevant">
                <div class="not-relevant__item">
                  <label class="checkbox-container">
                    Für mich nicht relevant
                    <input
                      type="checkbox"
                      class="not-relevant__checkbox"
                      (change)="notRelevant('workExperience', 'otherExperienceArray', 'otherExperience')"
                      formControlName="isNotRelevant">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div
                class="subcategory-content"
                formArrayName="items">
                <div
                  class="flex-grid"
                  *ngFor="let item of otherExperienceArray.controls; let i = index"
                  [formGroupName]="i">
                  <div class="remove-fields">
                    <button
                      class="remove-fields__button"
                      (click)="remove('otherExperienceArray', 'otherExperienc', i)">
                      <svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" class="remove-fields__icon">
                        <path d="M0.050293 0.050293L9.94979 9.94979M9.94979 0.050293L0.0502933 9.94979" stroke-width="2"
                              stroke-linecap="round"/>
                      </svg>
                    </button>
                  </div>
                  <div class="field">
                    <p class="field__label">Bezeichnung</p>
                    <div class="field-wrapper">
                      <input
                        type="text"
                        placeholder="Bezeichnung"
                        class="field-wrapper__input"
                        formControlName="jobTitle"
                        (change)="submit('Bezeichnung')">
                      <div class="field-wrapper__type">abc</div>
                      <div
                        class="field-wrapper__status"
                        [ngClass]="{invalid : !this.form.get('workExperience').get('otherExperience').get('items').controls[i].get('jobTitle').value}"></div>
                    </div>
                  </div>
                  <div class="field field_select field_select-search single">
                    <p class="field__label">Land</p>
                    <div class="field-wrapper">
                      <ng-select
                        [searchable]="true"
                        [items]="$countriesList | async"
                        [clearable]="false"
                        [placeholder]="'Land'"
                        (search)="getCountryList($event.term)"
                        (change)="submit('Land')"
                        class="custom-select"
                        formControlName="country">
                      </ng-select>
                      <div class="field-wrapper__type">abc</div>
                      <div
                        class="field-wrapper__status"
                        [ngClass]="{invalid : !this.form.get('workExperience').get('otherExperience').get('items').controls[i].get('country').value}"></div>
                    </div>
                  </div>
                  <div class="field field_group">
                    <div class="field">
                      <p class="field__label">Ort</p>
                      <div class="field-wrapper">
                        <input
                          type="text"
                          placeholder="Ort"
                          class="field-wrapper__input"
                          formControlName="workPlace"
                          (change)="submit('Ort')">
                        <div class="field-wrapper__type">abc</div>
                        <div
                          class="field-wrapper__status"
                          [ngClass]="{invalid : !this.form.get('workExperience').get('otherExperience').get('items').controls[i].get('workPlace').value}"></div>
                      </div>
                    </div>
                    <div class="datepicker-group">
                      <div class="field field_datapicker">
                        <p class="field__label">Von</p>
                        <div
                          class="field-wrapper"
                          [owlDateTimeTrigger]="dt1">
                          <input
                            [owlDateTime]="dt1"
                            [max]="previousDate"
                            (dateTimeChange)="submit('Von')"
                            class="field-wrapper__input"
                            formControlName="dateStart"
                            placeholder="DD/MM/YYYY">
                          <owl-date-time
                            #dt1
                            pickerMode="dialog"
                            pickerType="calendar"
                            panelClass="calendar"></owl-date-time>
                          <div class="field-wrapper__type">
                            <img src="../assets/image/calendar.svg">
                          </div>
                          <div
                            [ngClass]="{invalid : !form.get('workExperience').get('otherExperience').get('items').controls[i].get('dateStart').value }"
                            class="field-wrapper__status"></div>
                        </div>
                      </div>
                      <div class="field field_datapicker">
                        <p class="field__label">Bis</p>
                        <div
                          class="field-wrapper"
                          [owlDateTimeTrigger]="dt2">
                          <input
                            [owlDateTime]="dt2"
                            [max]="currentDate"
                            (dateTimeChange)="submit('Bis')"
                            class="field-wrapper__input"
                            formControlName="dateEnd"
                            placeholder="DD/MM/YYYY">
                          <owl-date-time
                            #dt2
                            pickerMode="dialog"
                            pickerType="calendar"
                            panelClass="calendar"></owl-date-time>
                          <div class="field-wrapper__type">
                            <img src="../assets/image/calendar.svg">
                          </div>
                          <div
                            [ngClass]="{invalid : !form.get('workExperience').get('otherExperience').get('items').controls[i].get('dateEnd').value }"
                            class="field-wrapper__status"></div>
                        </div>
                      </div>
                      <div class="datapicker-checkbox">
                        <label class="checkbox-container">
                          bis heute
                          <input
                            type="checkbox"
                            class="not-relevant__checkbox"
                            (change)="submit('bis heute')"
                            formControlName="tilToday">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="field field_textarea">
                    <p class="field__label">Beschreibung</p>
                    <div class="field-wrapper">
                      <textarea
                        type="text"
                        placeholder="Beschreibung"
                        class="field-wrapper__input"
                        formControlName="jobDescription"
                        (change)="submit('Beschreibung')"></textarea>
                      <div class="field-wrapper__type">abc</div>
                      <div
                        [ngClass]="{invalid : !this.form.get('workExperience').get('otherExperience').get('items').controls[i].get('jobDescription').value}"
                        class="field-wrapper__status"></div>
                    </div>
                  </div>
                </div>
                <div class="add-fields">
                  <button
                    class="add-fields__button"
                    (click)="setFormGroup('otherExperience')">
                    <img src="../assets/image/plus.svg">
                  </button>
                </div>
              </div>
            </ng-container>
          </mat-expansion-panel>
          <div
            class="subcategory-preview"
            *ngIf="!accordion03.expanded">
            <div
              class="subcategory-preview-item"
              *ngFor="let item of otherExperienceArray.value; let i = index">
              <ng-container>
                <div class="subcategory-preview-info">
                  <p class="subcategory-preview-info__number">
                    <span class="subcategory-preview-info__text">{{ i + 1 }}</span>
                  </p>
                  <div class="subcategory-preview-info__details">
                    <p class="subcategory-preview-info__species">{{ item.jobTitle }}</p>
                    <div class="subcategory-preview-info__circle"></div>
                    <p class="subcategory-preview-info__date">08/2005 - 02/2009</p>
                    <div class="subcategory-preview-info__circle"></div>
                    <p class="subcategory-preview-info__scope">{{ item.companyName }}</p>
                  </div>
                </div>
                <button
                  class="subcategory-preview-item__remove"
                  (click)="remove('otherExperienceArray', 'otherExperience', i)">
                  <img src="../assets/image/close.svg">
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
