<h2
  class="auth-title"
  [ngClass]="{'auth-title_hide' : titleStatus}">Einloggen mit E-Mail</h2>
<form
  class="form"
  [formGroup]="form"
  (ngSubmit)="submit()">
  <div class="form-item">
    <p class="form-item__label">E-Mail</p>
    <div class="form-field">
      <input
        formControlName="email"
        #email
        (blur)="triggerValidation('email')"
        (input)="hideCredentialsError()"
        placeholder="E-Mail Adress eingeben"
        type="email"
        class="form-field__input">
      <div class="form-field-type">
        <p class="form-field-type__text">abc</p>
      </div>
    </div>
    <div
      class="error-box"
      *ngIf="(form.get('email').touched || form.get('email').dirty) && form.get('email').invalid && validationError.email">
      <p
        class="error-box__text"
        *ngIf="form.get('email').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
      <p
        class="error-box__text"
        *ngIf="form.get('email').hasError('invalidEmailAddress') && !form.get('email').hasError('required')">{{ 'local_error.INVALID_EMAIL' | translate }}</p>
    </div>
  </div>
  <div class="form-item">
    <p class="form-item__label">Passwort</p>
    <div class="form-field">
      <input
        formControlName="password"
        #password
        (blur)="triggerValidation('password')"
        (input)="hideCredentialsError()"
        [type]="showPass ? 'text' : 'password'"
        placeholder="Passwort eingeben"
        class="form-field__input"
        [ngClass]="{'input-valid': form.get('password').valid}">
      <div class="form-field-type">
        <button
          type="button"
          class="show-pass-button"
          (click)="showPassword()">
          <img
            src="../assets/image/eye.svg"
            alt
            class="show-pass-button__icon">
        </button>
      </div>
    </div>
    <div
      class="error-box"
      *ngIf="(form.get('password').touched || form.get('password').dirty) && form.get('password').invalid && validationError.password">
      <p
        class="error-box__text"
        *ngIf="form.get('password').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
      <p
        class="error-box__text"
        *ngIf="form.value.password && form.get('password').hasError('minlength')">{{ 'local_error.LENGTH_PASS' | translate }}</p>
    </div>
  </div>
  <div class="incorrect-credentials-wrapper">
    <p
      class="incorrect-credentials-wrapper__text"
      *ngIf="incorrectCredentials">
            Emailadresse oder Passwort falsch
          </p>
  </div>
  <button
    type="submit"
    [disabled]="!form.valid || incorrectCredentials"
    class="form-submit-button">
    {{ 'login.SIGN_IN_BUTTON' | translate }}
  </button>
</form>
<div class="data-reset">
  <button class="data-reset__button data-reset__button_email">E-Mail</button>
  <span>/</span>
  <button
    class="data-reset__button data-reset__button_password"
    (click)="goToRouter('auth/password-reset')">
    Passwort vergessen
  </button>
</div>
<button class="create-account-button" (click)="goToRouter('auth/registration')">Account erstellen</button>
