<section class="registration">
  <form
      *ngIf="form && !registrationStatus"
      [formGroup]="form"
      (ngSubmit)="submit()">
      <div class="step-form step-form_01" [ngClass]="{animation : lastStep}">
        <h2 class="step-form__title">
          Hi! Wir sind beint. <br>
          Wir freuen uns, dass Du da bist!
        </h2>
        <h3 class="step-form__title-strong">
          Mit beint wird Bewerben für dich <br>
          zum Kinderspiel.
        </h3>
        <div class="steps">
          <div class="steps-item">
            <div class="steps-item__circle">
              <img class="steps-item__icon" src="../assets/image/registration/icon-01.svg" alt="">
            </div>
            <p class="steps-item__text">Registrieren</p>
          </div>
          <div class="steps-item">
            <div class="steps-item__circle">
              <img class="steps-item__icon" src="../assets/image/registration/icon-02.svg" alt="">
            </div>
            <p class="steps-item__text">
              Profil <br>
              vervollständigen
            </p>
          </div>
          <div class="steps-item">
            <div class="steps-item__circle">
              <img class="steps-item__icon" src="../assets/image/registration/icon-03.svg" alt="">
            </div>
            <p class="steps-item__text">
              Mit wenigen <br>
              Klicks bewerben
            </p>
          </div>
        </div>
        <h3 class="step-form__subtitle">
          Zu Beginn brauchen wir Deine  <br>
          Log-in Daten
        </h3>
        <p class="step-form__steps">(Schritt 1/2)</p>
        <div class="form-item">
          <p class="form-item__label">E-Mail</p>
          <div class="form-field">
            <input
              (blur)="triggerValidation('email')"
              formControlName="email"
              placeholder="E-Mail Adress eingeben"
              type="email"
              class="form-field__input">
            <div class="form-field-type">
              <p class="form-field-type__text">abc</p>
            </div>
          </div>
          <div
            class="error-box"
            *ngIf="(form.get('email').touched || form.get('email').dirty) && form.get('email').invalid && validationError.email">
            <p
              class="error-box__text"
              *ngIf="form.get('email').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
            <p
              class="error-box__text"
              *ngIf="form.get('email').hasError('invalidEmailAddress') && !form.get('email').hasError('required')">{{ 'local_error.INVALID_EMAIL' | translate }}</p>
          </div>
        </div>
        <div class="form-item">
          <p class="form-item__label">Passwort</p>
          <div class="form-field">
            <input
              (blur)="triggerValidation('password')"
              formControlName="password"
              placeholder="Passwort eingeben"
              [type]="passwordShow ? 'password' : 'text'"
              class="form-field__input">
            <div class="form-field-type">
              <p
                class="form-field-type__text"
                *ngIf="!form.get('password').value">abc</p>
              <button
                *ngIf="form.get('password').value && form.hasError('mismatchedPasswords')"
                type="button"
                class="show-pass-button"
                (click)="showPassword('password')">
                <img
                  src="../assets/image/eye.svg"
                  alt
                  class="show-pass-button__icon">
              </button>
              <svg viewBox="0 0 19 13" xmlns="http://www.w3.org/2000/svg" class="form-field-type__valid" *ngIf="form.get('password').valid && !form.hasError('mismatchedPasswords')">
                <path d="M6.88819 12.9157C6.67486 12.9157 6.47032 12.8317 6.31979 12.6802L0.235486 6.59545C-0.0784952 6.28239 -0.0784952 5.77309 0.235486 5.45911C0.549928 5.14467 1.05922 5.14559 1.37228 5.45911L6.88819 10.9755L17.6286 0.235486C17.9408 -0.0784952 18.4524 -0.0784952 18.7645 0.235486C19.0785 0.549467 19.0785 1.0583 18.7645 1.37228L7.45658 12.6802C7.3056 12.8317 7.10151 12.9157 6.88819 12.9157Z"/>
              </svg>
            </div>
          </div>
          <div
            class="error-box"
            *ngIf="(form.get('password').touched || form.get('password').dirty) && form.get('password').invalid && validationError.password">
            <p
              class="error-box__text"
              *ngIf="form.get('password').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
            <p
              class="error-box__text"
              *ngIf="form.value.password && form.get('password').hasError('minlength')">{{ 'local_error.LENGTH_PASS' | translate }}</p>
          </div>
        </div>
        <div class="form-item">
          <p class="form-item__label">Passwort bestätigen</p>
          <div class="form-field">
            <input
              (blur)="triggerValidation('confirmPassword')"
              formControlName="confirmPassword"
              [type]="confirmPasswordShow ? 'password' : 'text'"
              placeholder="Passwort bestätigen"
              class="form-field__input">
            <div class="form-field-type">
              <p
                class="form-field-type__text"
                *ngIf="!form.get('confirmPassword').value">abc</p>
              <button
                *ngIf="form.get('confirmPassword').value && form.hasError('mismatchedPasswords')"
                type="button"
                class="show-pass-button"
                (click)="showPassword('confirmPassword')">
                <img
                  src="../assets/image/eye.svg"
                  alt
                  class="show-pass-button__icon">
              </button>
              <svg viewBox="0 0 19 13" xmlns="http://www.w3.org/2000/svg" class="form-field-type__valid" *ngIf="form.get('confirmPassword').valid && !form.hasError('mismatchedPasswords')">
                <path d="M6.88819 12.9157C6.67486 12.9157 6.47032 12.8317 6.31979 12.6802L0.235486 6.59545C-0.0784952 6.28239 -0.0784952 5.77309 0.235486 5.45911C0.549928 5.14467 1.05922 5.14559 1.37228 5.45911L6.88819 10.9755L17.6286 0.235486C17.9408 -0.0784952 18.4524 -0.0784952 18.7645 0.235486C19.0785 0.549467 19.0785 1.0583 18.7645 1.37228L7.45658 12.6802C7.3056 12.8317 7.10151 12.9157 6.88819 12.9157Z"/>
              </svg>
            </div>
          </div>
          <div
            class="error-box"
            *ngIf="(form.get('confirmPassword').touched || form.get('confirmPassword').dirty) && (form.get('confirmPassword').invalid || form.hasError('mismatchedPasswords')) && validationError.confirmPassword">
            <p
              class="error-box__text"
              *ngIf="form.get('confirmPassword').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
            <p
              class="error-box__text"
              *ngIf="form.value.confirmPassword && form.get('confirmPassword').hasError('minlength')">{{ 'local_error.LENGTH_PASS' | translate }}</p>
            <p
              class="error-box__text center"
              *ngIf="form.get('password').valid && form.get('confirmPassword').valid && form.hasError('mismatchedPasswords')">
            Dein beiden Paswörter stimmen nicht überein
          </p>
          </div>
        </div>
        <div class="steps-navigation">
          <div class="privacy-policy">
              <p class="privacy-policy__text">
                Mit der Registrierung akzeptiere ich die <br>
                <span class="privacy-policy__details"
                      (click)="onOpenAgb()">AGB</span>
                und habe die
                <span
                  class="privacy-policy__details"
                  (click)="onOpenPrivacyDialog()">
                  Datenschutzerklärung
                </span>
                <br>
                zur Kenntnis genommen
              </p>
          </div>
          <button 
            type="button" 
            class="steps-navigation__button"
            (click)="onChangeState()"
            [disabled]="!form.get('email').valid || !form.get('password').valid || 
                        !form.get('confirmPassword').valid || form.hasError('mismatchedPasswords')">
            Weiter
            <svg viewBox="0 0 21 15"  xmlns="http://www.w3.org/2000/svg">
              <path d="M11.3109 13.8764C10.9118 14.4295 10.0883 14.4295 9.68912 13.8764L0.818707 1.58521C0.341408 0.923842 0.813982 0 1.62959 0H19.3704C20.186 0 20.6586 0.923841 20.1813 1.58521L11.3109 13.8764Z"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="step-form step-form_02" [ngClass]="{animation : lastStep}">
        <h3 class="step-form__subtitle">
            Nun noch ein paar wenige <br> 
            persönliche Angaben
        </h3>
        <p class="step-form__steps">(Schritt 2/2)</p>
        <div class="form-item">
          <p class="form-item__label">Vorname</p>
          <div class="form-field">
            <input
              (blur)="triggerValidation('firstName')"
              formControlName="firstName"
              placeholder="Vorname"
              type="text"
              class="form-field__input">
            <div class="form-field-type">
              <p class="form-field-type__text">abc</p>
            </div>
          </div>
          <div
            class="error-box"
            *ngIf="(form.get('firstName').touched || form.get('firstName').dirty) && form.get('firstName').invalid && validationError.firstName">
            <p
              class="error-box__text"
              *ngIf="form.get('firstName').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
          </div>
        </div>
        <div class="form-item">
          <p class="form-item__label">Nachname</p>
          <div class="form-field">
            <input
              (blur)="triggerValidation('lastName')"
              formControlName="lastName"
              placeholder="Nachname"
              type="text"
              class="form-field__input">
            <div class="form-field-type">
              <p class="form-field-type__text">abc</p>
            </div>
          </div>
          <div
            class="error-box"
            *ngIf="(form.get('lastName').touched || form.get('lastName').dirty) && form.get('lastName').invalid && validationError.lastName">
            <p
              class="error-box__text"
              *ngIf="form.get('lastName').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
          </div>
        </div>
        <div class="form-item">
          <p class="form-item__label">Land</p>
          <div class="form-field form-field_select field_select-search single clearable">
            <ng-select
                [items]="landList$ | async"
                [multiple]="false"
                [placeholder]="'Land'"
                [virtualScroll]="true"
                formControlName="country"
                (change)="selectionResidence($event, form.get('placeOfResidence'))"
                class="form-field__input custom-select">
            </ng-select>
            <div class="form-field-type">
              <p class="form-field-type__text">abc</p>
            </div>
          </div>
          <div
            class="error-box"
            *ngIf="(form.get('country').touched || form.get('country').dirty) && form.get('country').invalid">
            <p
              class="error-box__text"
              *ngIf="form.get('country').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
          </div>
        </div>
        <div class="form-item" [ngClass]="{'invalid': form.get('country').invalid}">
          <p class="form-item__label">Wohnort</p>
          <div class="form-field form-field_select field_select-search single clearable">
            <ng-select
                [items]="cityArray"
                [multiple]="false"
                [placeholder]="'Wohnort'"
                [virtualScroll]="true"
                formControlName="placeOfResidence"
                class="form-field__input custom-select">
            </ng-select>
            <div class="form-field-type">
              <p class="form-field-type__text">abc</p>
            </div>
          </div>
          <div
            class="error-box"
            *ngIf="(form.get('placeOfResidence').touched || form.get('placeOfResidence').dirty) && form.get('placeOfResidence').invalid">
            <p
              class="error-box__text"
              *ngIf="form.get('placeOfResidence').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
          </div>
        </div>
        <!-- <div class="form-item">
          <p class="form-item__label">Geschlecht</p>
          <div class="form-field form-field_select">
            <ng-select
                formControlName="gender"
                [searchable]="false"
                [clearable]="false"
                placeholder="Geschlecht"
                class="form-field__input custom-select">
                <ng-option [value]="'Männlich'">Männlich</ng-option>
                <ng-option [value]="'Weiblich'">Weiblich</ng-option>
                <ng-option [value]="'Divers'">Divers</ng-option>
            </ng-select>
          </div>
          <div
            class="error-box"
            *ngIf="(form.get('gender').touched || form.get('gender').dirty) && form.get('gender').invalid">
            <p
              class="error-box__text"
              *ngIf="form.get('gender').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
          </div>
        </div> -->
        <div class="form-item">
          <p class="form-item__label">Geburtsdatum</p>
          <div class="form-field field_datapicker" [owlDateTimeTrigger]="dt1">
              <input
                [owlDateTime]="dt1"
                class="form-field__input"
                formControlName="dateBirth"
                placeholder="DD/MM/YYYY">
              <owl-date-time
                #dt1
                pickerMode="dialog"
                pickerType="calendar"
                panelClass="calendar">
              </owl-date-time>
              <div class="form-field-type">
                <img src="../assets/image/calendar.svg">
              </div>
          </div>
          <div
            class="error-box"
            *ngIf="(form.get('dateBirth').touched || form.get('dateBirth').dirty) && form.get('dateBirth').invalid">
            <p
              class="error-box__text"
              *ngIf="form.get('dateBirth').hasError('required')">{{ 'local_error.FIELD_REQUIRED' | translate }}</p>
          </div>
        </div>
        <div class="steps-navigation">
          <button 
            type="submit" 
            class="steps-navigation__button steps-navigation__button_submit"
            [disabled]="!form.valid">
            Registrierung abschließen
            <svg viewBox="0 0 21 15"  xmlns="http://www.w3.org/2000/svg">
              <path d="M11.3109 13.8764C10.9118 14.4295 10.0883 14.4295 9.68912 13.8764L0.818707 1.58521C0.341408 0.923842 0.813982 0 1.62959 0H19.3704C20.186 0 20.6586 0.923841 20.1813 1.58521L11.3109 13.8764Z"/>
            </svg>
          </button>
          <button 
            type="button"
            class="steps-navigation__back-button"
            (click)="onChangeState()">
            <svg viewBox="0 0 21 15"  xmlns="http://www.w3.org/2000/svg">
              <path d="M11.3109 13.8764C10.9118 14.4295 10.0883 14.4295 9.68912 13.8764L0.818707 1.58521C0.341408 0.923842 0.813982 0 1.62959 0H19.3704C20.186 0 20.6586 0.923841 20.1813 1.58521L11.3109 13.8764Z"/>
            </svg>
            zurück
          </button>
        </div>
      </div>
  </form>
  <div class="successful-registration" [ngClass]="{animation: registrationStatus}">
      <img src="../assets/image/registration/suc.png" alt="" class="successful-registration__image">
      <h1 class="successful-registration__title">YEAH!</h1>
      <p class="successful-registration__subtitle">
        Dein Konto wurde erfolgreich <br>
        angelegt.
      </p>
      <div class="confirm-email">
        <div class="confirm-email-wrapper">
          <div class="confirm-email__circle">
            <svg viewBox="0 0 41 32" xmlns="http://www.w3.org/2000/svg" class="confirm-email__icon">
              <path d="M38.9375 19.0215C39.8005 19.0215 40.5 18.3058 40.5 17.423V6.95305C40.5 3.42748 37.6962 0.559189 34.25 0.559189H6.75C3.30375 0.559189 0.5 3.42748 0.5 6.95305V25.4153C0.5 28.9409 3.30375 31.8092 6.75 31.8092H34.25C37.6962 31.8092 40.5 28.9409 40.5 25.4153C40.5 24.5325 39.8005 23.8169 38.9375 23.8169C38.0745 23.8169 37.375 24.5325 37.375 25.4153C37.375 27.1781 35.9731 28.6123 34.25 28.6123H6.75C5.02688 28.6123 3.625 27.1781 3.625 25.4153V7.29177L17.1996 15.9271C18.2175 16.5745 19.3587 16.8983 20.5 16.8983C21.6413 16.8983 22.7825 16.5745 23.8004 15.9271L37.375 7.29177V17.423C37.375 18.3058 38.0745 19.0215 38.9375 19.0215ZM22.1502 13.2122C21.1323 13.8596 19.8677 13.8597 18.8498 13.2122L4.92883 4.3565C5.44195 3.97879 6.07102 3.75612 6.75 3.75612H34.25C34.929 3.75612 35.558 3.97887 36.0712 4.35658L22.1502 13.2122Z" />
            </svg>
          </div>
          <p class="confirm-email__text">  
            Bitte bestätige noch Deine E-Mail Adresse. Wir haben Dir dafür eine Mail geschickt.
          </p>
        </div>
      </div>
      <p class="successful-registration__text">
        Jetzt liegt es and Dir! <br>
        Profil ausfüllen - Dokumente hochladen einfach und 
        unkompliziert bewerben! <br>
        Schnapp Ihn Dir - Deinen Traumjob.
      </p>
      
      <button class="start-beint-button" (click)="onGoToRouter('/profile')">
        Weiter zu Deinem Profil
        <svg viewBox="0 0 21 15"  xmlns="http://www.w3.org/2000/svg" class="start-beint-button__arrow">
          <path d="M11.3109 13.8764C10.9118 14.4295 10.0883 14.4295 9.68912 13.8764L0.818707 1.58521C0.341408 0.923842 0.813982 0 1.62959 0H19.3704C20.186 0 20.6586 0.923841 20.1813 1.58521L11.3109 13.8764Z"/>
        </svg>
      </button>
  </div>
</section>

