@import "app/theme/reset.scss";
@import "app/theme/variables.scss";

.snack {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, .5);
}
// STYLE SNACKBAR
.snack-action {
	color:transparent!important;
	position: relative;
	width:15px;
	height:15px;
	margin-right:25px!important;
	&:before{
		content:'';
		width:15px;
		height:2px;
		background-color: #ffffff;
		position:absolute;
		left:0;
		top:50%;
		transform:  translateY(-50%) rotate(45deg);
	}
	&:after{
		content:'';
		width:15px;
		height:2px;
		background-color: #ffffff;
		position:absolute;
		left:0;
		top:50%;
		transform:  translateY(-50%) rotate(-45deg);
	}
}
.snackbar-info {
  background-color: $blue !important;
  color: #ffffff !important;
  font-weight: 700;
}
.snackbar-success {
  background-color: $green !important;
  color: #ffffff !important;
  font-weight: 700;
}
.snackbar-error {
  background-color: $red !important;
  color: #ffffff !important;
	font-weight: 700;
}
/* = STYLE CONTAINER = */
.container{
	padding:0 15px;
	margin:0 auto;
	position: relative;
	width:100%;
}
@media screen and (max-width:568px){
	.container{
		padding:0 2.5px;
	}
}
@media screen and (min-width: 568px) and (max-width: 767px){
	.container{
		max-width:568px;
		padding:0 5px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.container{
		max-width:768px;
		padding:0 10px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
	.container{
		max-width:992px;
	}
}
@media screen and (min-width:1200px){
	.container{
		max-width:1200px;
	}
}
/* = STYLE CONTAINER END = */
html,
body{
	height: 100%;
    overflow: auto;
}
body{
	font-size:18px;
	background-color:#ffffff;
	font-family:Gilroy Regular, sans-serif;
}

.error-box{
	margin-top:10px;
    &__text{
		color:$red;
		font-size: 16px;
		font-family: Gilroy Bold;
    }
}
@media screen and (max-width:480px) {
	.error-box{
        &__text{
            font-size: 14px;
        }
    }
}
@media screen and (max-width:375px) {
	.error-box{
        &__text{
            font-size: 12px;
        }
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: $gr, sans-serif; }

@import "app/theme/fonts";