@import "app/theme/reset.scss";
@import "app/theme/variables.scss";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// STYLE SIDE MENU
.mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent;
}
.mat-drawer:not(.mat-drawer-side){
		box-shadow: none;
}
.mat-drawer.mat-sidenav {
	background-color:transparent;
}
.mat-drawer-inner-container {
	background-color:$primary;
	border-bottom-right-radius: 50px;
}
.nav-header{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  z-index: 10;
  transition: .25s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__hamburger{
    width:40px;
    height:40px;
    background-color:transparent;
    margin:7px 0 0 7px;
    &:hover{
      background-color:transparent;
    }
  }
}
.side-menu{
	width:260px;
	padding:25px 35px 0 30px;
	&-header{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom:50px;
		&__logo{
			fill:#ffffff;
			height:26px;
		}
		&__close{
			background-color: transparent;
			padding:15px 0 0 15px;
			position: relative;
			z-index: 15;
			margin-bottom:5px;
			img{
				height: 12px;
			}
		}
	}
}
.nav-list{
	display:flex;
	flex-direction: column;
	&-item{
		margin-bottom:30px;
		&:last-child{
			margin-bottom:40px;
		}
		&__link{
			display: flex;
			align-items: center;
			&.route-active{
				.nav-list-item__icon{
					opacity: 1;
				}
			}
		}
		&__icon{
			height:25px;
			opacity: .5;
			margin-right:15px;
		}
		&__name{
			color:#ffffff;
			grid-template: 17px;
		}
	}
}
.log-out{
	background-color:transparent;
	display: flex;
	align-items:center;
	padding-top:40px;
	width:100%;
	border-top: 1px solid rgba(255, 255, 255, .2);
	&__icon{
		height:25px;
		margin-right:15px;
		opacity: .5;
	}
	&__text{
		color:#ffffff;
		font-family: $gr;
		font-size: 17px;
	}
}
// STYLE SIDE MENU END

// STYLE SNACKBAR
.snack {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, .5);
}
.snack-action {
	color:transparent!important;
	position: relative;
	width:15px;
	height:15px;
	margin-right:25px!important;
	&:before{
		content:'';
		width:15px;
		height:2px;
		background-color: #ffffff;
		position:absolute;
		left:0;
		top:50%;
		transform:  translateY(-50%) rotate(45deg);
	}
	&:after{
		content:'';
		width:15px;
		height:2px;
		background-color: #ffffff;
		position:absolute;
		left:0;
		top:50%;
		transform:  translateY(-50%) rotate(-45deg);
	}
}
.snackbar-info {
  background-color: $blue !important;
  color: #ffffff !important;
  font-weight: 700;
}
.snackbar-success {
  background-color: $green !important;
  color: #ffffff !important;
  font-weight: 700;
}
.snackbar-error {
  background-color: $red !important;
  color: #ffffff !important;
	font-weight: 700;
}
/* = STYLE CONTAINER = */
.container{
	padding:0 15px;
	margin:0 auto;
	position: relative;
	width:100%;
}
@media screen and (min-width: 320px) and (max-width:568px){
	.container{
		padding:0 2.5px;
	}
}
@media screen and (min-width: 568px) and (max-width: 767px){
	.container{
		max-width:568px;
		padding:0 5px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.container{
		max-width:768px;
		padding:0 10px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
	.container{
		max-width:992px;
	}
}
@media screen and (min-width:1200px){
	.container{
		max-width:1200px;
	}
}
/* = STYLE CONTAINER END = */
html,
body{
	height: 100%;
		overflow: auto;
		overflow-x: hidden;
}
body{
	font-size:18px;
	background-color:#ffffff;
	color:#313131;
	font-family:Gilroy Regular, sans-serif;
}

// BACKGROUND DECOR
.background{
    position: absolute;
    right:0;
		top:0;
    width:calc(100% - 60px);
		min-height: 100%;
    background-color:#F9F9F9;
    border-bottom-left-radius: 50px;
    &__circle{
        position: absolute;
        &_01{
            left:0;
            top:0; 
            height: 500px;
        }
        &_02{
            right:0;
            bottom:0;
            height:500px;
        }
    }
}
// BACKGROUND DECOR END

.error-box{
	margin-top:10px;
    &__text{
		color:$red;
		font-size: 16px;
		font-family: Gilroy Bold;
    }
}

// SWIPER 
app-home{
	.s-wrapper{
		overflow: inherit!important;
	}
	.s-wrapper,
	.swiper-wrapper,
	.swiper-slide{
		width:auto!important;
		height:auto!important;
		max-width: inherit!important;
    max-height: inherit!important;
	}
}
.mat-form-field-infix{
  &:after{
		right:25px!important;
		width:15px!important;
		height:5px!important;
		border:none!important;
		background-image: url('/assets/image/select-arrow.svg');
		background-repeat: no-repeat;
		background-size:contain;
		background-position:50%;
  }
}

@import "app/theme/fonts";

