@import "../../../theme/variables.scss";

::ng-deep .mat-bottom-sheet-container {
  padding:0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100vw;
  min-width: 100%;
  max-width: 100%;
}

.image-choice-body{
  padding:40px 0;
}
.file-input{
  display:none;
}
.sheet-button-box{
  display: flex;
  width:420px;
  margin: 0 auto;
}

.sheet-button{
  display: block;
  width:200px;
  padding:15px 0;
  color:$primary;
  font-size: 16px;
  font-family: $gb;
  border-radius: 50px;
  background-color:rgba(67, 71, 132, .1);
  &_select{
    background-color: $primary;
  }
  &_cancel{
    background-color:$blue;
    margin-right:20px;
  }
  &__text{
    text-transform: uppercase;
    color:#ffffff;
  }
}

@media screen and (max-width:568px) {
  .image-choice-body{
    padding:20px 0;
  }
  .sheet-button-box{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .sheet-button{
    width: 270px;
    &_cancel{
      margin-right:0;
    }
    &_select{
      margin-bottom:20px;
      order:-1;
    }
    &__text{
      font-size: 14px;
    }
  }
}